<div class="character-tab tradecrafts">
  <h1>Tradecrafts</h1>

  <div class="character-tab-page">

    <div class="tcard-display">
      <div class="tradecraft-panels tgrid g2">
        {{#each config.tradecraftOptionsMain as |field|}}
          <div class="field-panel">
            <div class="tradecraft-panel tgrid g7">
              <div class="tradecraft-panel-symbol field-panel-header">
                PRO
              </div>
              <div class="tradecraft-panel-symbol field-panel-header">
                Extra
              </div>
              <div class="tradecraft-panel-name field-panel-header gi4">
                {{field.name}}
              </div>
              <div class="tradecraft-panel-symbol field-panel-header">
                Bonus
              </div>
              {{#each field.tradecrafts as |tradecraft|}}
                <div class="tradecraft-panel-symbol">
                  <i class="fa-regular fa-circle"></i>
                </div>
                <div class="tradecraft-panel-symbol">
                  T
                </div>
                <div class="tradecraft-panel-name gi4">
                  {{tradecraft.name}}
                </div>
                <div class="tradecraft-panel-symbol">
                  +1
                </div>
              {{/each}}
            </div>
          </div>
       {{/each}}
      </div>
    </div>

    <div class="tcard-display">
      <div class="tcard-options">
        {{tcardOptions system.sheet.menus.fluencyOptions null system.sheet.fluencyFilters.search "fluency"}}
        {{#if system.sheet.menus.fluencyFilters}}
          <div class="tcard-options-content">
            {{> 'systems/teriock/templates/parts/character-parts/character-fluency-filter.hbs'}}
          </div>
        {{/if}}
      </div>
    <div class="tcard-container {{#if system.sheet.display.fluency.gapless}}gapless{{/if}} {{system.sheet.display.fluency.size}}">
      {{#each fluencies as |item|}}
        {{tcard
          img=item.img
          title=item.name
          subtitle=(tradecraft item.system.field item.system.tradecraft)
          text=(field item.system.field)
          id=item._id
          icons=(concat
            (ticon "comment" cssClass="share" action="share" id=item._id)
            (ticon "dice-d20" cssClass="roll" action="usefluency" id=item._id)
          )
        }}
      {{/each}}
      </div>
      {{#if (not (exists fluencies))}}
        <div class="no-results">
          <p>No fluencies found.</p>
        </div>
      {{/if}}
    </div>
  
  </div>
</div>