<div class="{{cssClass}} tsheet-page">
  <div class="ab-sheet-everything">
    <div class="ab-sheet-top">
      {{> "systems/teriock/src/templates/document-templates/shared/header.hbs"}}
      <div class="ab-bars">
        {{> "systems/teriock/src/templates/document-templates/item-templates/equipment-template/bars/eq-status-bar.hbs"}}
        {{> "systems/teriock/src/templates/document-templates/item-templates/equipment-template/bars/eq-consumable-bar.hbs"}}
        {{> "systems/teriock/src/templates/document-templates/item-templates/equipment-template/bars/eq-attack-bar.hbs"}}
        {{> "systems/teriock/src/templates/document-templates/item-templates/equipment-template/bars/eq-load-bar.hbs"}}
      </div>
    </div>
    {{> "systems/teriock/src/templates/document-templates/item-templates/equipment-template/parts/eq-menu.hbs"}}
    <div class="ab-main">
      <div class="ab-tags-all">
        {{> "systems/teriock/src/templates/document-templates/item-templates/equipment-template/tags/eq-classes-tags.hbs"}}
      </div>
      {{formGroup
        systemFields.description
        value=system.description
        enriched=enriched.description
        disabled=(not editable)
        hidden=(not (exists system.description))
      }}
      {{formGroup
        systemFields.notes
        value=system.notes
        enriched=enriched.notes
        disabled=(not editable)
        hidden=(not (exists system.notes))
      }}
      {{formGroup
        systemFields.flaws
        value=system.flaws
        enriched=enriched.flaws
        disabled=(not editable)
        hidden=(not (exists system.flaws))
      }}
      {{#if (exists system.sb)}}
        <div class="ab-section-container">
          <div class="ab-section">
            <span class="ab-section-title ab-section-title-dynamic">{{path TERIOCK.index.weaponFightingStyles system.sb}}
              Fighting Style</span>
          </div>
          <div class="ab-improvement-bar ab-fighting-style">
            {{{enriched.specialRules}}}
          </div>
        </div>
      {{/if}}
    </div>
    {{#if (or editable (exists properties))}}
      <div class="ab-main">
        {{#if editable}}
          <button class="createProperty" data-action="createProperty">Add Property</button>{{/if}}
        {{abilityCards properties system skipDescendants=true}}
      </div>
    {{/if}}
    {{> "systems/teriock/src/templates/document-templates/shared/effects.hbs"}}
  </div>
</div>
