<div class="{{cssClass}} tsheet-page">
  <div class="ab-sheet-everything">
    <div class="ab-sheet-top">
      {{> "systems/teriock/src/templates/document-templates/shared/header.hbs"}}
      <div class="ab-bars">
        {{> "systems/teriock/src/templates/document-templates/item-templates/equipment-template/bars/eq-status-bar.hbs"}}
        {{> "systems/teriock/src/templates/document-templates/item-templates/equipment-template/bars/eq-consumable-bar.hbs"}}
        {{> "systems/teriock/src/templates/document-templates/item-templates/equipment-template/bars/eq-attack-bar.hbs"}}
        {{> "systems/teriock/src/templates/document-templates/item-templates/equipment-template/bars/eq-load-bar.hbs"}}
      </div>
    </div>
    {{> "systems/teriock/src/templates/document-templates/item-templates/equipment-template/parts/eq-menu.hbs"}}
    <div class="ab-main">
      <div class="ab-tags-all">
        {{> "systems/teriock/src/templates/document-templates/item-templates/equipment-template/tags/eq-classes-tags.hbs"}}
      </div>
      {{formGroup
        systemFields.description
        value=system.description
        enriched=enriched.description
        enabled=(not disabled)
        hidden=(not (exists system.description))
      }}
      {{formGroup
        systemFields.notes
        value=system.notes
        enriched=enriched.notes
        enabled=(not disabled)
        hidden=(not (exists system.notes))
      }}
      {{formGroup
        systemFields.specialRules
        value=system.specialRules
        enriched=enriched.specialRules
        enabled=(not disabled)
        hidden=(not (exists system.specialRules))
      }}
      {{formGroup
        systemFields.flaws
        value=system.flaws
        enriched=enriched.flaws
        enabled=(not disabled)
        hidden=(not (exists system.flaws))
      }}
    </div>
    {{#if (or editable (exists properties))}}
      <div class="ab-main">
        {{#if editable}}
          <button class="createProperty" data-action="createProperty">Add Property</button>{{/if}}
        {{abilityCards properties system}}
      </div>
    {{/if}}
    {{> "systems/teriock/src/templates/document-templates/shared/effects.hbs"}}
  </div>
</div>
