<div class="{{cssClass}} tsheet-page {{#if system.elderSorcery}}es-container {{elementClass system.elements}}{{/if}}">
  {{#if (eq tab "overview")}}
    {{#if system.elderSorcery}}
      <div class="es-mask-rotator"></div>
    {{/if}}
    <div class="ab-sheet-everything">
      <div class="ab-sheet-top">
        {{> "systems/teriock/src/templates/document-templates/shared/header.hbs"}}
        <div class="ab-bars">
          {{> "systems/teriock/src/templates/document-templates/effect-templates/ability-template/bars/ab-status-bar.hbs"}}
          {{> "systems/teriock/src/templates/document-templates/effect-templates/ability-template/bars/ab-delivery-bar.hbs"}}
          {{> "systems/teriock/src/templates/document-templates/effect-templates/ability-template/bars/ab-targeting-bar.hbs"}}
          {{> "systems/teriock/src/templates/document-templates/effect-templates/ability-template/bars/ab-expansion-bar.hbs"}}
          {{> "systems/teriock/src/templates/document-templates/effect-templates/ability-template/bars/ab-costs-bar.hbs"}}
          {{#if
            system.consumable}}{{> "systems/teriock/src/templates/document-templates/shared/consumable-bar.hbs"}}{{/if}}
        </div>
      </div>
      {{> "systems/teriock/src/templates/document-templates/effect-templates/ability-template/parts/ab-menu.hbs"}}
      <div class="ab-main">
        <div class="ab-tags-all">
          {{> "systems/teriock/src/templates/document-templates/effect-templates/ability-template/tags/ab-summary-tags.hbs"}}
          {{> "systems/teriock/src/templates/document-templates/effect-templates/ability-template/tags/ab-effects-tags.hbs"}}
        </div>
        {{#if (and system.elderSorcery (exists system.elderSorceryIncant))}}
          <div class="es-incant">
            {{> "systems/teriock/src/templates/document-templates/effect-templates/ability-template/parts/ab-elder-sorcery.hbs"}}
          </div>
        {{/if}}
        <!-- Costs -->
        {{formGroup
          systemFields.costs.fields.mp.fields.value.fields.variable
          value=system.costs.mp.value.variable
          enriched=enriched.mpCost
          disabled=(not editable)
          hidden=(not (exists system.costs.mp.value.variable))
        }}
        {{formGroup
          systemFields.costs.fields.hp.fields.value.fields.variable
          value=system.costs.hp.value.variable
          enriched=enriched.hpCost
          disabled=(not editable)
          hidden=(not (exists system.costs.hp.value.variable))
        }}
        {{formGroup
          systemFields.costs.fields.gp.fields.value.fields.variable
          value=system.costs.gp.value.variable
          enriched=enriched.gpCost
          disabled=(not editable)
          hidden=(not (exists system.costs.gp.value.variable))
        }}
        {{formGroup
          systemFields.costs.fields.materialCost
          value=system.costs.materialCost
          enriched=enriched.materialCost
          disabled=(not editable)
          hidden=(not (exists system.costs.materialCost))
        }}
        <!-- Trigger -->
        {{formGroup
          systemFields.trigger
          value=system.trigger
          enriched=enriched.trigger
          disabled=(not editable)
          hidden=(not (exists system.trigger))
        }}
        <!-- Requirements -->
        {{formGroup
          systemFields.requirements
          value=system.requirements
          enriched=enriched.requirements
          disabled=(not editable)
          hidden=(not (exists system.requirements))
        }}
        <!-- Alterations  -->
        {{formGroup
          systemFields.limitation
          value=system.limitation
          enriched=enriched.limitation
          disabled=(not editable)
          hidden=(not (exists system.limitation))
        }}
        {{#if system.grantOnly}}
          <div class="ab-section-container">
            <div class="ab-section">
              <span class="ab-section-title ab-section-title-dynamic">Granter Only</span>
            </div>
            <div>
              {{{enriched.grantOnly}}}
            </div>
          </div>
        {{/if}}
        {{formGroup
          systemFields.improvement
          value=system.improvement
          enriched=enriched.improvement
          disabled=(not editable)
          hidden=(not (exists system.improvement))
        }}
        <!-- Overview -->
        {{formGroup
          systemFields.overview.fields.base
          value=system.overview.base
          enriched=enriched.baseOverview
          disabled=(not editable)
          hidden=(not (exists system.overview.base))
        }}
        {{formGroup
          systemFields.overview.fields.proficient
          value=system.overview.proficient
          enriched=enriched.proficientOverview
          disabled=(not editable)
          hidden=(not (exists system.overview.proficient))
          classes=(ifThen (not isProficient) "faded" "")
        }}
        {{formGroup
          systemFields.overview.fields.fluent
          value=system.overview.fluent
          enriched=enriched.fluentOverview
          disabled=(not editable)
          hidden=(not (exists system.overview.fluent))
          classes=(ifThen (not isFluent) "faded" "")
        }}
        <!-- Fields by interaction -->
        {{#if (eq system.interaction "attack")}}
          <!-- Show relevant attack fields in order -->
          {{formGroup
            systemFields.results.fields.critHit
            value=system.results.critHit
            enriched=enriched.onCriticalHit
            disabled=(not editable)
            hidden=(not (exists system.results.critHit))
          }}
          {{formGroup
            systemFields.results.fields.hit
            value=system.results.hit
            enriched=enriched.onHit
            disabled=(not editable)
            hidden=(not (exists system.results.hit))
          }}
          {{formGroup
            systemFields.results.fields.miss
            value=system.results.miss
            enriched=enriched.onMiss
            disabled=(not editable)
            hidden=(not (exists system.results.miss))
          }}
          {{formGroup
            systemFields.results.fields.critMiss
            value=system.results.critMiss
            enriched=enriched.onCriticalMiss
            disabled=(not editable)
            hidden=(not (exists system.results.critMiss))
          }}
        {{/if}}
        {{#if (eq system.interaction "feat")}}
          <!-- Show relevant feat fields in order -->
          {{formGroup
            systemFields.results.fields.critFail
            value=system.results.critFail
            enriched=enriched.onCriticalFail
            disabled=(not editable)
            hidden=(not (exists system.results.critFail))
          }}
          {{formGroup
            systemFields.results.fields.fail
            value=system.results.fail
            enriched=enriched.onFail
            disabled=(not editable)
            hidden=(not (exists system.results.fail))
          }}
          {{formGroup
            systemFields.results.fields.save
            value=system.results.save
            enriched=enriched.onSave
            disabled=(not editable)
            hidden=(not (exists system.results.save))
          }}
          {{formGroup
            systemFields.results.fields.critSave
            value=system.results.critSave
            enriched=enriched.onCriticalSave
            disabled=(not editable)
            hidden=(not (exists system.results.critSave))
          }}
        {{else}}
          <!-- Show relevant manifest and block fields in order -->
          {{formGroup
            systemFields.results.fields.save
            value=system.results.save
            enriched=enriched.onSave
            disabled=(not editable)
            hidden=(not (exists system.results.save))
          }}
          {{formGroup
            systemFields.results.fields.fail
            value=system.results.fail
            enriched=enriched.onFail
            disabled=(not editable)
            hidden=(not (exists system.results.fail))
          }}
        {{/if}}
        <!-- Heightened -->
        {{formGroup
          systemFields.heightened
          value=system.heightened
          enriched=enriched.heightened
          disabled=(not editable)
          hidden=(not (exists system.heightened))
        }}
        <!-- End Condition -->
        {{formGroup
          systemFields.endCondition
          value=system.endCondition
          enriched=enriched.endCondition
          disabled=(not editable)
          hidden=(not (exists system.endCondition))
        }}
        <!-- Improvements -->
        {{> "systems/teriock/src/templates/document-templates/effect-templates/ability-template/entries/ab-improvements-entries.hbs"}}
      </div>
      {{#if (or editable (exists subAbilities))}}
        <div class="ab-main">
          {{#if editable}}
            <button class="createAbility" data-action="createAbility">Add Ability</button>{{/if}}
          {{#each subAbilities as |doc|}}
            {{> "systems/teriock/src/templates/embed-templates/embed-card.hbs" doc.system.embedParts}}
          {{/each}}
        </div>
      {{/if}}
    </div>
  {{/if}}
  {{#if (eq tab "impacts")}}
    {{> "systems/teriock/src/templates/document-templates/effect-templates/ability-template/parts/ab-impacts.hbs"}}
  {{/if}}
</div>
