<div class="form-group" style="flex-direction: column;">
  {{formGroup
    (path systemFields "applies.fields" typeKey "fields.common")
    value=(path system "applies" typeKey "common")
    classes="teriock-full-width"
    disabled=(not editable)
    rootId=uuid
  }}
  {{formGroup
    (path systemFields "applies.fields" typeKey "fields.rolls")
    value=(path system "applies" typeKey "rolls")
    choices=config.consequenceOptions.rolls
    disabled=(not editable)
  }}
  {{formGroup
    (path systemFields "applies.fields" typeKey "fields.statuses")
    value=(path system "applies" typeKey "statuses")
    choices=config.consequenceOptions.statuses
    classes="teriock-full-width"
    disabled=(not editable)
  }}
  {{formGroup
    (path systemFields "applies.fields" typeKey "fields.startStatuses")
    value=(path system "applies" typeKey "startStatuses")
    choices=config.consequenceOptions.statuses
    classes="teriock-full-width"
    disabled=(not editable)
  }}
  {{formGroup
    (path systemFields "applies.fields" typeKey "fields.endStatuses")
    value=(path system "applies" typeKey "endStatuses")
    choices=config.consequenceOptions.statuses
    classes="teriock-full-width"
    disabled=(not editable)
  }}
  {{formGroup
    (path systemFields "applies.fields" typeKey "fields.hacks")
    value=(path system "applies" typeKey "hacks")
    choices=config.consequenceOptions.hacks
    classes="teriock-full-width"
    disabled=(not editable)
  }}
  {{formGroup
    (path systemFields "applies.fields" typeKey "fields.checks")
    value=(path system "applies" typeKey "checks")
    choices=config.tradecraftOptionsList
    classes="teriock-full-width"
    disabled=(not editable)
  }}
  {{formGroup
    (path systemFields "applies.fields" typeKey "fields.duration")
    value=(path system "applies" typeKey "duration")
    disabled=(not editable)
  }}
  <!-- Changes UI -->
  {{> "systems/teriock/src/templates/document-templates/effect-templates/ability-template/parts/_consequence-changes.hbs"}}
  <!-- Expiration UI -->
  {{formGroup
    (path systemFields "applies.fields" typeKey "fields.expiration.fields.doesExpire")
    value=(path system "applies" typeKey "expiration.doesExpire")
    disabled=(not editable)
    classes="teriock-full-width"
    rootId=uuid
  }}
  {{#if (path system "applies" typeKey "expiration.doesExpire")}}
    <fieldset class="teriock-full-width" style="margin-top: 6px;">
      <legend>Normal Combat Expiration</legend>
      {{> "systems/teriock/src/templates/document-templates/effect-templates/ability-template/parts/_consequence-expiration.hbs"
        editable=editable
        expirationKey="normal"
        system=system
        systemFields=systemFields
        typeKey=typeKey
      }}
    </fieldset>
    {{formGroup
      (path systemFields "applies.fields" typeKey "fields.expiration.fields.changeOnCrit")
      value=(path system "applies" typeKey "expiration.changeOnCrit")
      disabled=(not editable)
      classes="teriock-full-width"
      rootId=uuid
    }}
  {{/if}}
  {{#if (path system "applies" typeKey "expiration.changeOnCrit")}}
    <fieldset class="teriock-full-width" style="margin-top: 6px;">
      <legend>Crit Combat Expiration</legend>
      {{> "systems/teriock/src/templates/document-templates/effect-templates/ability-template/parts/_consequence-expiration.hbs"
        editable=editable
        expirationKey="crit"
        system=system
        systemFields=systemFields
        typeKey=typeKey
      }}
    </fieldset>
  {{/if}}
</div>