<div class="teriock-full-width">
  {{formGroup
    (path
      systemFields
      "applies.fields"
      typeKey
      "fields.expiration.fields"
      expirationKey
      "fields.combat.fields.what.fields.type"
    )
    value=(path
      system "applies" typeKey "expiration" expirationKey "combat.what.type"
    )
    disabled=(not editable)
    classes="teriock-full-width"
  }}
  {{formGroup
    (path
      systemFields
      "applies.fields"
      typeKey
      "fields.expiration.fields"
      expirationKey
      "fields.combat.fields.what.fields.roll"
    )
    value=(path
      system "applies" typeKey "expiration" expirationKey "combat.what.roll"
    )
    disabled=(not editable)
    classes="teriock-full-width"
  }}
  {{formGroup
    (path
      systemFields
      "applies.fields"
      typeKey
      "fields.expiration.fields"
      expirationKey
      "fields.combat.fields.what.fields.threshold"
    )
    value=(path
      system
      "applies"
      typeKey
      "expiration"
      expirationKey
      "combat.what.threshold"
    )
    disabled=(not editable)
    classes="teriock-full-width"
  }}
  {{formGroup
    (path
      systemFields
      "applies.fields"
      typeKey
      "fields.expiration.fields"
      expirationKey
      "fields.combat.fields.when.fields.time"
    )
    value=(path
      system "applies" typeKey "expiration" expirationKey "combat.when.time"
    )
    disabled=(not editable)
    classes="teriock-full-width"
  }}
  {{formGroup
    (path
      systemFields
      "applies.fields"
      typeKey
      "fields.expiration.fields"
      expirationKey
      "fields.combat.fields.when.fields.trigger"
    )
    value=(path
      system "applies" typeKey "expiration" expirationKey "combat.when.trigger"
    )
    disabled=(not editable)
    classes="teriock-full-width"
  }}
  {{formGroup
    (path
      systemFields
      "applies.fields"
      typeKey
      "fields.expiration.fields"
      expirationKey
      "fields.combat.fields.when.fields.skip"
    )
    value=(path
      system "applies" typeKey "expiration" expirationKey "combat.when.skip"
    )
    disabled=(not editable)
    classes="teriock-full-width"
  }}
  {{formGroup
    (path
      systemFields
      "applies.fields"
      typeKey
      "fields.expiration.fields"
      expirationKey
      "fields.combat.fields.who.fields.type"
    )
    value=(path
      system "applies" typeKey "expiration" expirationKey "combat.who.type"
    )
    disabled=(not editable)
    classes="teriock-full-width"
  }}
</div>