<div class="ab-menu">
  <div class="ab-menu-content">
    <div class="ab-menu-bar">
      <div class="tgrid ab-check-grid">
        {{> (template "document-templates/shared/display-toggles.hbs")}}
      </div>
    </div>
    <div class="ab-menu-bar">
      <div class="tgrid ab-select-grid">
        <div class="tgrid-item">
          <div class="ab-multi-select-label">
            <label class="tsubtle">Power Sources</label>
            {{formInput
              systemFields.powerSources
              value=system.powerSources
              disabled=(not editable)
            }}
          </div>
        </div>
        <div class="tgrid-item">
          <div class="ab-multi-select-label">
            <label class="tsubtle">Elements</label>
            {{formInput
              systemFields.elements
              value=system.elements
              disabled=(not editable)
            }}
          </div>
        </div>
        <div class="tgrid-item">
          <div class="ab-multi-select-label">
            <label class="tsubtle">Effect Types</label>
            {{formInput
              systemFields.effectTypes
              value=system.effectTypes
              disabled=(not editable)
            }}
          </div>
        </div>
        <div class="tgrid-item">
          <div class="ab-multi-select-label">
            <label class="tsubtle">Class</label>
            {{formInput
              systemFields.class
              value=system.class
              disabled=(not editable)
            }}
          </div>
        </div>
      </div>
    </div>
    <div class="ab-menu-bar">
      <div class="tgrid ab-button-grid">
        {{#if (not (exists system.expansion))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-expansion-button"
              {{#if (not editable)}}
                    disabled="disabled"
              {{/if}}
            >
              {{{TERIOCK.display.icons.add}}}
              Expansion
            </button>
          </div>
        {{/if}}

        {{! Before Overview }}
        {{#if (not (exists system.elderSorceryIncant))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-es-incant-button"
              {{#if (not editable)}}
                    disabled="disabled"
              {{/if}}
            >
              {{{TERIOCK.display.icons.add}}}
              Elder Sorcery Incant
            </button>
          </div>
        {{/if}}
        {{#if (eq system.costs.mp.type "none")}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-mana-cost-button"
              {{#if (not editable)}}
                    disabled="disabled"
              {{/if}}
            >
              {{{TERIOCK.display.icons.add}}}
              Mana Cost
            </button>
          </div>
        {{/if}}
        {{#if (eq system.costs.hp.type "none")}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-hit-cost-button"
              {{#if (not editable)}}
                    disabled="disabled"
              {{/if}}
            >
              {{{TERIOCK.display.icons.add}}}
              Hit Cost
            </button>
          </div>
        {{/if}}
        {{#if (eq system.costs.gp.type "none")}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-gold-cost-button"
              {{#if (not editable)}}
                    disabled="disabled"
              {{/if}}
            >
              {{{TERIOCK.display.icons.add}}}
              Gold Cost
            </button>
          </div>
        {{/if}}
        {{#if (not (exists system.costs.break))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-break-cost-button"
              {{#if (not editable)}}
                    disabled="disabled"
              {{/if}}
            >
              {{{TERIOCK.display.icons.add}}}
              Break Cost
            </button>
          </div>
        {{/if}}
        {{> (template "document-templates/shared/display-field-buttons.hbs")}}
        {{! Improvements }}
        {{#if
          (not (exists system.improvements.attributeImprovement.attribute))
        }}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-attribute-improvement-button"
              {{#if (not editable)}}
                    disabled="disabled"
              {{/if}}
            >
              {{{TERIOCK.display.icons.add}}}
              Attribute Improvement
            </button>
          </div>
        {{/if}}
        {{#if (not (exists system.improvements.featSaveImprovement.attribute))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-feat-save-improvement-button"
              {{#if (not editable)}}
                    disabled="disabled"
              {{/if}}
            >
              {{{TERIOCK.display.icons.add}}}
              Feat Save Improvement
            </button>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>
