<div class="character-tab conditions">
  <h1>Effects</h1>
  <div class="character-tab-page teriock-block-results" data-search-key="effects">
    <div class="teriock-block-display">
      <div class="teriock-block-options">
        {{blockOptions
          settings.menus.consequenceOptions null null settings.consequenceFilters.search
          "consequence" key="effects" addAction="createConsequence"
          gaplessPath="flags.teriockDocumentSettings.sheetBlockEffectsGapless"
          sizePath="flags.teriockDocumentSettings.sheetBlockEffectsSize"
        }}
      </div>
      {{> (template "document-templates/actor-templates/playable-template/results/search-results.hbs")
        docs=consequences
        searchKey="effects"
        displayKey="consequence"
        empty="consequences"
        gapless="sheetBlockEffectsGapless"
        size="sheetBlockEffectsSize"
      }}
      <div class="teriock-block-display-divider"></div>
      {{> (template "document-templates/actor-templates/playable-template/results/search-results.hbs")
        docs=attunements
        searchKey="effects"
        displayKey="consequence"
        empty="attunements"
        gapless="sheetBlockEffectsGapless"
        size="sheetBlockEffectsSize"
      }}
      <div class="teriock-block-display-divider"></div>
      {{> (template "document-templates/actor-templates/playable-template/results/ch-condition-results.hbs")}}
    </div>
    <div class="teriock-block-display">
      <div class="tgrid g4 condition-toggle-container">
        {{#each TERIOCK.data.conditions as |condition key|}}
          {{#if (not (eq key "conscious"))}}
            <div class="condition-toggle {{#if (not (includes ../removableConditions key))}}inactive{{/if}}"
                 data-action="toggleCondition"
                 data-condition="{{{key}}}"
                 data-tooltip="Toggle {{condition.name}} {{#if (includes ../removableConditions key)
                 }}Off{{else}}On{{/if}}"
            >
              <div class="condition-image-container">
                <div class="condition-image">
                  <img src={{getIconKey "conditions" key}} alt="{{condition.name}}">
                </div>
              </div>
              <div class="condition-label tsubtle">
                {{condition.name}}
              </div>
            </div>
          {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</div>