<div class="character-tab tradecrafts">
  <h1>Tradecrafts</h1>
  <div class="character-tab-page teriock-block-results" data-search-key="fluencies">
    <div class="teriock-block-display" data-tooltip-direction="LEFT">
      <div class="tradecraft-panels tgrid g2">
        {{#each TERIOCK.options.tradecraft as |field|}}
          {{#if (not (eq field.name "Prestige"))}}
            <div class="field-panel">
              <div class="tradecraft-panel tgrid g6" data-tooltip-direction="UP">
                <div class="tradecraft-panel-symbol field-panel-header" data-tooltip="Proficiency/Fluency">
                  PRO
                </div>
                <div class="tradecraft-panel-symbol field-panel-header" data-tooltip="Talent/Expertise/Mastery">
                  Tal
                </div>
                <div class="tradecraft-panel-name field-panel-header gi3">
                  <span data-tooltip="Name">{{field.name}}</span>
                </div>
                <div class="tradecraft-panel-symbol field-panel-header" data-tooltip="Total Check Modifier">
                  Mod
                </div>
                {{#each field.tradecrafts as |tradecraft name|}}
                  <div class="tradecraft-container tgrid g6 gi6"
                    {{#if (and (not (eq ../name "Artisan")) (not (eq ../name "Scholar")))}}
                       data-tooltip-direction="RIGHT"
                    {{else}}
                       data-tooltip-direction="LEFT"
                       data-tooltip-left="true"
                    {{/if}}
                       data-make-tooltip="true"
                       data-uuid="{{lookup @root/TERIOCK.system.uuids.tradecrafts name}}"
                  >
                    <div class="tradecraft-panel-symbol ch-tradecraft-pro-box grid-fill"
                         data-action="quickToggle"
                         data-path="system.tradecrafts.{{name}}.proficient"
                         data-bool="{{path ../../system.tradecrafts name 'proficient'}}"
                         data-tooltip-direction="LEFT"
                         data-tooltip-class=""
                    >
                      {{#if (path ../../system.tradecrafts name 'fluent')}}
                        <i class="thover fa-solid fa-circle-dot grid-fill" data-tooltip="Fluent"></i>
                      {{else}}
                        {{#if (path ../../system.tradecrafts name 'proficient')}}
                          <i class="thover fa-regular fa-circle-dot grid-fill" data-tooltip="Proficient"></i>
                        {{else}}
                          <i class="thover fa-regular fa-circle grid-fill" data-tooltip="Normal"></i>
                        {{/if}}
                      {{/if}}
                    </div>
                    <div class="tradecraft-panel-symbol thover grid-fill" data-action="tradecraftExtra"
                         data-tradecraft="{{name}}" data-tooltip-direction="LEFT" data-tooltip-class="">
                      {{#if (eq (path ../../system.tradecrafts name 'score') 0)}}
                        <i class="thover fa-fw fa-regular fa-xmark grid-fill" data-tooltip="Normal"></i>
                      {{/if}}
                      {{#if (eq (path ../../system.tradecrafts name 'score') 1)}}
                        <i class="thover fa-fw fa-regular fa-check grid-fill" data-tooltip="Talented"></i>
                      {{/if}}
                      {{#if (eq (path ../../system.tradecrafts name 'score') 2)}}
                        <i class="thover fa-fw fa-regular fa-check-double grid-fill" data-tooltip="Expertise"></i>
                      {{/if}}
                      {{#if (gte (path ../../system.tradecrafts name 'score') 3)}}
                        <i class="thover fa-fw fa-regular fa-badge-check grid-fill" data-tooltip="Mastery"></i>
                      {{/if}}
                    </div>
                    <div class="tradecraft-panel-name thover gi3" data-action="rollTradecraft"
                         data-tradecraft="{{name}}"
                    >
                      {{tradecraft.name}}
                    </div>
                    <div class="tradecraft-panel-symbol">
                      {{path ../../system.tradecrafts name 'value'}}
                    </div>
                  </div>
                {{/each}}
              </div>
            </div>
          {{/if}}
        {{/each}}
      </div>
    </div>
    <div class="teriock-block-display">
      <div class="teriock-block-options">
        {{blockOptions settings.menus.fluencyOptions null null settings.fluencyFilters.search "fluency"
                       key="fluencies" addAction="createFluency"}}
      </div>
      {{> (template "document-templates/actor-templates/playable-template/results/search-results.hbs")
        docs=fluencies
        searchKey="fluencies"
        displayKey="fluency"
        empty="fluencies"
      }}
    </div>
  </div>
</div>