{{!--
  Reusable changes template. This is generalized so that it works for the default `ActiveEffect` changes as well as
  custom arrays that have the same basic format.

  Parameters (and default values for normal `ActiveEffect` changes):
  - changesPath: "changes"
  - changesData: (path document "changes")
  - fieldDefs: (path fields "changes.element.fields")
  - additionalAttrs: Not actually needed for default changes. This is for abilities mainly.
--}}

<ol class="change-config-container" data-changes>
  {{#each changesData as |change i|}}
    {{#with ../fieldDefs as |changeFields|}}
      <li class="change-container" data-index="{{i}}">
        <div class="change-entry">
          {{formInput
            changeFields.key
            name=(concat ../../changesPath "." i ".key")
            value=change.key
            disabled=(not @root/editable)
            icon=@root/TERIOCK.display.icons.ui.changeKey
            id=(concat @root/sheetId ../../changesPath "." i ".key")
            dataset=(object tooltip=change.key)
          }}
          {{formInput
            changeFields.value
            name=(concat ../../changesPath "." i ".value")
            value=change.value
            icon=@root/TERIOCK.display.icons.ui.changeValue
            disabled=(not @root/editable)
            id=(concat @root/sheetId ../../changesPath "." i ".value")
            dataset=(object tooltip=change.value)
          }}
        </div>
        <div class="change-config">
          <div class="change-activation">
            {{formInput
              changeFields.qualifier
              name=(concat ../../changesPath "." i ".qualifier")
              value=change.qualifier
              disabled=(not @root/editable)
              icon=@root/TERIOCK.display.icons.ui.qualifier
              id=(concat @root/sheetId ../../changesPath "." i ".qualifier")
              dataset=(object tooltip=change.qualifier)
            }}
            {{formInput
              changeFields.priority
              name=(concat ../../changesPath "." i ".priority")
              value=change.priority
              icon=@root/TERIOCK.display.icons.ui.priority
              placeholder=(lookup ../../priorities change.mode)
              disabled=(not @root/editable)
              id=(concat @root/sheetId ../../changesPath "." i ".priority")
              dataset=(object tooltip=change.priority)
            }}
          </div>
          <div class="change-assignment">
            {{formInput
              changeFields.mode
              name=(concat ../../changesPath "." i ".mode")
              value=change.mode
              icon=@root/TERIOCK.display.icons.ui.changeMode
              choices=@root/TERIOCK.options.effect.changeMode
              disabled=(not @root/editable)
              id=(concat @root/sheetId ../../changesPath "." i ".mode")
            }}
            {{formInput
              changeFields.target
              name=(concat ../../changesPath "." i ".target")
              value=change.target
              icon=@root/TERIOCK.display.icons.ui.changeTarget
              disabled=(not @root/editable)
              id=(concat @root/sheetId ../../changesPath "." i ".target")
            }}
            {{formInput
              changeFields.time
              name=(concat ../../changesPath "." i ".time")
              icon=@root/TERIOCK.display.icons.ui.time
              value=change.time
              disabled=(not @root/editable)
              id=(concat @root/sheetId ../../changesPath "." i ".time")
              dataset=(object tooltip=(path @root/TERIOCK.options.change.time change.time "hint"))
            }}
          </div>
        </div>
        <div class="change-controls">
          <button
            class="change-delete"
            data-action="deleteChange"
            data-tooltip="{{localize "TERIOCK.CHANGES.Actions.deleteChange"}}"
            data-index="{{i}}"
            data-path="{{../../changesPath}}"
            data-value-path="{{../../valuePath}}"
            {{#each ../additionalAttrs as |value key|}}data-{{key}}="{{value}}" {{/each}}
            {{#if (not @root/editable)}}disabled="disabled"{{/if}}
          >
            {{makeIcon @root/TERIOCK.display.icons.ui.delete "button"}}
          </button>
        </div>
      </li>
    {{/with}}
  {{/each}}
  <button
    class="add-change-button"
    data-action="addChange"
    data-path="{{changesPath}}"
    data-value-path="{{valuePath}}"
    {{#each additionalAttrs as |value key|}}data-{{key}}="{{value}}" {{/each}}
    {{#if (not @root/editable)}}disabled="disabled"{{/if}}
  >
    {{makeIcon TERIOCK.display.icons.ui.add "button"}}
    {{localize "TERIOCK.CHANGES>Actions.addChange"}}
  </button>
</ol>