{{!--
  Reusable changes template. This is generalized so that it works for the default `ActiveEffect` changes as well as
  custom arrays that have the same basic format.

  Parameters (and default values for normal `ActiveEffect` changes):
  - changesPath: "changes"
  - changesData: (path document "changes")
  - fieldDefs: (path fields "changes.element.fields")
  - additionalAttrs: Not actually needed for default changes. This is for abilities mainly.
--}}

<ol class="change-config-container" data-changes>
  {{#each changesData as |change i|}}
    {{#with ../fieldDefs as |changeFields|}}
      <li class="change-container" data-index="{{i}}">
        <div class="change-entry">
          {{formInput
            changeFields.key
            name=(concat ../../changesPath "." i ".key")
            value=change.key
            disabled=(not @root/editable)
            icon="search"
            id=(concat @root/sheetId ../../changesPath "." i ".key")
            dataset=(object tooltip=change.key)
          }}
          {{formInput
            changeFields.value
            name=(concat ../../changesPath "." i ".value")
            value=change.value
            icon="arrow-turn-down-right"
            disabled=(not @root/editable)
            id=(concat @root/sheetId ../../changesPath "." i ".value")
            dataset=(object tooltip=change.value)
          }}
        </div>
        <div class="change-config">
          <div class="change-activation">
            {{formInput
              changeFields.qualifier
              name=(concat ../../changesPath "." i ".qualifier")
              value=change.qualifier
              disabled=(not @root/editable)
              icon="eye-low-vision"
              id=(concat @root/sheetId ../../changesPath "." i ".qualifier")
              dataset=(object tooltip=change.qualifier)
            }}
            {{formInput
              changeFields.priority
              name=(concat ../../changesPath "." i ".priority")
              value=change.priority
              icon="arrow-down-arrow-up"
              placeholder=(lookup ../../priorities change.mode)
              disabled=(not @root/editable)
              id=(concat @root/sheetId ../../changesPath "." i ".priority")
              dataset=(object tooltip=change.priority)
            }}
          </div>
          <div class="change-assignment">
            {{formInput
              changeFields.mode
              name=(concat ../../changesPath "." i ".mode")
              value=change.mode
              icon="calculator-simple"
              choices=@root/modes
              disabled=(not @root/editable)
              id=(concat @root/sheetId ../../changesPath "." i ".mode")
            }}
            {{formInput
              changeFields.target
              name=(concat ../../changesPath "." i ".target")
              value=change.target
              icon="bullseye-pointer"
              disabled=(not @root/editable)
              id=(concat @root/sheetId ../../changesPath "." i ".target")
            }}
            {{formInput
              changeFields.time
              name=(concat ../../changesPath "." i ".time")
              icon="clock"
              value=change.time
              disabled=(not @root/editable)
              id=(concat @root/sheetId ../../changesPath "." i ".time")
              dataset=(object tooltip=(path @root/TERIOCK.options.change.time change.time "hint"))
            }}
          </div>
        </div>
        <div class="change-controls">
          <button
            class="change-delete"
            data-action="deleteChange"
            data-tooltip="Delete Change"
            data-index="{{i}}"
            data-path="{{../../changesPath}}"
            {{#each ../additionalAttrs as |value key|}}data-{{key}}="{{value}}" {{/each}}
            {{#if (not @root/editable)}}disabled="disabled"{{/if}}
          >
            <i class="fa-solid fa-trash"></i>
          </button>
        </div>
      </li>
    {{/with}}
  {{/each}}
  <button
    class="add-change-button"
    data-action="addChange"
    data-path="{{changesPath}}"
    {{#each additionalAttrs as |value key|}}data-{{key}}="{{value}}" {{/each}}
    {{#if (not @root/editable)}}disabled="disabled"{{/if}}
  >
    <i class="fas fa-plus"></i>
    Add Change
  </button>
</ol>