<div class="ab-header {{#if (eq item.type "equipment")}}{{#if system.shattered}}shattered{{/if}}{{/if}}">
  <div
    class="ab-profile-img {{#if (not editable)}}timage{{/if}}"
    data-src="{{img}}"
    {{#if (exists system.color)}}style="outline-color: {{{system.color}}};"{{/if}}
  >
    <img
      class="profile-img"
      src="{{img}}"
      data-edit="img"
      alt=""
      {{#if editable}}data-action="editImage"{{/if}}
      data-openable="true"
      data-shareable="true"
      title="{{name}}"
    />
  </div>
  <div class="ab-title affix">
    <label data-debug="true">
      {{#if (not (eq name system.nameString))}}
        <span class="ab-title-text tfont-{{system.font}} unselected">
          {{system.nameString}}
        </span>
      {{/if}}
      <input
        class="tfont-{{system.font}} {{#if (not (eq name system.nameString))}}selected{{/if}}"
        type="text"
        name="name"
        value="{{name}}"
        placeholder="Name"
        {{#if (not editable)}}
        readonly="readonly"
        {{/if}}
      />
    </label>
  </div>
  <div
    class="ab-competence thover"
    style="color: var(--color-text-subtle);"
    data-tooltip="{{system.competence.description}}"
    {{#if editable}}
    data-action="increment"
    {{/if}}
    data-path="system.competence.raw"
  >
    <i class="{{system.competence.iconClass}}"></i>
  </div>
</div>
