<div class="ab-bar ab-bar-1">
  <div class="ab-box-container">
    <div
      class="ab-box execution-box ab-input-box"
      maneuver="{{lookup config.abilityOptions.maneuver system.maneuver}}"
      data-tooltip="Execution Time"
    >
      <div class="ab-box-icon">
        {{{config.icons.execution}}}
      </div>
      <div class="ab-box-content">
        {{#if (eq system.maneuver "active")}}
          {{lookup
            config.abilityOptions.executionTime.active
            system.executionTime
          }}
        {{/if}}
        {{#if (eq system.maneuver "reactive")}}
          {{lookup
            config.abilityOptions.executionTime.reactive
            system.executionTime
          }}
        {{/if}}
        {{#if (eq system.maneuver "passive")}}
          Passive
        {{/if}}
        {{#if (eq system.maneuver "slow")}}
          <input
            class="ability-bar-input"
            name="system.executionTime"
            type="text"
            value="{{system.executionTime}}"
            data-edit="system.executionTime"
          />
        {{/if}}
      </div>
    </div>
  </div>

  <div class="ab-box-container">
    <div class="ab-box delivery-box" data-tooltip="Delivery">
      <div class="ab-box-icon">
        {{{config.icons.delivery}}}
      </div>
      <div class="ab-box-content">
        {{lookup config.abilityOptions.piercing system.piercing}}
        {{lookup config.abilityOptions.delivery system.delivery.base}}
      </div>
    </div>
  </div>

  <div class="ab-box-container">
    <div
      class="ab-box interaction-box interaction-box-{{system.interaction}}"
      data-tooltip="Interaction"
    >
      <div class="ab-box-icon">
        {{{config.icons.interaction}}}
      </div>
      <div class="ab-box-content">
        {{#if (eq system.interaction "feat")}}
          {{lookup
            config.abilityOptions.featSaveAttribute
            system.featSaveAttribute
          }}
        {{/if}}
        {{lookup config.abilityOptions.interaction system.interaction}}
      </div>
    </div>
  </div>
</div>