{{#if
  (or
    (exists system.av.raw)
    (exists system.bv.raw)
    (exists system.damage.base.raw)
    (exists system.range.long.raw)
  )
}}
  <div class="ab-bar">
    {{formBox
      (formInput
        systemFields.damage.fields.base
        dataset=(object tooltip=(ifThen (exists system._source.damage.twoHanded.raw) "Damage" ""))
        disabled=(not editable)
        value=system._source.damage.base.raw
      )
      secondary=(formInput
        systemFields.damage.fields.twoHanded
        dataset=(object tooltip="Two-Handed Damage")
        disabled=(not editable)
        value=system._source.damage.twoHanded.raw
      )
      icon=(firstDie system.damage.base.formula)
      include=(exists system.damage.base.raw)
      includeSecondary=(exists system._source.damage.twoHanded.raw)
      label="DMG"
      tooltip="Damage"
    }}
    {{formBox
      (formInput
        systemFields.av
        disabled=(not editable)
        value=system._source.av.raw
      )
      icon=TERIOCK.display.icons.armament.av
      include=(exists system.av.raw)
      label="AV"
      unselected=system.av.value
      tooltip=(localize "TERIOCK.SYSTEMS.Armament.FIELDS.av.raw.label")
    }}
    {{formBox
      (formInput
        systemFields.bv
        disabled=(not editable)
        value=system._source.bv.raw
      )
      icon=TERIOCK.display.icons.armament.bv
      include=(exists system.bv.raw)
      label="BV"
      unselected=system.bv.value
      tooltip=(localize "TERIOCK.SYSTEMS.Armament.FIELDS.bv.raw.label")
    }}
    {{formBox
      (formInput
        systemFields.hit
        disabled=(not editable)
        value=system._source.hit.raw
      )
      icon=TERIOCK.display.icons.armament.hitBonus
      include=(exists system.hit.raw)
      label="HIT"
      unselected=system.hit.raw
      tooltip=(localize "TERIOCK.SYSTEMS.Armament.FIELDS.hit.raw.label")
    }}
    {{formBox
      (formInput
        systemFields.attackPenalty
        disabled=(not editable)
        value=system._source.attackPenalty.raw
      )
      icon=TERIOCK.display.icons.armament.ap
      label="AP"
      unselected=system.attackPenalty.formula
      tooltip=(localize "TERIOCK.SYSTEMS.Armament.FIELDS.attackPenalty.raw.label")
    }}
  </div>
{{/if}}