<div class="ab-bar">
  {{#if (and isGM (not system.identification.read))}}
    {{formBox
      (path TERIOCK.options.equipment.powerLevel system.identification.powerLevel "name")
      classes=(ifThen editable "power-level-box")
      icon=(path TERIOCK.options.equipment.powerLevel "unknown" "icon")
      iconColor=(path
        TERIOCK.options.equipment.powerLevel system.identification.powerLevel "color"
      )
      tooltip="Power Level"
    }}
  {{else}}
    {{formBox
      (path TERIOCK.options.equipment.powerLevel system.powerLevel "name")
      classes=(ifThen editable "power-level-box")
      icon=(path TERIOCK.options.equipment.powerLevel system.powerLevel "icon")
      iconColor=(path
        TERIOCK.options.equipment.powerLevel system.powerLevel "color"
      )
      tooltip="Power Level"
    }}
  {{/if}}
  {{formBox
    (formInput
      systemFields.equipmentType
      value=system.equipmentType
      disabled=(not editable)
    )
    tooltip="Equipment Type"
    icon="staff"
  }}
  {{formBox
    (formInput
      systemFields.range.fields.long.fields.saved
      dataset=(object tooltip="Range")
      disabled=(not editable)
      value=system.range.long.saved
    )
    secondary=(formInput
      systemFields.range.fields.short.fields.saved
      dataset=(object tooltip="Short Range")
      disabled=(not editable)
      value=system.range.short.saved
    )
    after=false
    icon=(path TERIOCK.display.icons "range")
    include=(exists system.range.long.raw)
    includeSecondary=(exists system.range.short.raw)
    label="ft"
    unselected=system.range.long.raw
    unselectedSecondary=system.range.short.raw
  }}
</div>