<div class="ab-bar">
  {{#if (and isGM (not system.identification.read))}}
    {{formBox
      (path TERIOCK.options.equipment.powerLevel system.identification.powerLevel "name")
      classes=(ifThen editable "power-level-box")
      icon=(path TERIOCK.options.equipment.powerLevel "unknown" "icon")
      iconColor=(path
        TERIOCK.options.equipment.powerLevel system.identification.powerLevel "color"
      )
      tooltip="Power Level"
    }}
  {{else}}
    {{formBox
      (path TERIOCK.options.equipment.powerLevel system.powerLevel "name")
      classes=(ifThen editable "power-level-box")
      icon=(path TERIOCK.options.equipment.powerLevel system.powerLevel "icon")
      iconColor=(path
        TERIOCK.options.equipment.powerLevel system.powerLevel "color"
      )
      tooltip="Power Level"
    }}
  {{/if}}
  {{formBox
    (formInput
      systemFields.equipmentType
      value=system.equipmentType
      disabled=(not editable)
    )
    tooltip="Equipment Type"
    icon="staff"
  }}
  {{formBox
    (concat
      "<span style='flex: auto;' data-tooltip='"
      (ifThen (not (eq system.range.long.unitType "zero")) "Long Range" "Range")
      "' data-path='system.range.long' data-action='updateUnit'>"
      (ifThen (eq system.range.long.unitType "finite") system.range.long.formula system.range.long.text)
      "</span>"
    )
    secondary=(concat
      "<span style='flex: auto;' data-tooltip='Short Range' data-path='system.range.short' data-action='updateUnit'>"
      (ifThen (eq system.range.short.unitType "finite") system.range.short.formula system.range.short.text)
      "</span>"
    )
    after=false
    icon=(makeIcon TERIOCK.display.icons.ability.range "sheetForm")
    includeSecondary=(not (eq system.range.long.unitType "zero"))
    label=(ifThen (eq system.range.long.unitType "finite") system.range.long.symbol "")
  }}
</div>