<div class="tgrid g4">
  <div class="tgrid-item gi2">
    <label for="{{concat appId '.' 'equipmentClasses'}}"></label>
    <select
      name="settings.equipmentFilters.equipmentClasses"
      id="{{concat appId '.' 'equipmentClasses'}}"
      data-never-disable="true"
    >
      <option value="">{{localize "TERIOCK.SYSTEMS.Equipment.FIELDS.equipmentClasses.label"}}</option>
      {{selectOptions
        TERIOCK.options.equipment.equipmentClasses
        selected=settings.equipmentFilters.equipmentClasses
      }}
    </select>
  </div>
  <div class="tgrid-item gi2">
    <label for="{{concat appId '.' 'properties'}}"></label>
    <select
      name="settings.equipmentFilters.properties"
      id="{{concat appId '.' 'properties'}}"
      data-never-disable="true"
    >
      <option value="">{{localize "TERIOCK.PACKS.properties"}}</option>
      {{selectOptions
        TERIOCK.reference.properties
        selected=settings.equipmentFilters.properties
      }}
    </select>
  </div>
  <div class="tgrid-item gi2">
    <label for="{{concat appId '.' 'materialProperties'}}"></label>
    <select
      name="settings.equipmentFilters.materialProperties"
      id="{{concat appId '.' 'materialProperties'}}"
      data-never-disable="true"
    >
      <option value="">{{localize "TERIOCK.SHEETS.Actor.TABS.Inventory.filters.materialProperties"}}</option>
      {{selectOptions
        TERIOCK.reference.materialProperties
        selected=settings.equipmentFilters.materialProperties
      }}
    </select>
  </div>
  <div class="tgrid-item gi2">
    <label for="{{concat appId '.' 'magicalProperties'}}"></label>
    <select
      name="settings.equipmentFilters.magicalProperties"
      id="{{concat appId '.' 'magicalProperties'}}"
      data-never-disable="true"
    >
      <option value="">{{localize "TERIOCK.SHEETS.Actor.TABS.Inventory.filters.magicalProperties"}}</option>
      {{selectOptions
        TERIOCK.reference.magicalProperties
        selected=settings.equipmentFilters.magicalProperties
      }}
    </select>
  </div>
  <div class="tgrid-item gi2">
    <label for="{{concat appId '.' 'weaponFightingStyles'}}"></label>
    <select
      name="settings.equipmentFilters.weaponFightingStyles"
      id="{{concat appId '.' 'weaponFightingStyles'}}"
      data-never-disable="true"
    >
      <option value="">{{localize "TERIOCK.SYSTEMS.Armament.FIELDS.fightingStyle.label"}}</option>
      {{selectOptions
        TERIOCK.options.equipment.weaponFightingStyles
        selected=settings.equipmentFilters.weaponFightingStyles
      }}
    </select>
  </div>
  <div class="tgrid-item gi2">
    <label for="{{concat appId '.' 'powerLevel'}}"></label>
    <select
      name="settings.equipmentFilters.powerLevel"
      id="{{concat appId '.' 'powerLevel'}}"
      data-never-disable="true"
    >
      <option value="">{{localize "TERIOCK.SYSTEMS.Equipment.FIELDS.powerLevel.label"}}</option>
      {{selectOptions
        TERIOCK.options.equipment.powerLevelShort
        selected=settings.equipmentFilters.powerLevel
      }}
    </select>
  </div>
  <div class="tgrid-item">
    <label for="equipped">{{localize "TERIOCK.SYSTEMS.Equipment.FIELDS.equipped.label"}}</label>
    {{tswitch id="equipped" name="settings.equipmentFilters.equipped"}}
  </div>
  <div class="tgrid-item">
    <label for="shattered">{{localize "TERIOCK.SYSTEMS.Equipment.FIELDS.shattered.label"}}</label>
    {{tswitch id="shattered" name="settings.equipmentFilters.shattered"}}
  </div>
  <div class="tgrid-item">
    <label for="identified">{{localize "TERIOCK.MODELS.Identification.FIELDS.identified.label"}}</label>
    {{tswitch id="identified" name="settings.equipmentFilters.identified"}}
  </div>
  <div class="tgrid-item">
    <label for="consumable">{{localize "TERIOCK.SYSTEMS.Consumable.FIELDS.consumable.label"}}</label>
    {{tswitch id="consumable" name="settings.equipmentFilters.consumable"}}
  </div>
</div>