<div class="dialog-form standard-form cost-payer-form scrollable scroll-fade">
  <div class="teriock-form-container">
    {{#if heightened}}
      <div class="form-group">
        <label for='{{concat @root.partId "-" heightened.name}}'>{{ heightened.field.label }}</label>
        <div class="form-fields">
          {{formInput
            heightened.field
            id=(concat @root.partId "-" heightened.name)
            max=heightened.max
            name=heightened.name
            value=heightened.value
          }}
        </div>
        {{#if heightened.hint}}
          <div class="hint">
            {{{ heightened.hint }}}
          </div>
        {{/if}}
      </div>
    {{/if}}

    {{#each primaryCosts as |cost|}}
      <div class="form-group formula-input">
        <label for='{{concat @root.partId "-" cost.name}}'>
          {{ cost.field.label }}
          <span class="units">({{ cost.units }})</span>
        </label>
        <div class="form-fields">
          {{formInput
            cost.field
            id=(concat @root.partId "-" cost.name)
            integer=cost.integer
            name=cost.name
            placeholder=cost.placeholder
            value=cost.value
          }}
        </div>
        {{#if cost.hint}}
          <div class="hint">
            {{{ cost.hint }}}
          </div>
        {{/if}}
      </div>
    {{/each}}

    <div class="flexrow cost-payer-tweaks">
      {{#each tweakFields as |tweak|}}
        {{formGroup
          tweak.field
          classes="inline cost-payer-tweak"
          min=tweak.min
          name=tweak.name
          rootId=@root.partId
          value=tweak.value
          units=(localize
            "TERIOCK.SYSTEMS.Ability.PANELS.constant"
            value=(path
              @root/TERIOCK.config.cost.primary.keys
              (path @root/TERIOCK.config.cost.tweaks tweak.key "primary")
              "abbreviation")
            cost=(sign (path @root/TERIOCK.config.cost.tweaks tweak.key "multiplier")))
        }}
      {{/each}}
    </div>
  </div>
</div>
