<div
  class="dialog-form standard-form teriock dynamic-select"
  style="display:flex; flex-direction:column; height:100%; min-height:0; overflow:hidden;"
>

  {{#if (exists hint)}}
    <p class="hint">
      {{{ hint }}}
    </p>
  {{/if}}

  <div class="teriock-block-searchbar">
    <label>
      <input class="search-input" type="search" placeholder="Search..." autocomplete="off" />
    </label>
  </div>

  {{#if (exists documents)}}
    <div class="doc-list-outer-container">
      <div class="doc-list-container" tabindex="0">
        <ul class="doc-select teriock-block-container small" role="listbox">
          {{#each documents as |doc id|}}
            <li class="doc-select-item">
              <label
                class="doc-select-row teriock-block"
                {{#if (exists doc.uuid)}}
                  data-uuid="{{{ doc.uuid }}}"
                {{/if}}
                {{#if (and ../tooltip (exists doc.tooltipUuid))}}
                  data-tooltip-uuid="{{{ doc.tooltipUuid }}}"
                {{/if}}
                {{#if (and ../tooltip (exists doc.tooltipIdentifier))}}
                  data-tooltip-identifier="{{{ doc.tooltipIdentifier }}}"
                {{/if}}
                {{#if (and ../tooltip (exists doc.tooltipHtml))}}
                  data-tooltip-html="{{ doc.tooltipHtml }}"
                {{/if}}
              >
                <span class="doc-checkbox-container">
                  <input
                    id='doc-{{concat @root/appId "-" id}}'
                    {{#if checked}}
                      checked="checked"
                    {{/if}}
                    {{#if ../multi}}
                      type="checkbox"
                      name="{{ id }}"
                    {{else}}
                      type="radio"
                      name="{{concat "choice-" @root/appId}}"
                      value="{{ id }}"
                    {{/if}}
                  />
                </span>
                <span class="doc-image-container">
                  <img
                    alt=""
                    loading="lazy"
                    src="{{ doc.img }}"
                    {{#if doc.rescale}}
                      class="rescale"
                    {{/if}}
                  />
                </span>
                <span class="doc-name-container">{{ doc.name }}</span>
                <span class="doc-text-container">{{ doc.text }}</span>
              </label>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  {{/if}}
</div>
