<form class="dialog-form standard-form execution-editor-form">
  {{#if documents.length}}
    <section class="execution-editor-documents">
      {{#each documents as |doc|}}
        <div class="execution-editor-document">
          <div class="execution-editor-document-embed">
            {{> "teriock/ui/block"
              (merge doc.document.embedParts (object usable=false text="" icons=""))
            }}
          </div>
          {{#if doc.showFooter}}
            <div class="execution-editor-document-footer">
              {{#if doc.editable}}
                <a
                  class="execution-editor-document-change"
                  data-action="changeDocument"
                  data-document-index="{{ doc.index }}"
                  data-never-disable
                  data-tooltip='{{localize "TERIOCK.DIALOGS.ExecutionEditor.changeDocument"}}'
                >
                  {{#if doc.showLabel}}
                    {{#if doc.label}}
                      <span class="execution-editor-document-label">
                        {{ doc.label }}
                      </span>
                    {{/if}}
                  {{/if}}
                  {{makeIcon @root/TERIOCK.display.icons.ui.edit "button"}}
                </a>
              {{else if (and doc.showLabel doc.label)}}
                <span class="execution-editor-document-label">{{ doc.label }}</span>
              {{/if}}
            </div>
          {{/if}}
        </div>
      {{/each}}
    </section>
  {{/if}}

  {{#if mainFields.length}}
    <div class="teriock-form-container">
      {{> "teriock/shared/field-list"
        mainFields
      }}
    </div>
  {{/if}}

  {{#if smallFields.length}}
    <div class="ttable" style="column-gap: 1.5rem; row-gap: 0.75rem;">
      {{> "teriock/shared/field-list"
        smallFields
      }}
    </div>
  {{/if}}
</form>
