<div class="dialog-form standard-form stat-manager">
  <div class="stat-header">
    <div class="teriock-sheet-profile-img timage" data-tooltip="{{ name }}">
      <img src="{{ img }}" alt="" loading="lazy" />
    </div>
    <div class="stat-bar">
      {{> "teriock/sheets/actors/playable/parts/stat-bar"
        stat="hp"
      }}
    </div>
  </div>
  <p class="hint">
    {{#if noDice}}
      {{localize "TERIOCK.DIALOGS.Heal.hintNoDice"}}
    {{else}}
      {{localize "TERIOCK.DIALOGS.Heal.hintWithDice"}}
    {{/if}}
  </p>
  <fieldset class="stat-manager-hacks">
    <legend>{{localize "TERIOCK.TERMS.Common.hacks"}}</legend>
    {{> "teriock/sheets/actors/playable/parts/hack-box"}}
  </fieldset>
  {{#if (not noDice)}}
    <fieldset class="stat-manager-dice">
      <legend>{{localize "TERIOCK.SYSTEMS.StatGiver.FIELDS.statDice.hp.label"}}</legend>
      {{> "teriock/ui/stat-dice"
        dice=system.hp.dice
      }}
    </fieldset>
  {{/if}}
  {{#if (not noDice)}}
    <div class="standard-form teriock-form-container">
      {{formGroup
        consumeStatDiceField
        value=state.consumeStatDice
        rootId=appId
        name="state.consumeStatDice"
      }}
      {{formGroup
        forHarmField
        value=state.forHarm
        rootId=appId
        name="state.forHarm"
      }}
      {{formGroup
        substitutionField
        value=state.substitution
        rootId=appId
        name="state.substitution"
      }}
    </div>
  {{/if}}
</div>
