<form class="dialog-form standard-form heal-dialog">
  <div class="stat-header">
    <div class="ab-profile-img timage" data-tooltip="{{name}}">
      <img src="{{img}}" alt="">
    </div>
    <div class="stat-bar">
      {{> (template "sheets/actors/playable/parts/bar-mp.hbs")}}
    </div>
  </div>
  <p class="hint">{{localize "TERIOCK.DIALOGS.Revitalize.hint"}}</p>
  <fieldset class="heal-dialog-dice">
    <legend>{{localize "TERIOCK.SYSTEMS.StatGiver.FIELDS.statDice.mp.label"}}</legend>
    <div class="tgrid g7">
      {{{system.sheet.dieBox.mp}}}
    </div>
  </fieldset>
  {{formGroup forHarmField value=forHarm rootId=uuid name="for-harm"}}
  {{formGroup
    consumeStatDiceField
    value=consumeStatDice
    rootId=uuid
    name="consume-dice"
  }}
  <footer class="form-footer" style="margin-top:auto;">
    <button type="submit" data-action="ok" autofocus>
      {{makeIcon TERIOCK.display.icons.ui.done "button"}}<span>{{localize "TERIOCK.DIALOGS.Revitalize.done"}}</span>
    </button>
  </footer>
</form>