<div class="dialog-form standard-form stat-manager">
  <div class="stat-header">
    <div class="teriock-sheet-profile-img timage" data-tooltip="{{ name }}">
      <img src="{{ img }}" alt="" loading="lazy" />
    </div>
    <div class="stat-bar">
      {{> "teriock/sheets/actors/playable/parts/stat-bar" stat="mp"}}
    </div>
  </div>
  <p class="hint">{{localize "TERIOCK.DIALOGS.Revitalize.hint"}}</p>
  <fieldset class="stat-manager-dice">
    <legend>{{localize "TERIOCK.SYSTEMS.StatGiver.FIELDS.statDice.mp.label"}}</legend>
    {{> "teriock/ui/stat-dice" dice=system.mp.dice}}
  </fieldset>
  <div class="standard-form teriock-form-container">
    {{
      formGroup
      consumeStatDiceField
      value=state.consumeStatDice
      rootId=appId
      name="state.consumeStatDice"
    }}
    {{
      formGroup
      forHarmField
      value=state.forHarm
      rootId=appId
      name="state.forHarm"
    }}
    {{
      formGroup
      substitutionField
      value=state.substitution
      rootId=appId
      name="state.substitution"
    }}
  </div>
</div>
