<form class="dialog-form standard-form heal-dialog">
  <div class="stat-header">
    <div class="ab-profile-img timage" data-tooltip="{{ name }}">
      <img src="{{ img }}" alt="" loading="lazy" />
    </div>
    <div class="stat-bar">
      {{> "teriock/sheets/actors/playable/parts/bar-mp"}}
    </div>
  </div>
  <p class="hint">{{localize "TERIOCK.DIALOGS.Revitalize.hint"}}</p>
  <fieldset class="heal-dialog-dice">
    <legend>{{localize "TERIOCK.SYSTEMS.StatGiver.FIELDS.statDice.mp.label"}}</legend>
    {{> "teriock/ui/stat-dice"
      dice=system.mp.dice
    }}
  </fieldset>
  <div class="standard-form teriock-form-container">
    {{formGroup
      consumeStatDiceField
      value=consumeStatDice
      rootId=appId
      name="consume-dice"
    }}
    {{formGroup
      forHarmField
      value=forHarm
      rootId=appId
      name="for-harm"
    }}
    {{formGroup
      substitutionField
      value=substitution
      rootId=appId
      name="substitution"
    }}
  </div>
  <footer class="form-footer" style="margin-top:auto;">
    <button type="submit" data-action="ok" autofocus>
      {{makeIcon TERIOCK.display.icons.ui.done "button"}}
      <span>{{localize "TERIOCK.DIALOGS.Revitalize.done"}}</span>
    </button>
  </footer>
</form>
