{{!--
  Reusable changes template. This is generalized so that it works for the default `ActiveEffect` changes as well as
  custom arrays that have the same basic format.

  Parameters (and default values for normal `ActiveEffect` changes):
  - changesPath: "system.changes"
  - changesData: (path document.system "changes")
  - fieldDefs: (path fields "changes.element.fields")
  - additionalAttrs: Not actually needed for default changes. This is for abilities mainly.
--}}

<ol class="change-config-container" data-changes>
  {{#each changesData as |change i|}}
    {{#with ../fieldDefs as |changeFields|}}
      <li class="change-container" data-index="{{ i }}" data-path="{{ ../../changesPath }}">
        <div class="change-entry">
          {{formIcon
            changeFields.key
            name=""
            value=change.key
            disabled=(not @root/editable)
            icon=@root/TERIOCK.display.icons.change.key
            id=(concat @root/rootId ../../changesPath "." i ".key")
            classes="teriock-change-input"
            dataset=(object
              tooltip=(minLen change.key 32)
              property="key")
          }}
          {{formIcon
            changeFields.value
            name=""
            value=change.value
            icon=@root/TERIOCK.display.icons.change.value
            disabled=(not @root/editable)
            id=(concat @root/rootId ../../changesPath "." i ".value")
            classes="teriock-change-input"
            dataset=(object
              tooltip=(minLen change.value 32)
              property="value")
          }}
        </div>
        <div class="change-config">
          <div class="change-activation">
            {{formIcon
              changeFields.priority
              name=""
              value=change.priority
              icon=@root/TERIOCK.display.icons.change.priority
              placeholder=change.defaultPriority
              disabled=(not @root/editable)
              id=(concat @root/rootId ../../changesPath "." i ".priority")
              classes="teriock-change-input"
              dataset=(object property="priority")
            }}
            {{#if changeFields.phase}}
              {{formIcon
                changeFields.phase
                name=""
                value=change.phase
                icon=@root/TERIOCK.display.icons.change.phase
                disabled=(not @root/editable)
                id=(concat @root/rootId ../../changesPath "." i ".phase")
                classes="teriock-change-input"
                dataset=(object
                  property="phase"
                  tooltip=(localize (concat "TERIOCK.CHANGES.Phase." change.phase ".hint")))
              }}
            {{/if}}
          </div>
          <div class="change-assignment">
            {{formIcon
              changeFields.type
              name=""
              value=change.type
              icon=@root/TERIOCK.display.icons.change.type
              disabled=(not @root/editable)
              id=(concat @root/rootId ../../changesPath "." i ".type")
              classes="teriock-change-input"
              dataset=(object
                property="type")
            }}
            {{formIcon
              changeFields.target
              name=""
              value=change.target
              icon=@root/TERIOCK.display.icons.change.target
              disabled=(not @root/editable)
              id=(concat @root/rootId ../../changesPath "." i ".target")
              classes="teriock-change-input"
              dataset=(object
                property="target")
            }}
          </div>
        </div>
        <div class="change-controls">
          {{!-- prettier-ignore --}}
          <button
            class="change-delete"
            type="button"
            data-action="deleteQualifiedChange"
            data-tooltip='{{localize "TERIOCK.CHANGES.Actions.deleteChange"}}'
            data-index="{{ i }}"
            data-path="{{ ../../changesPath }}"
            data-value-path="{{ ../../valuePath }}"
            {{#each ../additionalAttrs as |value key|}}data-{{ key }}="{{ value }}"
            {{/each}}
          >
            {{makeIcon @root/TERIOCK.display.icons.ui.delete "button"}}
          </button>
        </div>
      </li>
    {{/with}}
  {{/each}}
  {{!-- prettier-ignore --}}
  <button
    class="add-change-button"
    type="button"
    data-action="addQualifiedChange"
    data-path="{{ changesPath }}"
    data-value-path="{{ valuePath }}"
    {{#each additionalAttrs as |value key|}}data-{{ key }}="{{ value }}"
    {{/each}}
  >
    {{makeIcon TERIOCK.display.icons.ui.add "button"}}
    {{localize "TERIOCK.CHANGES.Actions.addChange"}}
  </button>
</ol>
