{{#if (or (exists displayFieldButtons) (exists displayButtons))}}
  <div class="teriock-sheet-menu-bar">
    <div class="ttable teriock-sheet-button-grid menu-large-grid">
      {{#each displayFieldButtons}}
        <div class="tgrid-item">
          <button
            type="button"
            data-action="populateField"
            data-path="{{ fieldPath }}"
            {{#if (not ../editable)}}
            disabled="disabled"
            {{/if}}
          >
            {{makeIcon ../TERIOCK.display.icons.ui.add "button"}}
            {{name}}
          </button>
        </div>
      {{/each}}
      {{#each displayButtons}}
        <div class="tgrid-item">
          <button
            type="button"
            {{#if button}}
            data-action="applyButtonUpdate"
            data-update="{{ button }}"
            {{/if}}
            {{#if (not ../editable)}}
            disabled="disabled"
            {{/if}}
          >
            {{makeIcon ../TERIOCK.display.icons.ui.add "button"}}
            {{localize label}}
          </button>
        </div>
      {{/each}}
    </div>
  </div>
{{/if}}
