<div
  class='
    ab-header
    {{#if (eq item.type "equipment")}}
      {{#if system.shattered}}
        shattered
      {{/if}}
    {{/if}}
  '
>
  <div
    class="
      ab-profile-img
      {{#if (not editable)}}
        timage
      {{/if}}
    "
    data-src="{{ img }}"
    {{#if (exists system.color)}}
      style="outline-color:{{{ system.color }}};"
    {{/if}}
  >
    <img
      class="profile-img"
      src="{{ img }}"
      data-edit="{{ imgPath }}"
      alt=""
      {{#if editable}}
        data-action="editImage"
      {{/if}}
      title="{{ name }}"
    />
  </div>
  <div class="ab-title affix">
    {{#if (exists system.fullName)}}
      {{formInput
        fields.name
        value=system.fullName
        classes="tfont unselected"
        placeholder=(localize "TERIOCK.SHEETS.Common.HEADER.name")
        name="fullName"
        editable=false
      }}
    {{/if}}
    {{formInput
      fields.name
      value=source.name
      classes=(ifThen (exists system.fullName) "tfont selected" "tfont")
      placeholder=(localize "TERIOCK.SHEETS.Common.HEADER.name")
    }}
  </div>
  {{#if system.competence}}
    <div
      class="
        ab-competence
        thover
        affix-icon
        {{#if (and
          highlightModified
          (not (eq system.competence.raw source.system.competence.raw)))}}
          modified
        {{/if}}
      "
      style="color: var(--color-text-subtle);"
      data-tooltip="{{ system.competence.description }}"
      {{#if editable}}
        data-action="increment"
      {{/if}}
      data-path="system.competence.raw"
    >
      <i class="unselected mic fa-light {{ system.competence.icon }}"></i>
      <i class="selected mic fa-light {{competenceIcon source.system.competence.raw}}"></i>
    </div>
  {{/if}}
</div>
