<div
  class='
    ab-header
    {{#if (eq item.type "equipment")}}
      {{#if system.shattered}}
        shattered
      {{/if}}
    {{/if}}
  '
>
  <div
    class="
      ab-profile-img
      {{#if (not editable)}}
        timage
      {{/if}}
    "
    data-src="{{ img }}"
    {{#if (exists system.color)}}
      style="outline-color:{{{ system.color }}};"
    {{/if}}
  >
    <img
      class="profile-img"
      src="{{ img }}"
      data-edit="{{ imgPath }}"
      alt=""
      {{#if editable}}
        data-action="editImage"
      {{/if}}
      title="{{ name }}"
    />
  </div>
  <div class="ab-title affix">
    {{#if (not (eq source.name system.fullName))}}
      <span class="ab-title-text tfont unselected">
        {{ system.fullName }}
      </span>
    {{/if}}
    {{formInput
      fields.name
      value=source.name
      classes="tfont selected"
      placeholder=(localize "TERIOCK.SHEETS.Common.HEADER.name")
    }}
  </div>
  {{#if system.competence}}
    <div
      class="ab-competence thover"
      style="color: var(--color-text-subtle);"
      data-tooltip="{{ system.competence.description }}"
      {{#if editable}}
        data-action="increment"
      {{/if}}
      data-path="system.competence.raw"
    >
      <i class="mic fa-light {{ system.competence.icon }}"></i>
    </div>
  {{/if}}
</div>
