{{#if canHaveMechanics}}
  <div class="teriock-sheet-icon teriock-sheet-mechanics-toggle">
    <div
      class="teriock-sheet-menu-mechanics-container"
      data-tooltip='{{localize "TERIOCK.SHEETS.Common.NAVIGATION.enterMechanicsTab"}}'
      data-action="toggleMechanics"
    >
      {{makeIcon TERIOCK.display.icons.pseudoDocument.mechanic "solid"}}
    </div>
  </div>
{{/if}}
{{#if hasMenu}}
  <div
    class="
      teriock-sheet-icon
      teriock-sheet-menu-toggle
      {{#if (not menuCollapsed)}}
        teriock-sheet-menu-toggle-open
      {{/if}}
    "
    data-action="toggleMenu"
  >
    <div
      class="teriock-sheet-menu-closed-container"
      data-tooltip='{{localize "TERIOCK.SHEETS.Common.NAVIGATION.openMenu"}}'
    >
      {{makeIcon TERIOCK.display.icons.ui.menuOpen "solid"}}
    </div>
    <div
      class="teriock-sheet-menu-open-container"
      data-tooltip='{{localize "TERIOCK.SHEETS.Common.NAVIGATION.closeMenu"}}'
    >
      {{makeIcon TERIOCK.display.icons.ui.menuClose "solid"}}
    </div>
  </div>
{{/if}}
