{{#if canHaveMechanics}}
  <button
    id='{{concat @root/appId "toggle-sheet-mechanics-button"}}'
    class="teriock-sheet-icon teriock-sheet-mechanics-toggle teriock-sheet-menu-mechanics-container"
    type="button"
    data-tooltip='{{localize "TERIOCK.SHEETS.Common.NAVIGATION.enterMechanicsTab"}}'
    data-action="toggleMechanics"
    data-never-disable="true"
  >
    <span>{{makeIcon TERIOCK.display.icons.pseudoDocument.mechanic "solid"}}</span>
  </button>
{{/if}}
<button
  id='{{concat @root/appId "toggle-sheet-menu-button"}}'
  class="teriock-sheet-icon teriock-sheet-menu-toggle"
  type="button"
  data-tooltip='{{localize "TERIOCK.SHEETS.Common.NAVIGATION.toggleMenu"}}'
  data-action="toggleCollapse"
  data-collapsible-target="menu"
  data-never-disable="true"
>
  <span>{{makeIcon TERIOCK.display.icons.ui.menuOpen "solid"}}</span>
</button>
