{{#if canHaveAutomations}}
  <div class="ab-icon ab-automations-toggle">
    <div
      class="ab-menu-automations-container"
      data-tooltip="{{localize "TERIOCK.SHEETS.Common.NAVIGATION.enterAutomationsTab"}}"
      data-action="toggleAutomations"
    >
      {{makeIcon TERIOCK.display.icons.ui.automations "solid"}}
    </div>
  </div>
{{/if}}
{{#if hasMenu}}
  <div class="ab-icon ab-menu-toggle">
    <div class="ab-menu-closed-container" data-tooltip="{{localize "TERIOCK.SHEETS.Common.NAVIGATION.openMenu"}}">
      {{makeIcon TERIOCK.display.icons.ui.menuOpen "solid"}}
    </div>
    <div class="ab-menu-open-container" data-tooltip="{{localize "TERIOCK.SHEETS.Common.NAVIGATION.closeMenu"}}">
      {{makeIcon TERIOCK.display.icons.ui.menuClose "solid"}}
    </div>
  </div>
{{/if}}
