<div class="ab-bar ab-bar-2">
  <div class="ab-box-container">
    <div class="ab-box hit-die-box">
      <div class="ab-box-icon">
        <i class="fa-light fa-{{firstDie system.hitDie}}"></i>
      </div>
      <div class="ab-box-content">
        {{system.hitDie}}
        Hit Die ({{system.hp}} HP)
      </div>
    </div>
  </div>
  <div class="ab-box-container">
    <div class="ab-box mana-die-box">
      <div class="ab-box-icon">
        <i class="fa-light fa-{{firstDie system.manaDie}}"></i>
      </div>
      <div class="ab-box-content">
        {{system.manaDie}}
        Mana Die ({{system.mp}} MP)
      </div>
    </div>
  </div>
</div>