<li
  class="directory-item entry document {{ @root.documentCls }} flexrow"
  data-entry-id="{{ id }}"
  data-uuid="{{ uuid }}"
  {{#if @root.makeTooltips}}
    data-tooltip-uuid="{{ uuid }}"
    data-tooltip-direction="RIGHT"
  {{/if}}
>
  {{#if thumbnail}}
    <img class="thumbnail" src="{{ thumbnail }}" alt="{{ name }}" loading="lazy" />
  {{/if}}
  <a class="entry-name ellipsis" data-action="activateEntry">{{ name }}</a>
</li>
