<div class="ab-tags-container">
  <div class="ab-tags">
    {{#if system.basic}}
      <span class="ab-tag tsubtle flag-tag flag-tag-basic" data-tooltip="Remove Tag">Basic</span>
    {{/if}}
    {{#if system.sustained}}
      <span class="ab-tag tsubtle flag-tag flag-tag-sustained" data-tooltip="Remove Tag">Sustained</span>
    {{/if}}
    {{#if (and system.standard system.skill)}}
      <span class="ab-tag tsubtle flag-tag flag-tag-standard" data-tooltip="Remove Tag">Semblant</span>
    {{/if}}
    {{#if (and system.standard system.spell)}}
      <span class="ab-tag tsubtle flag-tag flag-tag-standard" data-tooltip="Remove Tag">Conjured</span>
    {{/if}}
    {{#each system.powerSources as |key index|}}
      <span class="ab-tag tsubtle power-tag power-tag" value="{{key}}" data-tooltip="Remove Tag">{{lookup
        ../config.abilityOptions.powerSources key}}</span>{{/each}}
    {{#each system.elements as |key index|}}
      <span class="ab-tag tsubtle element-tag" value="{{key}}" data-tooltip="Remove Tag">{{lookup
        ../config.abilityOptions.elements key}}</span>{{/each}}
    {{#if system.costs.invoked}}
      <span class="ab-tag tsubtle flag-tag flag-tag-invoked" data-tooltip="Remove Tag">Invoked</span>
    {{/if}}
    {{#if system.costs.verbal}}
      <span class="ab-tag tsubtle flag-tag flag-tag-verbal" data-tooltip="Remove Tag">Verbal</span>
    {{/if}}
    {{#if system.costs.somatic}}
      <span class="ab-tag tsubtle flag-tag flag-tag-somatic" data-tooltip="Remove Tag">Somatic</span>
    {{/if}}
    {{#if system.ritual}}
      <span class="ab-tag tsubtle flag-tag flag-tag-ritual" data-tooltip="Remove Tag">Ritual</span>
    {{/if}}
    {{#if system.rotator}}
      <span class="ab-tag tsubtle flag-tag flag-tag-rotator" data-tooltip="Remove Tag">Rotator</span>
    {{/if}}
    {{#if system.skill}}
      <span class="ab-tag tsubtle flag-tag flag-tag-skill" data-tooltip="Remove Tag">Skill</span>
    {{/if}}
    {{#if system.spell}}
      <span class="ab-tag tsubtle flag-tag flag-tag-spell" data-tooltip="Remove Tag">Spell</span>
    {{/if}}
  </div>
  {{!-- Consequences are disabled until implementation is complete --}}
  <div class="ab-icon ab-consequences-toggle">
    <div class="ab-menu-consequences-container" data-tooltip="Consequences" data-action="toggleConsequences">
      {{{config.icons.consequences}}}
    </div>
  </div>
  <div class="ab-icon ab-menu-toggle">
    <div class="ab-menu-closed-container" data-tooltip="Open Menu">
      {{{config.icons.menuOpen}}}
    </div>
    <div class="ab-menu-open-container" data-tooltip="Close Menu">
      {{{config.icons.menuClose}}}
    </div>
  </div>
</div>
