<div class="teriock-automation-container collapsible">
  <header
    class="teriock-automation-header"
    data-action="toggle-collapse"
  >
    <div class="teriock-automation-header-name">{{localize automation.label}}</div>
    <div class="teriock-automation-header-buttons">
      {{#if automation.canCrit}}
        <div class="teriock-automation-header-button-group">
          <button
            id="{{automation.uuid}}.noncrit"
            data-action="setToggle"
            data-type="number"
            data-term="0"
            {{#if (has automation.crit 0)}}
            data-present="true"
            data-tooltip="{{localize "TERIOCK.AUTOMATIONS.BaseAutomation.TOOLTIPS.crit.base.on"}}"
            {{else}}
            data-tooltip="{{localize "TERIOCK.AUTOMATIONS.BaseAutomation.TOOLTIPS.crit.base.off"}}"
            {{/if}}
            data-path="{{automation.fieldPath}}.{{automation.id}}.crit"
            name="_source.{{automation.fieldPath}}.{{automation.id}}.crit"
          >
            {{makeIcon @root/TERIOCK.display.icons.consequence.none (ifThen
              (has automation.crit 0)
              "solid"
              "regular"
            )}}
          </button>
          <button
            id="{{automation.uuid}}.crit"
            data-action="setToggle"
            data-type="number"
            data-term="1"
            {{#if (has automation.crit 1)}}
            data-present="true"
            data-tooltip="{{localize "TERIOCK.AUTOMATIONS.BaseAutomation.TOOLTIPS.crit.critical.on"}}"
            {{else}}
            data-tooltip="{{localize "TERIOCK.AUTOMATIONS.BaseAutomation.TOOLTIPS.crit.critical.off"}}"
            {{/if}}
            data-path="{{automation.fieldPath}}.{{automation.id}}.crit"
            name="_source.{{automation.fieldPath}}.{{automation.id}}.crit"
          >
            {{makeIcon @root/TERIOCK.display.icons.consequence.crit (ifThen
              (has automation.crit 1)
              "solid"
              "regular"
            )}}
          </button>
        </div>
      {{/if}}
      {{#if @root/system.competence}}
        <div class="teriock-automation-header-button-group">
          <button
            id="{{automation.uuid}}.base"
            data-action="setToggle"
            data-type="number"
            data-term="0"
            {{#if (has automation.competencies 0)}}
            data-present="true"
            data-tooltip="{{localize "TERIOCK.AUTOMATIONS.BaseAutomation.TOOLTIPS.competence.base.on"}}"
            {{else}}
            data-tooltip="{{localize "TERIOCK.AUTOMATIONS.BaseAutomation.TOOLTIPS.competence.base.off"}}"
            {{/if}}
            data-path="{{automation.fieldPath}}.{{automation.id}}.competencies"
            name="_source.{{automation.fieldPath}}.{{automation.id}}.competencies"
          >
            {{makeIcon @root/TERIOCK.display.icons.competence.none (ifThen
              (has automation.competencies 0)
              "solid"
              "regular"
            )}}
          </button>
          <button
            id="{{automation.uuid}}.proficient"
            data-action="setToggle"
            data-type="number"
            data-term="1"
            {{#if (has automation.competencies 1)}}
            data-present="true"
            data-tooltip="{{localize "TERIOCK.AUTOMATIONS.BaseAutomation.TOOLTIPS.competence.proficient.on"}}"
            {{else}}
            data-tooltip="{{localize "TERIOCK.AUTOMATIONS.BaseAutomation.TOOLTIPS.competence.proficient.off"}}"
            {{/if}}
            data-path="{{automation.fieldPath}}.{{automation.id}}.competencies"
            name="_source.{{automation.fieldPath}}.{{automation.id}}.competencies"
          >
            {{makeIcon @root/TERIOCK.display.icons.competence.proficient (ifThen
              (has automation.competencies 1)
              "solid"
              "regular"
            )}}
          </button>
          <button
            id="{{automation.uuid}}.fluent"
            data-action="setToggle"
            data-type="number"
            data-term="2"
            {{#if (has automation.competencies 2)}}
            data-present="true"
            data-tooltip="{{localize "TERIOCK.AUTOMATIONS.BaseAutomation.TOOLTIPS.competence.fluent.on"}}"
            {{else}}
            data-tooltip="{{localize "TERIOCK.AUTOMATIONS.BaseAutomation.TOOLTIPS.competence.fluent.off"}}"
            {{/if}}
            data-path="{{automation.fieldPath}}.{{automation.id}}.competencies"
            name="_source.{{automation.fieldPath}}.{{automation.id}}.competencies"
          >
            {{makeIcon @root/TERIOCK.display.icons.competence.fluent (ifThen
              (has automation.competencies 2)
              "solid"
              "regular"
            )}}
          </button>
        </div>
      {{/if}}
      {{#if (eq automation.document.type "ability")}}
        <div class="teriock-automation-header-button-group">
          <button
            id="{{automation.uuid}}.unheightened"
            data-action="setToggle"
            data-type="number"
            data-term="0"
            {{#if (has automation.heighten 0)}}
            data-present="true"
            data-tooltip="{{localize "TERIOCK.AUTOMATIONS.BaseAutomation.TOOLTIPS.heighten.base.on"}}"
            {{else}}
            data-tooltip="{{localize "TERIOCK.AUTOMATIONS.BaseAutomation.TOOLTIPS.heighten.base.off"}}"
            {{/if}}
            data-path="{{automation.fieldPath}}.{{automation.id}}.heighten"
            name="_source.{{automation.fieldPath}}.{{automation.id}}.heighten"
          >
            {{makeIcon @root/TERIOCK.display.icons.ability.unheightened (ifThen
              (has automation.heighten 0)
              "solid"
              "regular"
            )}}
          </button>
          <button
            id="{{automation.uuid}}.heightened"
            data-action="setToggle"
            data-type="number"
            data-term="1"
            {{#if (has automation.heighten 1)}}
            data-present="true"
            data-tooltip="{{localize "TERIOCK.AUTOMATIONS.BaseAutomation.TOOLTIPS.heighten.heightened.on"}}"
            {{else}}
            data-tooltip="{{localize "TERIOCK.AUTOMATIONS.BaseAutomation.TOOLTIPS.heighten.heightened.off"}}"
            {{/if}}
            data-path="{{automation.fieldPath}}.{{automation.id}}.heighten"
            name="_source.{{automation.fieldPath}}.{{automation.id}}.heighten"
          >
            {{makeIcon @root/TERIOCK.display.icons.ability.heightened (ifThen
              (has automation.heighten 1)
              "solid"
              "regular"
            )}}
          </button>
        </div>
      {{/if}}
      <div class="teriock-automation-header-button-group">
        <button
          data-tooltip="{{localize "TERIOCK.SYSTEMS.Common.MENU.delete"}}"
          data-action="deleteAutomation"
          data-id="{{automation.id}}"
        >
          {{makeIcon @root/TERIOCK.display.icons.ui.delete "button"}}
        </button>
      </div>
    </div>
  </header>
  <div class="teriock-automation-content teriock-form-container">
    {{{formEditor}}}
  </div>
</div>