<div class="teriock-block-options-header">
  <toggle-button
    class="{{ tab }}-options-menu-toggle options-menu-toggle"
    icon="{{ TERIOCK.display.icons.ui.options }}"
    value="{{ optionsToggle }}"
    data-path="{{ optionsPath }}"
    data-tooltip='{{localize "TERIOCK.SHEETS.Common.SEARCH.displayOptions"}}'
  ></toggle-button>

  {{#if (defined sortToggle)}}
    <toggle-button
      class="{{ tab }}-sort-menu-toggle sort-menu-toggle"
      icon="{{ TERIOCK.display.icons.ui.sort }}"
      value="{{ sortToggle }}"
      data-path="{{ sortPath }}"
      data-tooltip='{{localize "TERIOCK.SHEETS.Common.SEARCH.sortResults"}}'
      data-never-disable="true"
    ></toggle-button>
  {{/if}}

  {{#if (defined filterToggle)}}
    <toggle-button
      class="{{ tab }}-filter-menu-toggle filter-menu-toggle"
      icon="{{ TERIOCK.display.icons.ui.filter }}"
      value="{{ filterToggle }}"
      data-path="{{ filterPath }}"
      data-tooltip='{{localize "TERIOCK.SHEETS.Common.SEARCH.filterResults"}}'
      data-never-disable="true"
    ></toggle-button>
  {{/if}}

  <input
    class="{{ tab }}-search teriock-block-search"
    type="search"
    placeholder='{{localize "TERIOCK.SHEETS.Common.SEARCH.placeholder"}}'
    data-type="{{ tab }}"
    data-never-disable="true"
    {{#if searchKey}}
      data-search-key="{{ searchKey }}"
    {{/if}}
    {{#if searchValue}}
      value="{{ searchValue }}"
    {{/if}}
  />

  {{#if addAction}}
    <button
      class="toggle-button {{ tab }}-add-button add-button"
      data-tab="{{ tab }}"
      data-action="{{ addAction }}"
      data-tooltip='{{localize "TERIOCK.DIALOGS.NewDocument.title" name=tabDisplay}}'
    >
      {{makeIcon TERIOCK.display.icons.ui.add "button"}}
    </button>
  {{/if}}
</div>

{{#if optionsToggle}}
  <div class="teriock-block-options-content">
    <div class="tgrid g4">
      <div class="tgrid-item">
        <label for="{{ tab }}-gapless">{{localize "TERIOCK.SHEETS.Common.SEARCH.gapless"}}</label>
        <input
          id="{{ tab }}-gapless"
          type="checkbox"
          name="{{ gaplessPath }}"
          {{checked gaplessValue}}
        />
      </div>
      <div class="tgrid-item gi3">
        <select id="{{ tab }}-size" name="{{ sizePath }}">
          <option value="">{{localize "TERIOCK.SHEETS.Common.SEARCH.cardSize"}}</option>
          {{selectOptions
            TERIOCK.config.display.sizes
            selected=sizeValue
          }}
        </select>
      </div>
    </div>
  </div>
{{/if}}

{{#if sortToggle}}
  <div class="teriock-block-options-content">
    <div class="tgrid g4">
      <div class="tgrid-item">
        <label for="{{ tab }}-ascending">{{localize "TERIOCK.SHEETS.Common.SEARCH.ascending"}}</label>
        <input
          id="{{ tab }}-ascending"
          type="checkbox"
          data-action="sheetToggle"
          data-bool="{{ ascendingValue }}"
          data-path="{{ ascendingPath }}"
          data-never-disable="true"
          {{checked ascendingValue}}
        />
      </div>
      <div class="tgrid-item gi3">
        <select id="{{ tab }}-sort" data-action="sheetSelect" data-path="{{ sortOptionPath }}" data-never-disable="true"
        >
          {{selectOptions
            sortOptions
            selected=sortValue
          }}
        </select>
      </div>
    </div>
  </div>
{{/if}}
