<li
  class="teriock chat-message message flexcol {{ cssClass }}"
  data-message-id="{{ message._id }}"
  {{#if borderColor}}
    style="border-color:{{ borderColor }}"
  {{/if}}
>
  <header class="message-header flexrow">
    <div
      class="
        messenger
        {{#if hasSpeakerInteraction}}
          selectable
        {{/if}}
      "
      {{#if (exists speakerToken)}}
        data-action="selectTarget" data-token-uuid="{{ speakerToken.uuid }}"
      {{/if}}
      {{#if (exists speakerActor)}}
        data-double="openTarget" data-actor-uuid="{{ speakerActor.uuid }}"
      {{/if}}
      {{#if hasSpeakerInteraction}}
        data-tooltip="TERIOCK.MESSAGE.Speaker.selectSpeaker"
        data-tooltip-direction="LEFT"
      {{/if}}
    >
      <div class="message-avatar">
        <img src="{{ speakerImg }}" alt="{{ alias }}" data-openable="true" />
      </div>
      <div class="message-author" data-suppress-context-menu="true">
        <h4 class="message-sender">{{ alias }}</h4>
        {{#if writer}}
          <div class="message-writer">
            {{ writer }}
          </div>
        {{/if}}
      </div>
    </div>
    <span class="message-metadata">
      <time class="message-timestamp">{{timeSince message.timestamp}}</time>
      {{#if canDelete}}
        <a class="message-delete" aria-label='{{localize "COMMON.Delete"}}' data-action="deleteMessage">
          <i class="fa-solid fa-trash" inert></i>
        </a>
      {{/if}}
      {{#if canClose}}
        <a class="message-dismiss" aria-label='{{localize "CHAT.Dismiss"}}' data-action="dismissMessage">
          <i class="fa-solid fa-xmark" inert></i>
        </a>
      {{/if}}
    </span>
    {{#if isWhisper}}
      <span class="whisper-to">{{localize 'CHAT.To'}}: {{ whisperTo }}</span>
    {{/if}}
    {{#if message.flavor}}
      <span class="flavor-text">
        {{{ message.flavor }}}
      </span>
    {{/if}}
  </header>
  <div class="message-content">
    <div class="teriock-chat-message-content">
      {{#if isContentVisible}}
        {{#if (exists message.system.panels)}}
          <div class="teriock-panels">
            {{#each message.system.panels as |panel|}}
              {{> "teriock/ui/panel"
                message=true
              }}
            {{/each}}
          </div>
        {{/if}}
      {{/if}}
      {{{ message.content }}}
    </div>
  </div>
  {{#if (and isContentVisible (or (exists system.tags) (exists activations)))}}
    <footer>
      {{#if (exists system.tags)}}
        <div class="message-tags">
          {{#each system.tags as |tag|}}
            <span class="message-tag">
              {{ tag }}
            </span>
          {{/each}}
        </div>
      {{/if}}
      {{#if (exists activations)}}
        <div class="message-activations">
          {{#each system.activations as |activation|}}
            <button class="activation-button {{ activation.classes }}" type="button" data-tooltip="{{ activation.tooltip }}" data-action="activateActivation" data-uuid="{{ activation.uuid }}">{{makeIcon activation.icon "button"}} {{localize activation.label}}</button>
          {{/each}}
        </div>
      {{/if}}
    </footer>
  {{/if}}
</li>
