{{!-- Make sure to update `ApplicableEffectSystem.prepareDerivedData()` when this is changed. --}}
<div class="teriock-panel collapsible es-container" data-collapsible-id='{{concat "panel-" _id}}'>
  <div
    class="
      overlay
      {{#if (exists classes)}}
      {{ classes }}
      {{/if}}
    "
  >
  </div>
  <header class="teriock-panel-header" data-action="toggleCollapse">
    <div
      class="teriock-panel-image"
      {{#if (exists color)}}
      style="outline-color: {{{ color }}}"
      {{/if}}
    >
      <img
        {{#if (exists uuid)}}
        data-uuid="{{ uuid }}"
        {{/if}}
        src="{{{ image }}}"
        alt="{{{ name }}}"
        data-openable="true"
        data-openable-document="true"
      />
    </div>
    <div class="teriock-panel-header-name">{{{name}}}</div>
    <div class="teriock-panel-header-icon">{{makeIcon icon "light"}}</div>
    <div class="teriock-panel-header-expander">{{makeIcon @root/TERIOCK.display.icons.ui.menuOpen "light"}}</div>
  </header>
  <div class="teriock-panel-content">
    <div class="teriock-panel-spacer">
      <div class="teriock-panel-body">
        {{#if (exists bars)}}
          <div class="teriock-panel-bars">
            {{#each bars}}
              <div class="teriock-panel-bar">
                <div class="teriock-panel-bar-icon" data-tooltip="{{{ label }}}" data-tooltip-direction="LEFT">
                  {{makeIcon icon "light"}}
                </div>
                <div class="teriock-panel-bar-wrappers">
                  {{#each wrappers as |wrapper|}}
                    <span class="teriock-panel-bar-wrapper">
                      {{{wrapper}}}
                    </span>
                  {{/each}}
                </div>
              </div>
            {{/each}}
          </div>
        {{/if}}
        {{#unless message}}
          {{> "teriock/ui/tips" tips=tips}}
        {{/unless}}
        {{#each blocks}}
          {{#if (exists text)}}
            <div class="teriock-panel-block {{#if (exists classes)}}{{ classes }}{{/if}}">
              <div class="teriock-panel-block-title">{{{title}}}</div>
              <div class="teriock-panel-block-text">{{{text}}}</div>
            </div>
          {{/if}}
        {{/each}}
        {{#each associations}}
          {{#if (exists cards)}}
            <div class="teriock-panel-association-container">
              <div
                class="teriock-panel-association collapsible {{#if message}}collapsed{{/if}}"
                data-collapsible-id='{{concat "panel-" @root/_id "-association-" (toKebabCase title)}}'
              >
                <div class="teriock-panel-association-row teriock-panel-association-title" data-action="toggleCollapse">
                  {{#if (exists icon)}}
                    <div class="teriock-panel-association-icon">
                      {{makeIcon icon "light"}}
                    </div>
                  {{/if}}
                  <div class="teriock-panel-association-name">{{{title}}}</div>
                  <div class="teriock-panel-association-expander">
                    {{makeIcon @root/TERIOCK.display.icons.ui.menuOpen "light"}}
                  </div>
                </div>
                <div class="teriock-panel-association-card-container">
                  <div class="teriock-panel-association-card-spacer">
                    {{#each cards}}
                      <div
                        class="
                          teriock-panel-association-row
                          teriock-panel-association-card
                          {{#if (or draggable @root/user.isGM)}}
                          draggable
                          {{/if}}
                        "
                        data-uuid="{{{ uuid }}}"
                        data-id="{{{ id }}}"
                        data-type="{{{ type }}}"
                        data-pack="{{{ pack }}}"
                        data-link
                        data-tooltip-direction="LEFT"
                        {{#if (or draggable @root/user.isGM)}}
                        data-action="openDocument"
                        {{/if}}
                        {{#if makeTooltip}}
                        data-tooltip-uuid="{{{ uuid }}}"
                        {{/if}}
                        {{#if (exists tooltip)}}
                        data-tooltip="{{{ tooltip }}}"
                        {{/if}}
                      >
                        <div
                          class="teriock-panel-association-row-image"
                          {{#if (exists color)}}
                          style="outline-color: {{{ color }}}"
                          {{/if}}
                        >
                          <img src="{{{ img }}}" alt="" />
                        </div>
                        <div class="teriock-panel-association-card-name">{{{name}}}</div>
                        {{#if (exists icon)}}
                          <div
                            class="teriock-panel-association-row-icon"
                            {{#if icon.tooltip}}
                            data-tooltip="{{{ icon.tooltip }}}"
                            data-tooltip-class=""
                            data-tooltip-direction="DOWN"
                            {{/if}}
                          >
                            {{makeIcon icon.icon "light"}}
                          </div>
                          {{else if (and (defined badge) (not (eq badge "")))}}
                          <div class="teriock-panel-association-row-icon teriock-panel-association-row-badge">
                            {{{badge}}}
                          </div>
                        {{/if}}
                      </div>
                    {{/each}}
                  </div>
                </div>
              </div>
            </div>
          {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</div>
