{{#with (lookup @root.previews type) as |preview|}}
  <div class="teriock-preview-header">
    <div class="teriock-block-options standard-form">
      <div class="teriock-block-options-header">
        <toggle-button
          class="{{ ../type }}-block-menu-toggle block-menu-toggle"
          data-action="toggleCollapse"
          data-collapsible-target="preview-{{ ../type }}-block"
          data-never-disable="true"
          data-tooltip='{{localize "TERIOCK.SHEETS.Common.SEARCH.blockOptions"}}'
          icon="{{ @root/TERIOCK.display.icons.ui.options }}"
          value='{{path @root/previewToggles ../type "block"}}'
        ></toggle-button>

        <toggle-button
          class="{{ ../type }}-sort-menu-toggle sort-menu-toggle"
          data-action="toggleCollapse"
          data-collapsible-target="preview-{{ ../type }}-sort"
          data-never-disable="true"
          data-tooltip='{{localize "TERIOCK.SHEETS.Common.SEARCH.sortResults"}}'
          icon="{{ @root/TERIOCK.display.icons.ui.sort }}"
          value='{{path @root/previewToggles ../type "sort"}}'
        ></toggle-button>

        <toggle-button
          class="{{ ../type }}-filter-menu-toggle filter-menu-toggle"
          data-action="toggleCollapse"
          data-collapsible-target="preview-{{ ../type }}-filter"
          data-never-disable="true"
          data-tooltip='{{localize "TERIOCK.SHEETS.Common.SEARCH.filterResults"}}'
          icon="{{ @root/TERIOCK.display.icons.ui.filter }}"
          value='{{path @root/previewToggles ../type "filter"}}'
        ></toggle-button>

        <input
          class="{{ ../type }}-search teriock-block-search"
          data-never-disable="true"
          data-search-key="{{ ../type }}"
          data-type="{{ ../type }}"
          placeholder='{{localize "TERIOCK.SHEETS.Common.SEARCH.placeholder"}}'
          type="search"
          value="{{ preview.search }}"
        />

        {{#if ../addButton}}
          <button
            class="toggle-button {{ ../type }}-add-button add-button"
            data-action="createChild"
            data-tab="{{ ../type }}"
            data-tooltip='{{localize "TERIOCK.SHEETS.Common.PREVIEW.addType" type=(path @root/TERIOCK.config.document ../type "label")}}'
            data-type="{{ ../type }}"
            type="button"
          >
            {{makeIcon @root/TERIOCK.display.icons.ui.add "button"}}
          </button>
        {{else if ../addMenu}}
          <button class="toggle-button {{ ../type }}-add-button add-button" data-tooltip='{{localize "TERIOCK.SHEETS.Common.PREVIEW.addChildDocument"}}' type="button">{{makeIcon @root/TERIOCK.display.icons.ui.add "button"}}</button>
        {{/if}}
      </div>

      <div
        class="teriock-block-options-content collapsible collapsed"
        data-collapsible-id="preview-{{ ../type }}-block"
        data-content-menu="block"
        data-content-type="{{ ../type }}"
      >
        <div class="teriock-block-options-content-inner">
          <div class="tgrid g4">
            <div class="tgrid-item form-group">
              <label for="{{ ../type }}-gapless">{{localize "TERIOCK.SHEETS.Common.SEARCH.gapless"}}</label>
              <input
                id="{{ ../type }}-gapless"
                data-action="sheetToggle"
                data-bool="{{ preview.display.gapless }}"
                data-never-disable="true"
                data-path="previewMenus.{{ ../type }}.display.gapless"
                type="checkbox"
                {{checked preview.display.gapless}}
              />
            </div>
            <div class="tgrid-item gi3">
              <select
                id="{{ ../type }}-size"
                data-action="sheetSelect"
                data-never-disable="true"
                data-path="previewMenus.{{ ../type }}.display.size"
              >
                {{selectOptions
                  @root/TERIOCK.config.display.sizes
                  selected=preview.display.size
                }}
              </select>
            </div>
          </div>
        </div>
      </div>

      <div
        class="teriock-block-options-content collapsible collapsed"
        data-collapsible-id="preview-{{ ../type }}-sort"
        data-content-type="{{ ../type }}"
        data-content-menu="sort"
      >
        <div class="teriock-block-options-content-inner">
          <div class="tgrid g4">
            <div class="tgrid-item form-group">
              <label for="{{ ../type }}-ascending">{{localize "TERIOCK.SHEETS.Common.SEARCH.ascending"}}</label>
              <input
                id="{{ ../type }}-ascending"
                data-action="sheetToggle"
                data-bool="{{ preview.sort.ascending }}"
                data-never-disable="true"
                data-path="previewMenus.{{ ../type }}.sort.ascending"
                type="checkbox"
                {{checked preview.sort.ascending}}
              />
            </div>
            <div class="tgrid-item gi3">
              <select
                id="{{ ../type }}-sort"
                data-action="sheetSelect"
                data-never-disable="true"
                data-path="previewMenus.{{ ../type }}.sort.option"
              >
                {{selectOptions
                  (lookup @root.previewSortOrders ../type)
                  selected=preview.sort.option
                  localize=true
                }}
              </select>
            </div>
          </div>
        </div>
      </div>

      <div
        class="teriock-block-options-content collapsible collapsed"
        data-collapsible-id="preview-{{ ../type }}-filter"
        data-content-type="{{ ../type }}"
        data-content-menu="filter"
      >
        <div class="teriock-block-options-content-inner">{{{lookup @root.filterForms ../type}}}</div>
      </div>
    </div>
  </div>

  {{#each (lookup @root.previewGroups ../type) as |group|}}
    {{#if (or (not group.optional) (exists group.docs))}}
      {{#if @index}}
        <div class="teriock-block-display-divider"></div>
      {{/if}}
      {{> "teriock/sheets/actors/playable/results/search-results"
        docs=group.docs
        searchKey=../../type
        empty=group.empty
        gapless=preview.display.gapless
        size=preview.display.size
      }}
    {{/if}}
  {{/each}}
{{/with}}
