<div
  class="thover die-box {{#if spent}}spent{{/if}}"
  data-action="rollStatDie"
  data-id="{{ id }}"
  data-stat="{{ stat }}"
  data-tooltip-direction="DOWN"
  data-tooltip-html="<div class='die-tooltip'><div>{{ polyhedral }} {{ name }}</div><div>({{ document.name }})</div></div>"
>
  <i class='{{makeIconClass icon "solid"}} {{#if spent}}fa-faint{{/if}}'></i>
</div>
