{{#if
  (or
    (not (eq system.costs.mp.type "none"))
    (not (eq system.costs.hp.type "none"))
    (not (eq system.costs.gp.type "none"))
    (exists system.costs.break)
    system.gifted.enabled
    system.adept.enabled
  )
}}
  <div class="ab-bar">
    {{formBox
      (ifThen
        (eq system.costs.mp.type "static")
        (formInput
          systemFields.costs.fields.mp.fields.value.fields.static
          value=system.costs.mp.value.static
          disabled=(not editable)
        )
        (ifThen
          (eq system.costs.mp.type "formula")
          (formInput
            systemFields.costs.fields.mp.fields.value.fields.formula
            value=system.costs.mp.value.formula
            disabled=(not editable)
          )
          "Variable"
        )
      )
      tooltip=(ifThen
        (eq system.costs.mp.type "static")
        "Static Mana Cost"
        (ifThen
          (eq system.costs.mp.type "formula")
          "Formula Mana Cost"
          "Variable Mana Cost"
        )
      )
      icon=TERIOCK.display.icons.stat.mp
      label="MP"
      include=(not (eq system.costs.mp.type "none"))
      classes=(ifThen editable "mana-cost-box" "")
    }}
    {{formBox
      (formInput
        systemFields.adept.fields.amount
        value=system.adept.amount
        disabled=(not editable)
      )
      tooltip="Adept Mana Cost"
      label="MP"
      icon=TERIOCK.display.icons.ability.adept
      include=system.adept.enabled
    }}
    {{formBox
      (formInput
        systemFields.gifted.fields.amount
        value=system.gifted.amount
        disabled=(not editable)
      )
      tooltip="Gifted Mana Cost"
      label="MP"
      icon=TERIOCK.display.icons.ability.gifted
      include=system.gifted.enabled
    }}
    {{formBox
      (ifThen
        (eq system.costs.hp.type "static")
        (formInput
          systemFields.costs.fields.hp.fields.value.fields.static
          value=system.costs.hp.value.static
          disabled=(not editable)
        )
        (ifThen
          (eq system.costs.hp.type "formula")
          (formInput
            systemFields.costs.fields.hp.fields.value.fields.formula
            value=system.costs.hp.value.formula
            disabled=(not editable)
          )
          (ifThen (eq system.costs.hp.type "hack") "Hack" "Variable")
        )
      )
      tooltip=(ifThen
        (eq system.costs.hp.type "static")
        "Static Hit Cost"
        (ifThen
          (eq system.costs.hp.type "formula")
          "Formula Hit Cost"
          (ifThen
            (eq system.costs.hp.type "hack") "Hack Hit Cost" "Variable Hit Cost"
          )
        )
      )
      icon=TERIOCK.display.icons.stat.hp
      label="HP"
      classes=(ifThen editable "hit-cost-box" "")
      include=(not (eq system.costs.hp.type "none"))
    }}
    {{formBox
      (ifThen
        (eq system.costs.gp.type "static")
        (formInput
          systemFields.costs.fields.gp.fields.value.fields.static
          value=system.costs.gp.value.static
          disabled=(not editable)
        )
        (ifThen
          (eq system.costs.gp.type "formula")
          (formInput
            systemFields.costs.fields.gp.fields.value.fields.formula
            value=system.costs.gp.value.formula
            disabled=(not editable)
          )
          "Variable"
        )
      )
      tooltip=(ifThen
        (eq system.costs.gp.type "static")
        "Static Gold Cost"
        (ifThen
          (eq system.costs.gp.type "formula")
          "Formula Gold Cost"
          "Variable Gold Cost"
        )
      )
      icon=TERIOCK.display.icons.stat.gp
      label="₲"
      classes=(ifThen editable "gold-cost-box" "")
      include=(not (eq system.costs.gp.type "none"))
    }}
    {{formBox
      (path TERIOCK.options.ability.breakCost system.costs.break)
      icon=TERIOCK.display.icons.ability.break
      tooltip="Break Cost"
      classes=(ifThen editable "break-cost-box" "")
      include=(exists system.costs.break)
    }}
  </div>
{{/if}}