{{#if
  (or
    (not (eq system.costs.mp.type "none"))
    (not (eq system.costs.hp.type "none"))
    (not (eq system.costs.gp.type "none"))
    (exists system.costs.break)
  )
}}
  <div class="ab-bar ab-bar-3">
    {{#if (not (eq system.costs.mp.type "none"))}}
      <div class="ab-box-container">
        <div class="ab-box {{#if editable}}mana-cost-box{{/if}}">
          <div class="ab-box-icon">
            {{{config.display.icons.mp}}}
          </div>
          <div class="ab-box-content">
            {{#if (eq system.costs.mp.type "static")}}
              {{formInput
                systemFields.costs.fields.mp.fields.value.fields.static
                value=system.costs.mp.value.static
                disabled=(not editable)
                classes="ability-bar-input mp-input"
                dataset=(dataset tooltip="Static Mana Cost")
              }}
            {{else}}
              {{#if (eq system.costs.mp.type "formula")}}
                {{formInput
                  systemFields.costs.fields.mp.fields.value.fields.formula
                  value=system.costs.mp.value.formula
                  disabled=(not editable)
                  classes="ability-bar-input mp-input"
                  dataset=(dataset tooltip="Formula Mana Cost")
                }}
              {{else}}
                {{#if (eq system.costs.mp.type "variable")}}
                  <span data-tooltip="Variable Mana Cost">Variable</span>
                {{/if}}
              {{/if}}
            {{/if}}
            <div class="ab-box-label">
              MP
            </div>
          </div>
        </div>
      </div>
    {{/if}}
    {{#if system.gifted.enabled}}
      <div class="ab-box-container">
        <div class="ab-box">
          <div class="ab-box-icon">
            <i class="fa-light fa-plus"></i>
          </div>
          <div class="ab-box-content">
            {{formInput
              systemFields.gifted.fields.amount
              value=system.gifted.amount
              disabled=(not editable)
              classes="ability-bar-input gifted-amount-input"
              dataset=(dataset tooltip="Gifted Mana Cost")
            }}
          </div>
          <div class="ab-box-label">
            MP
          </div>
        </div>
      </div>
    {{/if}}
    {{#if (not (eq system.costs.hp.type "none"))}}
      <div class="ab-box-container">
        <div class="ab-box {{#if editable}}hit-cost-box{{/if}}" data-tooltip="Hit Cost">
          <div class="ab-box-icon">
            {{{config.display.icons.hp}}}
          </div>
          <div class="ab-box-content">
            {{#if (eq system.costs.hp.type "static")}}
              {{formInput
                systemFields.costs.fields.hp.fields.value.fields.static
                value=system.costs.hp.value.static
                disabled=(not editable)
                classes="ability-bar-input hp-input"
                dataset=(dataset tooltip="Static Hit Cost")
              }}
            {{else}}
              {{#if (eq system.costs.hp.type "formula")}}
                {{formInput
                  systemFields.costs.fields.hp.fields.value.fields.formula
                  value=system.costs.hp.value.formula
                  disabled=(not editable)
                  classes="ability-bar-input hp-input"
                  dataset=(dataset tooltip="Formula Hit Cost")
                }}
              {{else}}
                {{#if (eq system.costs.hp.type "variable")}}
                  <span data-tooltip="Variable Hit Cost">Variable</span>
                {{else}}
                  {{#if (eq system.costs.hp.type "hack")}}
                    <span data-tooltip="Hack Hit Cost">Hack</span>
                  {{/if}}
                {{/if}}
              {{/if}}
            {{/if}}
            <div class="ab-box-label">
              HP
            </div>
          </div>
        </div>
      </div>
    {{/if}}
    {{#if (not (eq system.costs.gp.type "none"))}}
      <div class="ab-box-container">
        <div class="ab-box {{#if editable}}gold-cost-box{{/if}}" data-tooltip="Gold Cost">
          <div class="ab-box-icon">
            {{{config.display.icons.gp}}}
          </div>
          <div class="ab-box-content">
            {{#if (eq system.costs.gp.type "static")}}
              {{formInput
                systemFields.costs.fields.gp.fields.value.fields.static
                value=system.costs.gp.value.static
                disabled=(not editable)
                classes="ability-bar-input gp-input"
                dataset=(dataset tooltip="Static Gold Cost")
              }}
            {{else}}
              {{#if (eq system.costs.gp.type "formula")}}
                {{formInput
                  systemFields.costs.fields.gp.fields.value.fields.formula
                  value=system.costs.gp.value.formula
                  disabled=(not editable)
                  classes="ability-bar-input gp-input"
                  dataset=(dataset tooltip="Formula Gold Cost")
                }}
              {{else}}
                {{#if (eq system.costs.gp.type "variable")}}
                  <span data-tooltip="Variable Gold Cost">Variable</span>
                {{/if}}
              {{/if}}
            {{/if}}
            <div class="ab-box-label">
              ₲
            </div>
          </div>
        </div>
      </div>
    {{/if}}
    {{#if (exists system.costs.break)}}
      <div class="ab-box-container">
        <div class="ab-box {{#if editable}}break-cost-box{{/if}}" data-tooltip="Break Cost">
          <div class="ab-box-icon">
            {{{config.display.icons.break}}}
          </div>
          <div class="ab-box-content">
            {{lookup config.options.ability.breakCost system.costs.break}}
          </div>
        </div>
      </div>
    {{/if}}
  </div>
{{/if}}
