<div class="ab-bar">
  <div class="ab-box-container">
    <div class="ab-box {{#if editable}}ability-type-box{{/if}}" data-tooltip="Ability Type">
      <div
        class="ab-box-icon"
        style="color: {{lookup
          (lookup config.options.ability.form system.form)
          'color'
        }};"
      >
        <i
          class="fa-fw fa-light fa-{{lookup
            (lookup config.options.ability.form system.form)
            'icon'
          }}"
        ></i>
      </div>
      <div class="ab-box-content">
        {{{lookup
          (lookup config.options.ability.form system.form)
          "name"
        }}}
      </div>
    </div>
  </div>
  <div class="ab-box-container">
    <div class="ab-box disabled-box" data-tooltip="Disabled?" data-action="toggleDisabledThis">
      <div class="ab-box-icon">
        {{#if disabled}}
          <i class="fa-fw fa-light fa-xmark"></i>
        {{else}}
          <i class="fa-fw fa-light fa-check"></i>
        {{/if}}
      </div>
      <div class="ab-box-content">
        {{#if disabled}}
          Disabled
        {{else}}
          Enabled
        {{/if}}
      </div>
    </div>
  </div>
</div>
