{{#if (or (exists effectTags) system.elderSorcery)}}
  <div class="ab-tags-container">
    <div class="ab-tags">
      {{#if system.warded}}
        <span
          class="ab-tag tsubtle flag-tag flag-warded"
          data-tooltip="{{localize "TERIOCK.SHEETS.Common.TAGS.remove"}}"
        >
          {{localize "TERIOCK.SYSTEMS.Attack.FIELDS.warded.label"}}
        </span>
      {{/if}}
      {{#if system.elderSorcery}}
        <span
          class="ab-tag tsubtle flag-tag flag-elder-sorcery"
          data-tooltip="{{localize "TERIOCK.SHEETS.Common.TAGS.remove"}}"
        >
          {{localize "TERIOCK.SYSTEMS.Ability.FIELDS.elderSorcery.label"}}
        </span>
      {{/if}}
      {{#each effectTags as |key index|}}
        <span
          class="ab-tag tsubtle effect-tag"
          data-value="{{key}}"
          data-tooltip="{{localize "TERIOCK.SHEETS.Common.TAGS.remove"}}"
        >
          {{lookup ../TERIOCK.options.ability.effectTypes key}}
        </span>
      {{/each}}
    </div>
  </div>
{{/if}}
