<div class="ab-tags-container">
  <div class="ab-tags">
    {{#if system.basic}}
      <span
        class="ab-tag tsubtle flag-tag flag-tag-basic"
        data-tooltip="{{localize "TERIOCK.SHEETS.Common.TAGS.remove"}}"
      >
        {{localize "TERIOCK.SYSTEMS.Ability.FIELDS.basic.label"}}
      </span>
    {{/if}}
    {{#if system.sustained}}
      <span
        class="ab-tag tsubtle flag-tag flag-tag-sustained"
        data-tooltip="{{localize "TERIOCK.SHEETS.Common.TAGS.remove"}}"
      >
        {{localize "TERIOCK.SYSTEMS.Ability.FIELDS.sustained.label"}}
      </span>
    {{/if}}
    {{#if (and system.standard system.skill)}}
      <span
        class="ab-tag tsubtle flag-tag flag-tag-standard"
        data-tooltip="{{localize "TERIOCK.SHEETS.Common.TAGS.remove"}}"
      >
        {{localize "TERIOCK.TERMS.Common.semblant"}}
      </span>
    {{/if}}
    {{#if (and system.standard system.spell)}}
      <span
        class="ab-tag tsubtle flag-tag flag-tag-standard"
        data-tooltip="{{localize "TERIOCK.SHEETS.Common.TAGS.remove"}}"
      >
        {{localize "TERIOCK.TERMS.Common.conjured"}}
      </span>
    {{/if}}
    {{#each system.powerSources as |key index|}}
      <span class
              ="ab-tag tsubtle power-tag power-tag" data-value="{{key}}"
            data-tooltip="{{localize "TERIOCK.SHEETS.Common.TAGS.remove"}}"
      >
        {{
        lookup
          ../TERIOCK.options.ability.powerSources key}}</span>{{/each}}
    {{#each system.elements as |key index|}}
      <span class
              ="ab-tag tsubtle element-tag" data-value="{{key}}"
            data-tooltip="{{localize "TERIOCK.SHEETS.Common.TAGS.remove"}}"
      >
        {{
        lookup
          ../TERIOCK.options.ability.elements key}}</span>{{/each}}
    {{#if system.costs.invoked}}
      <span
        class="ab-tag tsubtle flag-tag flag-tag-invoked"
        data-tooltip="{{localize "TERIOCK.SHEETS.Common.TAGS.remove"}}"
      >
        {{localize "TERIOCK.TERMS.Costs.invoked"}}
      </span>
    {{/if}}
    {{#if system.costs.verbal}}
      <span
        class="ab-tag tsubtle flag-tag flag-tag-verbal"
        data-tooltip="{{localize "TERIOCK.SHEETS.Common.TAGS.remove"}}"
      >
        {{localize "TERIOCK.TERMS.Costs.verbal"}}
      </span>
    {{/if}}
    {{#if system.costs.somatic}}
      <span
        class="ab-tag tsubtle flag-tag flag-tag-somatic"
        data-tooltip="{{localize "TERIOCK.SHEETS.Common.TAGS.remove"}}"
      >
        {{localize "TERIOCK.TERMS.Costs.somatic"}}
      </span>
    {{/if}}
    {{#if system.ritual}}
      <span
        class="ab-tag tsubtle flag-tag flag-tag-ritual"
        data-tooltip="{{localize "TERIOCK.SHEETS.Common.TAGS.remove"}}"
      >
        {{localize "TERIOCK.SYSTEMS.Ability.FIELDS.ritual.label"}}
      </span>
    {{/if}}
    {{#if system.rotator}}
      <span
        class="ab-tag tsubtle flag-tag flag-tag-rotator"
        data-tooltip="{{localize "TERIOCK.SHEETS.Common.TAGS.remove"}}"
      >
        {{localize "TERIOCK.SYSTEMS.Ability.FIELDS.rotator.label"}}
      </span>
    {{/if}}
    {{#if system.skill}}
      <span
        class="ab-tag tsubtle flag-tag flag-tag-skill"
        data-tooltip="{{localize "TERIOCK.SHEETS.Common.TAGS.remove"}}"
      >
        {{localize "TERIOCK.SYSTEMS.Ability.FIELDS.skill.label"}}
      </span>
    {{/if}}
    {{#if system.spell}}
      <span
        class="ab-tag tsubtle flag-tag flag-tag-spell"
        data-tooltip="{{localize "TERIOCK.SHEETS.Common.TAGS.remove"}}"
      >
        {{localize "TERIOCK.SYSTEMS.Ability.FIELDS.spell.label"}}
      </span>
    {{/if}}
  </div>
  {{> (template "document-templates/shared/menu-buttons.hbs")}}
</div>
