  <div class="ab-main">
    <div class="rank-abilities-container">
      {{#if (exists system.possibleAbilities.archetype)}}
        <div class="ab-section-container">
          <div class="ab-section">
            <span class="ab-section-title">Archetype abilities</span>
          </div>
          <ol class="rank-ability-list">
            {{#each system.possibleAbilities.archetype}}
              <li class="rank-ability-item">
                {{this}}
              </li>
            {{/each}}
          </ol>
        </div>
      {{/if}}
      {{#if (exists system.possibleAbilities.normal)}}
        <div class="ab-section-container">
          <div class="ab-section">
            <span class="ab-section-title">Abilities</span>
          </div>
          <ol class="rank-ability-list">
            {{#each system.possibleAbilities.normal}}
              <li class="rank-ability-item">
                {{this}}
              </li>
            {{/each}}
          </ol>
        </div>
      {{/if}}
      {{#if (exists system.possibleAbilities.combat)}}
        <div class="ab-section-container">
          <div class="ab-section">
            <span class="ab-section-title">Combat abilities</span>
          </div>
          Pick one.
          <ol class="rank-ability-list">
            {{#each system.possibleAbilities.combat}}
              <li class="rank-ability-item">
                {{this}}
              </li>
            {{/each}}
          </ol>
        </div>
      {{/if}}
      {{#if (exists system.possibleAbilities.support)}}
        <div class="ab-section-container">
          <div class="ab-section">
            <span class="ab-section-title">Support abilities</span>
          </div>
          Pick one.
          <ol class="rank-ability-list">
            {{#each system.possibleAbilities.support}}
              <li class="rank-ability-item">
                {{this}}
              </li>
            {{/each}}
          </ol>
        </div>
      {{/if}}
    </div>
  </div>
  {{!-- Uncomment below when willing to make parent implementation --}}
  {{!-- {{#each system.possibleAbilities.normal as |item id|}}
    <li class="rank-ability-item" data-item-id="{{item._id}}">
      {{item.name}}
    </li>
  {{/each}} --}}
