<div class="tgrid g4">
  <div class="tgrid-item gi2">
    <select
      name="system.sheet.abilityFilters.maneuver"
      id="maneuver"
    >
      <option value="">Maneuver</option>
      {{selectOptions config.abilityOptions.maneuver selected=system.sheet.abilityFilters.maneuver}}
    </select>
  </div>
  <div class="tgrid-item gi2">
    <select
      name="system.sheet.abilityFilters.interaction"
      id="interaction"
    >
      <option value="">Interaction</option>
      {{selectOptions config.abilityOptions.interaction selected=system.sheet.abilityFilters.interaction}}
    </select>
  </div>
  <div class="tgrid-item gi2">
    <select
      name="system.sheet.abilityFilters.delivery"
      id="delivery"
    >
      <option value="">Delivery</option>
      {{selectOptions config.abilityOptions.delivery selected=system.sheet.abilityFilters.delivery}}
    </select>
  </div>
  <div class="tgrid-item gi2">
    <select
      name="system.sheet.abilityFilters.target"
      id="target"
    >
      <option value="">Target</option>
      {{selectOptions config.abilityOptions.targets selected=system.sheet.abilityFilters.target}}
    </select>
  </div>
  <div class="tgrid-item gi2">
    <select
      name="system.sheet.abilityFilters.powerSource"
      id="powerSource"
    >
      <option value="">Power Source</option>
      {{selectOptions config.abilityOptions.powerSources selected=system.sheet.abilityFilters.powerSource}}
    </select>
  </div>
  <div class="tgrid-item gi2">
    <select
      name="system.sheet.abilityFilters.element"
      id="element"
    >
      <option value="">Element</option>
      {{selectOptions config.abilityOptions.elements selected=system.sheet.abilityFilters.element}}
    </select>
  </div>
  <div class="tgrid-item gi4">
    <multi-select
      name="system.sheet.abilityFilters.effects"
      id="effects"
      placeholder="Effects"
    >
      {{selectOptions config.abilityOptions.effects selected=system.sheet.abilityFilters.effects}}
    </multi-select>
  </div>
  <div class="tgrid-item">
    <label for="basic">Basic</label>
    {{tswitch
      id="basic"
      name="system.sheet.abilityFilters.basic"
    }}
  </div>
  <div class="tgrid-item">
    <label for="standard">Standard</label>
    {{tswitch
      id="standard"
      name="system.sheet.abilityFilters.standard"
    }}
  </div>
  <div class="tgrid-item">
    <label for="skill">Skill</label>
    {{tswitch
      id="skill"
      name="system.sheet.abilityFilters.skill"
    }}
  </div>
  <div class="tgrid-item">
    <label for="spell">Spell</label>
    {{tswitch
      id="spell"
      name="system.sheet.abilityFilters.spell"
    }}
  </div>
  <div class="tgrid-item">
    <label for="ritual">Ritual</label>
    {{tswitch
      id="ritual"
      name="system.sheet.abilityFilters.ritual"
    }}
  </div>
  <div class="tgrid-item">
    <label for="rotator">Rotator</label>
    {{tswitch
      id="rotator"
      name="system.sheet.abilityFilters.rotator"
    }}
  </div>
  <div class="tgrid-item">
    <label for="heightened">Heightenable</label>
    {{tswitch
      id="heightened"
      name="system.sheet.abilityFilters.heightened"
    }}
  </div>
  <div class="tgrid-item">
    <label for="expansion">Expanding</label>
    {{tswitch
      id="expansion"
      name="system.sheet.abilityFilters.expansion"
    }}
  </div>
  <div class="tgrid-item">
    <label for="verbal">Verbal</label>
    {{tswitch
      id="verbal"
      name="system.sheet.abilityFilters.verbal"
    }}
  </div>
  <div class="tgrid-item">
    <label for="somatic">Somatic</label>
    {{tswitch
      id="somatic"
      name="system.sheet.abilityFilters.somatic"
    }}
  </div>
  <div class="tgrid-item">
    <label for="material">Material</label>
    {{tswitch
      id="material"
      name="system.sheet.abilityFilters.material"
    }}
  </div>
  <div class="tgrid-item">
    <label for="invoked">Invoked</label>
    {{tswitch
      id="invoked"
      name="system.sheet.abilityFilters.invoked"
    }}
  </div>
  <div class="tgrid-item">
    <label for="hp">Hit Cost</label>
    {{tswitch
      id="hp"
      name="system.sheet.abilityFilters.hp"
    }}
  </div>
  <div class="tgrid-item">
    <label for="mp">Mana Cost</label>
    {{tswitch
      id="mp"
      name="system.sheet.abilityFilters.mp"
    }}
  </div>
  <div class="tgrid-item">
    <label for="broken">Break Cost</label>
    {{tswitch
      id="broken"
      name="system.sheet.abilityFilters.broken"
    }}
  </div>
  <div class="tgrid-item">
    <label for="sustained">Sustained</label>
    {{tswitch
      id="sustained"
      name="system.sheet.abilityFilters.sustained"
    }}
  </div>
</div>