<div class="tgrid g4">
  <div class="tgrid-item gi2">
    <select
      name="system.sheet.equipmentFilters.equipmentClasses"
      id="equipmentClasses"
    >
      <option value="">Equipment Classes</option>
      {{selectOptions
        config.equipmentOptions.equipmentClasses
        selected=system.sheet.equipmentFilters.equipmentClasses
      }}
    </select>
  </div>
  <div class="tgrid-item gi2">
    <select
      name="system.sheet.equipmentFilters.properties"
      id="properties"
    >
      <option value="">Properties</option>
      {{selectOptions
        config.equipmentOptions.properties
        selected=system.sheet.equipmentFilters.properties
      }}
    </select>
  </div>
  <div class="tgrid-item gi2">
    <select
      name="system.sheet.equipmentFilters.materialProperties"
      id="materialProperties"
    >
      <option value="">Material Properties</option>
      {{selectOptions
        config.equipmentOptions.materialProperties
        selected=system.sheet.equipmentFilters.materialProperties
      }}
    </select>
  </div>
  <div class="tgrid-item gi2">
    <select
      name="system.sheet.equipmentFilters.magicalProperties"
      id="magicalProperties"
    >
      <option value="">Magical Properties</option>
      {{selectOptions
        config.equipmentOptions.magicalProperties
        selected=system.sheet.equipmentFilters.magicalProperties
      }}
    </select>
  </div>
  <div class="tgrid-item gi2">
    <select
      name="system.sheet.equipmentFilters.weaponFightingStyles"
      id="weaponFightingStyles"
    >
      <option value="">Fighting Styles</option>
      {{selectOptions
        config.equipmentOptions.weaponFightingStyles
        selected=system.sheet.equipmentFilters.weaponFightingStyles
      }}
    </select>
  </div>
  <div class="tgrid-item gi2">
    <select
      name="system.sheet.equipmentFilters.powerLevel"
      id="powerLevel"
    >
      <option value="">Power Level</option>
      {{selectOptions
        config.equipmentOptions.powerLevelShort
        selected=system.sheet.equipmentFilters.powerLevel
      }}
    </select>
  </div>
  <div class="tgrid-item">
    <label for="equipped">Equipped</label>
    {{tswitch
      id="equipped"
      name="system.sheet.equipmentFilters.equipped"
    }}
  </div>
  <div class="tgrid-item">
    <label for="shattered">Shattered</label>
    {{tswitch
      id="shattered"
      name="system.sheet.equipmentFilters.shattered"
    }}
  </div>
  <div class="tgrid-item">
    <label for="identified">Identified</label>
    {{tswitch
      id="identified"
      name="system.sheet.equipmentFilters.identified"
    }}
  </div>
  <div class="tgrid-item">
    <label for="consumable">Consumable</label>
    {{tswitch
      id="consumable"
      name="system.sheet.equipmentFilters.consumable"
    }}
  </div>
</div>