{{#if (exists system.overview.base)}}
  <div class="ab-section-container">
    <div class="ab-section">
      <span class="ab-section-title">Description</span>
    </div>
    <prose-mirror
      name="system.overview.base"
      value="{{system.overview.base}}"
      toggled=true
      editable=editable
    >{{{baseOverview}}}</prose-mirror>
  </div>
{{/if}}
{{#if (exists system.overview.proficient)}}
  <div class="ab-section-container">
    <div class="ab-section">
      <span class="ab-section-title">If proficient</span>
    </div>
    <prose-mirror
      name="system.overview.proficient"
      value="{{system.overview.proficient}}"
      toggled=true
      editable=editable
    >{{{proficientOverview}}}</prose-mirror>
  </div>
{{/if}}
{{#if (exists system.overview.fluent)}}
  <div class="ab-section-container">
    <div class="ab-section">
      <span class="ab-section-title">If fluent</span>
    </div>
    <prose-mirror
      name="system.overview.fluent"
      value="{{system.overview.fluent}}"
      toggled=true
      editable=editable
    >{{{fluentOverview}}}</prose-mirror>
  </div>
{{/if}}