<div class="character-sidebar">
    <div class="character-intro-box"></div>
    <div class="character-status-box">
        <div class="character-status-bars">
            <div class="character-hit-bar-container character-bar-container">
                <div class="character-hit-bar character-bar">
                    <div class="character-bar-left" style="width: {{barLeft system.hp system.hpMax system.hpTemp}}%;"></div>
                    <div class="character-bar-temp" style="width: {{barTemp system.hp system.hpMax system.hpTemp}}%;"></div>
                    <div class="character-bar-lost" style="width: {{barLost system.hp system.hpMax system.hpTemp}}%;"></div>
                </div>
                <div class="character-hit-bar-label">
                    <input type="number" name="system.hp" value="{{system.hp}}">
                    <input type="number" name="system.hpMax" value="{{system.hpMax}}">
                    <input type="number" name="system.hpTemp" value="{{system.hpTemp}}">
                </div>
            </div>
            <div class="character-mana-bar-container"></div>
        </div>
    </div>
</div>