<div class="{{ cssClass }} actor-window inventory-sheet">
  <div class="actor-page">
    <div class="actor-tab-content">
      {{> "teriock/sheets/shared/header"}}
      <div class="actor-tab inventory">
        <div class="actor-tab-page teriock-block-results" data-search-key="equipment">
          {{> "teriock/sheets/actors/playable/parts/money-display"}}
          <div class="teriock-block-display">
            {{> "teriock/ui/preview"
              @root.previews.equipment
            }}
          </div>
          <div class="teriock-block-display actor-notes-content">
            <prose-mirror name="system.notes" value="{{ system.notes }}" toggled="true" editable="editable">
              {{#if (exists enrichedNotes)}}
                {{{ enrichedNotes }}}
              {{else}}
                {{localize "TERIOCK.SHEETS.Actor.TABS.Details.notes.placeholder"}}
              {{/if}}
            </prose-mirror>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
