<div class="{{cssClass}} tsheet-page">
  <div class="ab-sheet-everything">
    <div class="ab-sheet-top">
      {{> (template "document-templates/shared/header.hbs")}}
      <div class="ab-bars">
        {{#if
          (or
            (exists system.av.saved)
            (exists system.bv.saved)
            (exists system.damage.base.saved)
          )
        }}
          <div class="ab-bar">
            {{formBox
              (formInput
                systemFields.damage.fields.base.fields.saved
                dataset=(object tooltip="Damage")
                disabled=(not editable)
                value=system.damage.base.saved
              )
              icon=(firstDie system.damage.base.saved)
              include=(exists system.damage.base.saved)
              label="DMG"
            }}
            {{formBox
              (formInput
                systemFields.av.fields.saved
                dataset=(object tooltip="Armor Value")
                disabled=(not editable)
                value=system.av.saved
              )
              icon=(path TERIOCK.display.icons "av")
              include=(exists system.av.saved)
              label="AV"
              unselected=system.av.value
            }}
            {{formBox
              (formInput
                systemFields.bv.fields.saved
                dataset=(object tooltip="Block Value")
                disabled=(not editable)
                value=system.bv.saved
              )
              icon=(path TERIOCK.display.icons "bv")
              include=(exists system.bv.saved)
              label="BV"
              unselected=system.bv.value
            }}
            {{formBox
              (formInput
                systemFields.attackPenalty.fields.saved
                dataset=(object tooltip="Attack Penalty")
                disabled=(not editable)
                value=system.attackPenalty.saved
              )
              icon=(path TERIOCK.display.icons "ap")
              include=(exists system.attackPenalty.saved)
              label="AP"
              unselected=system.attackPenalty.value
            }}
          </div>
        {{/if}}
      </div>
      {{> (template "document-templates/item-templates/body-template/parts/bo-menu.hbs")}}
    </div>
    <div class="ab-main">
      <div class="ab-tags-all">
        <div class="ab-tags-container">
          <div class="ab-tags">
            <span class="ab-tag tsubtle trait-tag">Body parts</span>
          </div>
          <div class="ab-icon ab-menu-toggle">
            <div class="ab-menu-closed-container" data-tooltip="Open Menu">
              {{{TERIOCK.display.icons.menuOpen}}}
            </div>
            <div class="ab-menu-open-container" data-tooltip="Close Menu">
              {{{TERIOCK.display.icons.menuClose}}}
            </div>
          </div>
        </div>
      </div>
      {{> (template "document-templates/shared/display-fields.hbs")}}
    </div>
    {{#if (or editable (exists properties))}}
      <div class="ab-main">
        {{#if editable}}
          <button class="createProperty" data-action="createProperty">Add Property</button>{{/if}}
        {{#each properties as |doc|}}
          {{> (template "ui-templates/block.hbs") (merge doc.embedParts (object
            relative=../document.uuid))}}
        {{/each}}
      </div>
    {{/if}}
    {{> (template "document-templates/shared/macros.hbs")}}
  </div>
</div>
