<div class="ab-menu">
  <div class="ab-menu-content">
    <div class="ab-menu-bar">
      <div class="tgrid ab-check-grid">
        {{> (template "sheets/shared/display-toggles.hbs")}}
      </div>
    </div>
    <div class="ab-menu-bar">
      <div class="tgrid ab-select-grid g3">
        <div class="tgrid-item">
          <div class="ab-multi-select-label">
            <label class="tsubtle">{{localize "TERIOCK.SYSTEMS.Ability.FIELDS.powerSources.label"}}</label>
            {{formInput
              systemFields.powerSources
              value=system.powerSources
              disabled=(not editable)
            }}
          </div>
        </div>
        <div class="tgrid-item">
          <div class="ab-multi-select-label">
            <label class="tsubtle">{{localize "TERIOCK.SYSTEMS.Ability.FIELDS.elements.label"}}</label>
            {{formInput
              systemFields.elements
              value=system.elements
              disabled=(not editable)
            }}
          </div>
        </div>
        <div class="tgrid-item">
          <div class="ab-multi-select-label">
            <label class="tsubtle">{{localize "TERIOCK.SYSTEMS.Ability.FIELDS.effectTypes.label"}}</label>
            {{formInput
              systemFields.effectTypes
              value=system.effectTypes
              disabled=(not editable)
            }}
          </div>
        </div>
      </div>
    </div>
    <div class="ab-menu-bar">
      <div class="tgrid ab-button-grid">
        {{#if (not (exists system.expansion.type))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-expansion-button"
              {{#if (not editable)}}
                    disabled="disabled"
              {{/if}}
            >
              {{makeIcon TERIOCK.display.icons.ui.add "button"}}
              {{localize "TERIOCK.SYSTEMS.Ability.FIELDS.expansion.label"}}
            </button>
          </div>
        {{/if}}
        {{#if (and (exists system.expansion.type) (not (exists system.expansionCap.raw)))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-expansion-cap-button"
              {{#if (not editable)}}
                    disabled="disabled"
              {{/if}}
            >
              {{makeIcon TERIOCK.display.icons.ui.add "button"}}
              {{localize "TERIOCK.SYSTEMS.Ability.FIELDS.expansion.cap.label"}}
            </button>
          </div>
        {{/if}}

        {{! Before Overview }}
        {{#if (eq system.costs.mp.type "none")}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-mana-cost-button"
              {{#if (not editable)}}
                    disabled="disabled"
              {{/if}}
            >
              {{makeIcon TERIOCK.display.icons.ui.add "button"}}
              {{localize "TERIOCK.SYSTEMS.Ability.FIELDS.costs.mp.value.variable.label"}}
            </button>
          </div>
        {{/if}}
        {{#if (eq system.costs.hp.type "none")}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-hit-cost-button"
              {{#if (not editable)}}
                    disabled="disabled"
              {{/if}}
            >
              {{makeIcon TERIOCK.display.icons.ui.add "button"}}
              {{localize "TERIOCK.SYSTEMS.Ability.FIELDS.costs.hp.value.variable.label"}}
            </button>
          </div>
        {{/if}}
        {{#if (eq system.costs.gp.type "none")}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-gold-cost-button"
              {{#if (not editable)}}
                    disabled="disabled"
              {{/if}}
            >
              {{makeIcon TERIOCK.display.icons.ui.add "button"}}
              {{localize "TERIOCK.SYSTEMS.Ability.FIELDS.costs.gp.value.variable.label"}}
            </button>
          </div>
        {{/if}}
        {{#if (not (exists system.costs.break))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-break-cost-button"
              {{#if (not editable)}}
                    disabled="disabled"
              {{/if}}
            >
              {{makeIcon TERIOCK.display.icons.ui.add "button"}}
              {{localize "TERIOCK.SYSTEMS.Ability.FIELDS.costs.break.label"}}
            </button>
          </div>
        {{/if}}
        {{> (template "sheets/shared/display-field-buttons.hbs")}}
        {{! Improvements }}
        {{#if
          (not (exists system.upgrades.score.attribute))
        }}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-attribute-improvement-button"
              {{#if (not editable)}}
                    disabled="disabled"
              {{/if}}
            >
              {{makeIcon TERIOCK.display.icons.ui.add "button"}}
              {{localize "TERIOCK.SYSTEMS.Ability.FIELDS.upgrades.score.button"}}
            </button>
          </div>
        {{/if}}
        {{#if (not (exists system.upgrades.competence.attribute))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-feat-save-improvement-button"
              {{#if (not editable)}}
                    disabled="disabled"
              {{/if}}
            >
              {{makeIcon TERIOCK.display.icons.ui.add "button"}}
              {{localize "TERIOCK.SYSTEMS.Ability.FIELDS.upgrades.competence.button"}}
            </button>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>
