<div
  class="
    ab-menu
    {{#if menuCollapsed}}
      collapsed
    {{/if}}
  "
>
  <div class="ab-menu-content">
    {{> "teriock/sheets/shared/display-toggles"}}
    <div class="ab-menu-bar">
      <div class="ttable ab-select-grid menu-large-grid">
        {{> "teriock/sheets/shared/menu-input"
          field=systemFields.powerSources
          value=system.powerSources
        }}
        {{> "teriock/sheets/shared/menu-input"
          field=systemFields.elements
          value=system.elements
        }}
        {{> "teriock/sheets/shared/menu-input"
          field=systemFields.effectTypes
          value=system.effectTypes
        }}
        {{#each TERIOCK.config.cost.primary.keys as |value key|}}
          {{> "teriock/sheets/shared/menu-input"
            field=(path @root/systemFields.costs.fields.primary.fields key "fields.type")
            value=(path @root/system.costs.primary key "type")
          }}
        {{/each}}
        {{#each TERIOCK.config.cost.components.keys as |value key|}}
          {{> "teriock/sheets/shared/menu-input"
            field=(path @root/systemFields.costs.fields.components.fields key "fields.type")
            value=(path @root/system.costs.components key "type")
          }}
        {{/each}}
      </div>
    </div>
    <div class="ab-menu-bar">
      <div class="ttable ab-button-grid">
        {{#if (not (exists system.expansion.type))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-expansion-button" {{#if (not editable)}}disabled="disabled"{{/if}}>{{makeIcon TERIOCK.display.icons.ui.add "button"}} {{localize "TERIOCK.SYSTEMS.Ability.FIELDS.expansion.label"}}</button>
          </div>
        {{/if}}
        {{#if (and (exists system.expansion.type) (not (exists system.expansion.cap)))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-expansion-cap-button" {{#if (not editable)}}disabled="disabled"{{/if}}>{{makeIcon TERIOCK.display.icons.ui.add "button"}} {{localize "TERIOCK.SYSTEMS.Ability.FIELDS.expansion.cap.label"}}</button>
          </div>
        {{/if}}

        {{! Before Overview}}
        {{#each TERIOCK.config.cost.tweaks as |value key|}}
          {{#if (eq (lookup @root/system.costs.tweaks key) 0)}}
            <div class="tgrid-item">
              <button class="ab-menu-button ab-tweak-{{ key }}-button" {{#if (not @root/editable)}}disabled="disabled"{{/if}}>{{makeIcon @root/TERIOCK.display.icons.ui.add "button"}} {{ value.label }}</button>
            </div>
          {{/if}}
        {{/each}}
        {{> "teriock/sheets/shared/display-field-buttons"}}
        {{! Improvements}}
        {{#if (not (exists system.upgrades.score.attribute))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-attribute-improvement-button" {{#if (not editable)}}disabled="disabled"{{/if}}>{{makeIcon TERIOCK.display.icons.ui.add "button"}} {{localize "TERIOCK.SYSTEMS.Ability.FIELDS.upgrades.score.button"}}</button>
          </div>
        {{/if}}
        {{#if (not (exists system.upgrades.competence.attribute))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-feat-save-improvement-button" {{#if (not editable)}}disabled="disabled"{{/if}}>{{makeIcon TERIOCK.display.icons.ui.add "button"}} {{localize "TERIOCK.SYSTEMS.Ability.FIELDS.upgrades.competence.button"}}</button>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>
