<div class="{{cssClass}} standard-form scrollable">
  {{#if hasCompendiumSource}}
    <fieldset>
      <legend>Sources</legend>
      {{formGroup
        document.system.schema.fields.url
        value=document.system.url
        rootId=id
      }}
      {{formGroup
        document.schema.fields._stats.fields.compendiumSource
        value=document._stats.compendiumSource
        rootId=id
        hint=(concat "An uembedded document in a compendium that this is sourced from. If this is refreshed, it pulls "
          "from the document specified here.")
        label="Compendium Source"
      }}
    </fieldset>
  {{/if}}
  {{#if hasQualifiers}}
    <fieldset>
      <legend>Qualifiers</legend>
      {{formGroup
        document.system.schema.fields.qualifiers.fields.ephemeral.fields.raw
        value=document.system.qualifiers.ephemeral.raw
        rootId=id
      }}
      {{formGroup
        document.system.schema.fields.qualifiers.fields.suppressed.fields.raw
        value=document.system.qualifiers.suppressed.raw
        rootId=id
      }}
    </fieldset>
  {{/if}}
  {{#if hasOtherSettings}}
    <fieldset>
      <legend>Automated Behavior</legend>
      {{#each otherSettings as |value name|}}
        {{formGroup
          (path @root/document.flags.teriockDocumentSettings.schema.fields name)
          value=value
          rootId=@root/id
          name=(concat "flags.teriockDocumentSettings." name)
        }}
      {{/each}}
    </fieldset>
  {{/if}}
  {{#if hasSheetSettings}}
    <fieldset>
      <legend>Sheet Display</legend>
      {{#each sheetSettings as |value name|}}
        {{formGroup
          (path @root/document.flags.teriockDocumentSettings.schema.fields name)
          value=value
          rootId=@root/id
          name=(concat "flags.teriockDocumentSettings." name)
        }}
      {{/each}}
    </fieldset>
  {{/if}}
</div>