{{#if (or
  (exists system.attackPenalty)
  (exists system.damage.base)
  (exists system.damage.twoHanded)
  (exists system.hitBonus))}}
  <div class="teriock-sheet-bar">
    {{
      formBox
      sourceDamageString
      action=(ifThen editable "editArmamentDamage" "")
      icon=TERIOCK.display.icons.ui.damage
      include=(exists system.damage.base)
      unselected=damageString
      label=(localize "TERIOCK.SYSTEMS.Armament.FIELDS.damage.abbreviation")
      tooltip=(localize "TERIOCK.SYSTEMS.Armament.FIELDS.damage.label")
      overflow=true
    }}
    {{
      formBox
      system._source.hitBonus
      action=(ifThen editable "updatePaths" "")
      dataset=(object paths="system.hitBonus")
      icon=TERIOCK.display.icons.armament.hitBonus
      include=(exists system.hitBonus)
      label=(localize "TERIOCK.SYSTEMS.Attack.FIELDS.hitBonus.abbreviation")
      unselected=system.hitBonus
      tooltip=(localize "TERIOCK.SYSTEMS.Attack.FIELDS.hitBonus.label")
    }}
    {{
      formBox
      system._source.attackPenalty
      action=(ifThen editable "updatePaths" "")
      dataset=(object paths="system.attackPenalty")
      icon=TERIOCK.display.icons.armament.ap
      label=(localize "TERIOCK.SYSTEMS.Attack.FIELDS.attackPenalty.abbreviation")
      unselected=system.attackPenalty
      tooltip=(localize "TERIOCK.SYSTEMS.Attack.FIELDS.attackPenalty.label")
    }}
  </div>
{{/if}}
{{#if (or
  (exists system.av.raw)
  (exists system.bv.raw))}}
  <div class="teriock-sheet-bar">
    {{
      formBox
      system._source.av.raw
      action=(ifThen editable "updatePaths" "")
      dataset=(object paths="system.av.raw")
      icon=TERIOCK.display.icons.armament.av
      include=(exists system.av.raw)
      label=(localize "TERIOCK.SYSTEMS.Armament.FIELDS.av.abbreviation")
      unselected=system.av.value
      tooltip=(localize "TERIOCK.SYSTEMS.Armament.FIELDS.av.raw.label")
    }}
    {{
      formBox
      system._source.bv.raw
      action=(ifThen editable "updatePaths" "")
      dataset=(object paths="system.bv.raw")
      icon=TERIOCK.display.icons.armament.bv
      include=(exists system.bv.raw)
      label=(localize "TERIOCK.SYSTEMS.Armament.FIELDS.bv.abbreviation")
      unselected=system.bv.value
      tooltip=(localize "TERIOCK.SYSTEMS.Armament.FIELDS.bv.raw.label")
    }}
  </div>
{{/if}}
