<div class="tgrid g4">
  <div class="tgrid-item gi2">
    <label for="{{concat uuid '.' 'maneuver'}}"></label><select
      name="settings.abilityFilters.maneuver"
      id="{{concat uuid '.' 'maneuver'}}"
    >
      <option value="">Maneuver</option>
      {{selectOptions
        config.abilityOptions.maneuver
        selected=settings.abilityFilters.maneuver
      }}
    </select>
  </div>
  <div class="tgrid-item gi2">
    <label for="{{concat uuid '.' 'interaction'}}"></label><select
      name="settings.abilityFilters.interaction"
      id="{{concat uuid '.' 'interaction'}}"
    >
      <option value="">Interaction</option>
      {{selectOptions
        config.abilityOptions.interaction
        selected=settings.abilityFilters.interaction
      }}
    </select>
  </div>
  <div class="tgrid-item gi2">
    <label for="{{concat uuid '.' 'delivery'}}"></label><select
      name="settings.abilityFilters.delivery"
      id="{{concat uuid '.' 'delivery'}}"
    >
      <option value="">Delivery</option>
      {{selectOptions
        config.abilityOptions.delivery
        selected=settings.abilityFilters.delivery
      }}
    </select>
  </div>
  <div class="tgrid-item gi2">
    <label for="{{concat uuid '.' 'target'}}"></label><select
      name="settings.abilityFilters.target"
      id="{{concat uuid '.' 'target'}}"
    >
      <option value="">Target</option>
      {{selectOptions
        config.abilityOptions.targets
        selected=settings.abilityFilters.target
      }}
    </select>
  </div>
  <div class="tgrid-item gi2">
    <label for="{{concat uuid '.' 'piercing'}}"></label><select
      name="settings.abilityFilters.piercing"
      id="{{concat uuid '.' 'piercing'}}"
    >
      <option value="" {{#unless settings.abilityFilters.piercing}}selected{{/unless}}>Piercing</option>
      <option value="normal" {{#if (eq settings.abilityFilters.piercing "normal")}}selected{{/if}}>Normal</option>
      <option value="av0" {{#if (eq settings.abilityFilters.piercing "av0")}}selected{{/if}}>AV0</option>
      <option value="ub" {{#if (eq settings.abilityFilters.piercing "ub")}}selected{{/if}}>UB</option>
    </select>
  </div>
  <div class="tgrid-item gi2">
    <label for="{{concat uuid '.' 'powerSource'}}"></label><select
      name="settings.abilityFilters.powerSource"
      id="{{concat uuid '.' 'powerSource'}}"
    >
      <option value="">Power Source</option>
      {{selectOptions
        config.abilityOptions.powerSources
        selected=settings.abilityFilters.powerSource
      }}
    </select>
  </div>
  <div class="tgrid-item gi2">
    <label for="{{concat uuid '.' 'element'}}"></label><select
      name="settings.abilityFilters.element"
      id="{{concat uuid '.' 'element'}}"
    >
      <option value="">Element</option>
      {{selectOptions
        config.abilityOptions.elements
        selected=settings.abilityFilters.element
      }}
    </select>
  </div>
  <div class="tgrid-item gi2">
    <label for="{{concat uuid '.' 'effects'}}"></label><select
      name="settings.abilityFilters.effects"
      id="{{concat uuid '.' 'effects'}}"
    >
      <option value="">Effects</option>
      {{selectOptions
        config.abilityOptions.effects
        selected=settings.abilityFilters.effects
      }}
    </select>
  </div>
  <div class="tgrid-item">
    <label for="{{concat uuid '.' 'basic'}}">Basic</label>
    {{tswitch
      id=(concat uuid "." "basic")
      name="settings.abilityFilters.basic"
    }}
  </div>
  <div class="tgrid-item">
    <label for="{{concat uuid '.' 'standard'}}">Standard</label>
    {{tswitch
      id=(concat uuid "." "standard")
      name="settings.abilityFilters.standard"
    }}
  </div>
  <div class="tgrid-item">
    <label for="{{concat uuid '.' 'skill'}}">Skill</label>
    {{tswitch
      id=(concat uuid "." "skill")
      name="settings.abilityFilters.skill"
    }}
  </div>
  <div class="tgrid-item">
    <label for="{{concat uuid '.' 'spell'}}">Spell</label>
    {{tswitch
      id=(concat uuid "." "spell")
      name="settings.abilityFilters.spell"
    }}
  </div>
  <div class="tgrid-item">
    <label for="{{concat uuid '.' 'ritual'}}">Ritual</label>
    {{tswitch
      id=(concat uuid "." "ritual")
      name="settings.abilityFilters.ritual"
    }}
  </div>
  <div class="tgrid-item">
    <label for="{{concat uuid '.' 'rotator'}}">Rotator</label>
    {{tswitch
      id=(concat uuid "." "rotator")
      name="settings.abilityFilters.rotator"
    }}
  </div>
  <div class="tgrid-item">
    <label for="{{concat uuid '.' 'heightened'}}">Heightenable</label>
    {{tswitch
      id=(concat uuid "." "heightened")
      name="settings.abilityFilters.heightened"
    }}
  </div>
  <div class="tgrid-item">
    <label for="{{concat uuid '.' 'expansion'}}">Expanding</label>
    {{tswitch
      id=(concat uuid "." "expansion")
      name="settings.abilityFilters.expansion"
    }}
  </div>
  <div class="tgrid-item">
    <label for="{{concat uuid '.' 'verbal'}}">Verbal</label>
    {{tswitch
      id=(concat uuid "." "verbal")
      name="settings.abilityFilters.verbal"
    }}
  </div>
  <div class="tgrid-item">
    <label for="{{concat uuid '.' 'somatic'}}">Somatic</label>
    {{tswitch
      id=(concat uuid "." "somatic")
      name="settings.abilityFilters.somatic"
    }}
  </div>
  <div class="tgrid-item">
    <label for="{{concat uuid '.' 'material'}}">Material</label>
    {{tswitch
      id=(concat uuid "." "material")
      name="settings.abilityFilters.material"
    }}
  </div>
  <div class="tgrid-item">
    <label for="{{concat uuid '.' 'invoked'}}">Invoked</label>
    {{tswitch
      id=(concat uuid "." "invoked")
      name="settings.abilityFilters.invoked"
    }}
  </div>
  <div class="tgrid-item">
    <label for="{{concat uuid '.' 'hp'}}">Hit Cost</label>
    {{tswitch id=(concat uuid "." "hp") name="settings.abilityFilters.hp"}}
  </div>
  <div class="tgrid-item">
    <label for="{{concat uuid '.' 'mp'}}">Mana Cost</label>
    {{tswitch id=(concat uuid "." "mp") name="settings.abilityFilters.mp"}}
  </div>
  <div class="tgrid-item">
    <label for="{{concat uuid '.' 'broken'}}">Break Cost</label>
    {{tswitch
      id=(concat uuid "." "broken")
      name="settings.abilityFilters.broken"
    }}
  </div>
  <div class="tgrid-item">
    <label for="{{concat uuid '.' 'sustained'}}">Sustained</label>
    {{tswitch
      id=(concat uuid "." "sustained")
      name="settings.abilityFilters.sustained"
    }}
  </div>
</div>
