<div class="tgrid g4">
  <div class="tgrid-item gi2">
    <label for="{{concat uuid '.' 'equipmentClasses'}}"></label><select
    name="settings.equipmentFilters.equipmentClasses"
    id="{{concat uuid '.' 'equipmentClasses'}}"
  >
    <option value="">Equipment Classes</option>
    {{selectOptions
      TERIOCK.options.equipment.equipmentClasses
      selected=settings.equipmentFilters.equipmentClasses
    }}
  </select>
  </div>
  <div class="tgrid-item gi2">
    <label for="{{concat uuid '.' 'properties'}}"></label><select
    name="settings.equipmentFilters.properties"
    id="{{concat uuid '.' 'properties'}}"
  >
    <option value="">Properties</option>
    {{selectOptions
      TERIOCK.options.equipment.properties
      selected=settings.equipmentFilters.properties
    }}
  </select>
  </div>
  <div class="tgrid-item gi2">
    <label for="{{concat uuid '.' 'materialProperties'}}"></label><select
    name="settings.equipmentFilters.materialProperties"
    id="{{concat uuid '.' 'materialProperties'}}"
  >
    <option value="">Material Properties</option>
    {{selectOptions
      TERIOCK.options.equipment.materialProperties
      selected=settings.equipmentFilters.materialProperties
    }}
  </select>
  </div>
  <div class="tgrid-item gi2">
    <label for="{{concat uuid '.' 'magicalProperties'}}"></label><select
    name="settings.equipmentFilters.magicalProperties"
    id="{{concat uuid '.' 'magicalProperties'}}"
  >
    <option value="">Magical Properties</option>
    {{selectOptions
      TERIOCK.options.equipment.magicalProperties
      selected=settings.equipmentFilters.magicalProperties
    }}
  </select>
  </div>
  <div class="tgrid-item gi2">
    <label for="{{concat uuid '.' 'weaponFightingStyles'}}"></label><select
    name="settings.equipmentFilters.weaponFightingStyles"
    id="{{concat uuid '.' 'weaponFightingStyles'}}"
  >
    <option value="">Fighting Styles</option>
    {{selectOptions
      TERIOCK.options.equipment.weaponFightingStyles
      selected=settings.equipmentFilters.weaponFightingStyles
    }}
  </select>
  </div>
  <div class="tgrid-item gi2">
    <label for="{{concat uuid '.' 'powerLevel'}}"></label><select
    name="settings.equipmentFilters.powerLevel"
    id="{{concat uuid '.' 'powerLevel'}}"
  >
    <option value="">Power Level</option>
    {{selectOptions
      TERIOCK.options.equipment.powerLevelShort
      selected=settings.equipmentFilters.powerLevel
    }}
  </select>
  </div>
  <div class="tgrid-item">
    <label for="equipped">Equipped</label>
    {{tswitch
      id="equipped"
      name="settings.equipmentFilters.equipped"
    }}
  </div>
  <div class="tgrid-item">
    <label for="shattered">Shattered</label>
    {{tswitch
      id="shattered"
      name="settings.equipmentFilters.shattered"
    }}
  </div>
  <div class="tgrid-item">
    <label for="identified">Identified</label>
    {{tswitch
      id="identified"
      name="settings.equipmentFilters.identified"
    }}
  </div>
  <div class="tgrid-item">
    <label for="consumable">Consumable</label>
    {{tswitch
      id="consumable"
      name="settings.equipmentFilters.consumable"
    }}
  </div>
</div>
