<div class="ab-menu">
  <div class="ab-menu-content">
    <div class="ab-menu-bar">
      <div class="tgrid g1 ab-check-grid">
        {{> (template "document-templates/shared/display-toggles.hbs")}}
      </div>
    </div>
    <div class="ab-menu-bar">
      <div class="tgrid g1">
        <div class="tgrid-item">
          <div class="ab-multi-select-label">
            <label class="tsubtle">{{localize "TERIOCK.SYSTEMS.Armament.FIELDS.fightingStyle.label"}}</label>
            {{formInput
              systemFields.fightingStyle
              value=system.fightingStyle
              disabled=(not editable)
              classes="teriock-full-width"
              rootId=uuid
            }}
          </div>
        </div>
      </div>
    </div>
    <div class="ab-menu-bar">
      <div class="tgrid g3">
        {{#if (not (exists system.damage.base.raw))}}
          <div class="tgrid-item">
            <button
              class="ab-menu-button ab-damage-button"
              {{#if (not editable)}}
              disabled="disabled"
              {{/if}}
            >
              {{makeIcon TERIOCK.display.icons.ui.add "button"}}
              {{localize "TERIOCK.SYSTEMS.Armament.FIELDS.damage.base.raw.label"}}
            </button>
          </div>
        {{/if}}
        {{#if (not (exists system.av.raw))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-av-button"
              {{#if (not editable)}}
                    disabled="disabled"
              {{/if}}
            >
              {{makeIcon TERIOCK.display.icons.ui.add "button"}}
              {{localize "TERIOCK.SYSTEMS.Armament.FIELDS.av.raw.label"}}
            </button>
          </div>
        {{/if}}
        {{#if (not (exists system.bv.raw))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-bv-button"
              {{#if (not editable)}}
                    disabled="disabled"
              {{/if}}
            >
              {{makeIcon TERIOCK.display.icons.ui.add "button"}}
              {{localize "TERIOCK.SYSTEMS.Armament.FIELDS.bv.raw.label"}}
            </button>
          </div>
        {{/if}}
        {{#if (exists system.damage.base.raw)}}
          {{#if (not (exists system.hit.raw))}}
            <div class="tgrid-item">
              <button class="ab-menu-button ab-hit-button"
                {{#if (not editable)}}
                      disabled="disabled"
                {{/if}}
              >
                {{makeIcon TERIOCK.display.icons.ui.add "button"}}
                {{localize "TERIOCK.SYSTEMS.Armament.FIELDS.hit.raw.label"}}
              </button>
            </div>
          {{/if}}
        {{/if}}
        {{> (template "document-templates/shared/display-field-buttons.hbs")}}
      </div>
    </div>
  </div>
</div>