<div class="ab-tags-container">
  <div class="ab-tags">
    {{#each system.equipmentClasses as |key index|}}<span
      class="ab-tag tsubtle equipment-class-tag"
      data-value="{{key}}"
      data-tooltip="{{localize "TERIOCK.SHEETS.Common.TAGS.remove"}}"
    >{{lookup ../TERIOCK.options.equipment.equipmentClasses key}}</span>{{/each}}
    {{#if system.shattered}}
      <span class="ab-tag tsubtle flag-tag-shattered" data-tooltip="{{localize "TERIOCK.SHEETS.Common.TAGS.remove"}}">
        {{localize "TERIOCK.SYSTEMS.Equipment.FIELDS.shattered.label"}}
      </span>
    {{/if}}
    {{#if system.dampened}}
      <span class="ab-tag tsubtle flag-tag-dampened" data-tooltip="{{localize "TERIOCK.SHEETS.Common.TAGS.remove"}}">
        {{localize "TERIOCK.SYSTEMS.Equipment.FIELDS.dampened.label"}}
      </span>
    {{/if}}
    {{#if system.glued}}
      <span class="ab-tag tsubtle flag-tag-glued" data-tooltip="{{localize "TERIOCK.SHEETS.Common.TAGS.remove"}}">
        {{localize "TERIOCK.SYSTEMS.Equipment.FIELDS.glued.label"}}
      </span>
    {{/if}}
    {{#if system.spellTurning}}
      <span class="ab-tag tsubtle flag-tag-spell-turning">
        {{localize "TERIOCK.SYSTEMS.Equipment.FIELDS.spellTurning.label"}}
      </span>
    {{/if}}
    {{#if system.range.melee}}
      <span class="ab-tag tsubtle flag-tag-ranged">
        {{localize "TERIOCK.SYSTEMS.Armament.FIELDS.range.melee.label"}}
      </span>
    {{/if}}
    {{#if system.range.ranged}}
      <span class="ab-tag tsubtle flag-tag-ranged">
        {{localize "TERIOCK.SYSTEMS.Armament.FIELDS.range.ranged.label"}}
      </span>
    {{/if}}
  </div>
  {{> (template "document-templates/shared/menu-buttons.hbs")}}
</div>
