<div class="{{cssClass}} tsheet-page">
  <div class="ab-sheet-everything">
    <div class="ab-sheet-top">
      {{> "systems/teriock/src/templates/document-templates/shared/header.hbs"}}
      <div class="ab-bars">
        <div class="ab-bar ab-bar-1">
          <div class="ab-box-container">
            <div class="ab-box {{#if editable}}field-box{{/if}}" data-tooltip="Discipline">
              <div class="ab-box-icon">
                <i
                  class="fa-fw fa-light fa-{{path config.options.tradecraft system.field "icon"}}"
                ></i>
              </div>
              <div class="ab-box-content">
                {{path config.options.tradecraft system.field "name"}}
              </div>
            </div>
          </div>
          <div class="ab-box-container">
            <div class="ab-box {{#if editable}}tradecraft-box{{/if}}" data-tooltip="Tradecraft">
              <div class="ab-box-icon">
                <i
                  class="fa-fw fa-light fa-{{path config.options.tradecraft system.field "tradecrafts" system.tradecraft
                                                  "icon"}}"
                ></i>
              </div>
              <div class="ab-box-content">
                {{path config.options.tradecraft system.field "tradecrafts" system.tradecraft "name"}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ab-main">
      {{formGroup
        systemFields.description
        value=system.description
        enriched=enriched.description
        disabled=(not editable)
      }}
    </div>
  </div>
</div>