<div class="{{cssClass}} tsheet-page">
  <div class="ab-sheet-everything">
    <div class="ab-sheet-top">
      {{> "systems/teriock/src/templates/document-templates/shared/header.hbs"}}
      <div class="ab-bars">
        <div class="ab-bar">
          {{formBox
            (path TERIOCK.options.tradecraft system.field "name")
            icon=(path TERIOCK.options.tradecraft system.field "icon")
            classes=(ifThen editable "field-box" "")
            tooltip="Discipline"
          }}
          {{formBox
            (path TERIOCK.index.tradecrafts system.tradecraft)
            icon=(path TERIOCK.options.tradecraft system.field "tradecrafts" system.tradecraft "icon")
            classes=(ifThen editable "tradecraft-box" "")
            tooltip="Tradecraft"
          }}
        </div>
      </div>
    </div>
    <div class="ab-main">
      {{formGroup
        systemFields.description
        value=system.description
        enriched=enriched.description
        disabled=(not editable)
      }}
      <div class="ab-section-container">
        <div class="ab-section">
          <span class="ab-section-title ab-section-title-dynamic">{{path TERIOCK.index.tradecrafts
                                                                         system.tradecraft}}</span>
        </div>
        <div class="ab-improvement-bar ab-tradecraft-description">
          {{{enriched.tradecraft}}}
        </div>
      </div>
    </div>
    {{> "systems/teriock/src/templates/document-templates/shared/macros.hbs"}}
  </div>
</div>