{{#if (exists system.results.critHit)}}
<div class="ab-section-container">
  <div class="ab-section">
    <span class="ab-section-title">On critical hit</span>
  </div>
  {{#if editable}}
  <prose-mirror
    name="system.results.critHit"
    value="{{system.results.critHit}}"
    toggled="true"
    editable="editable"
  >{{{onCriticalHit}}}</prose-mirror>
  {{else}}
  {{{onCriticalHit}}}
  {{/if}}
</div>
{{/if}}
{{#if (exists system.results.hit)}}
<div class="ab-section-container">
  <div class="ab-section">
    <span class="ab-section-title">On hit</span>
  </div>
  {{#if editable}}
  <prose-mirror
    name="system.results.hit"
    value="{{system.results.hit}}"
    toggled="true"
    editable="editable"
  >{{{onHit}}}</prose-mirror>
  {{else}}
  {{{onHit}}}
  {{/if}}
</div>
{{/if}}
{{#if (exists system.results.miss)}}
<div class="ab-section-container">
  <div class="ab-section">
    <span class="ab-section-title">On miss</span>
  </div>
  {{#if editable}}
  <prose-mirror
    name="system.results.miss"
    value="{{system.results.miss}}"
    toggled="true"
    editable="editable"
  >{{{onMiss}}}</prose-mirror>
  {{else}}
  {{{onMiss}}}
  {{/if}}
</div>
{{/if}}
{{#if (exists system.results.critMiss)}}
<div class="ab-section-container">
  <div class="ab-section">
    <span class="ab-section-title">On critical miss</span>
  </div>
  {{#if editable}}
  <prose-mirror
    name="system.results.critMiss"
    value="{{system.results.critMiss}}"
    toggled="true"
    editable="editable"
  >{{{onCriticalMiss}}}</prose-mirror>
  {{else}}
  {{{onCriticalMiss}}}
  {{/if}}
</div>
{{/if}}
