{{#if
  (or
    (exists system.costs.manaCost)
    (exists system.costs.hitCost)
    (exists system.costs.materialCost)
  )
}}
  {{#if (exists system.costs.manaCost)}}
    <div class="ab-section-container">
      <div class="ab-section">
        <span class="ab-section-title">Mana cost</span>
      </div>
      <prose-mirror
        name="system.costs.manaCost"
        value="{{system.costs.manaCost}}"
        toggled=true
        editable=editable
      >{{{manaCost}}}</prose-mirror>
    </div>
  {{/if}}
  {{#if (exists system.costs.hitCost)}}
    <div class="ab-section-container">
      <div class="ab-section">
        <span class="ab-section-title">Hit cost</span>
      </div>
      <prose-mirror
        name="system.costs.hitCost"
        value="{{system.costs.hitCost}}"
        toggled=true
        editable=editable
      >{{{hitCost}}}</prose-mirror>
    </div>
  {{/if}}
  {{#if (exists system.costs.materialCost)}}
    <div class="ab-section-container">
      <div class="ab-section">
        <span class="ab-section-title">Material cost</span>
      </div>
      <prose-mirror
        name="system.costs.materialCost"
        value="{{system.costs.materialCost}}"
        toggled=true
        editable=editable
      >{{{materialCost}}}</prose-mirror>
    </div>
  {{/if}}
{{/if}}