{{#if (exists system.results.criticalFail)}}
  <div class="ab-section-container">
    <div class="ab-section">
      <span class="ab-section-title">On critical fail</span>
    </div>
    {{#if editable}}
      <prose-mirror
        name="system.results.criticalFail"
        value="{{system.results.criticalFail}}"
        toggled=true
        editable=editable
      >{{{onCriticalFail}}}</prose-mirror>
    {{else}}
      {{{onCriticalFail}}}
    {{/if}}
  </div>
{{/if}}
{{#if (exists system.results.fail)}}
  <div class="ab-section-container">
    <div class="ab-section">
      <span class="ab-section-title">On fail</span>
    </div>
    {{#if editable}}
      <prose-mirror
        name="system.results.fail"
        value="{{system.results.fail}}"
        toggled=true
        editable=editable
      >{{{onFail}}}</prose-mirror>
    {{else}}
      {{{onFail}}}
    {{/if}}
  </div>
{{/if}}
{{#if (exists system.results.save)}}
  <div class="ab-section-container">
    <div class="ab-section">
      <span class="ab-section-title">On save</span>
    </div>
    {{#if editable}}
      <prose-mirror
        name="system.results.save"
        value="{{system.results.save}}"
        toggled=true
        editable=editable
      >{{{onSave}}}</prose-mirror>
    {{else}}
      {{{onSave}}}
    {{/if}}
  </div>
{{/if}}
{{#if (exists system.results.criticalSuccess)}}
  <div class="ab-section-container">
    <div class="ab-section">
      <span class="ab-section-title">On critical success</span>
    </div>
    {{#if editable}}
      <prose-mirror
        name="system.results.criticalSuccess"
        value="{{system.results.criticalSuccess}}"
        toggled=true
        editable=editable
      >{{{onCriticalSuccess}}}</prose-mirror>
    {{else}}
      {{{onCriticalSuccess}}}
    {{/if}}
  </div>
{{/if}}