{{#if (exists system.improvements.attributeImprovement.attribute)}}
  <div class="ab-section-container">
    <div class="ab-section">
    <span class="ab-section-title ab-section-title-dynamic">Attribute
      improvement</span>
    </div>
    <div class="ab-improvement-bar ab-improvement-attribute">
      This ability sets your
      <span class="ab-attribute-improvement-select">
      <a
        href="https://wiki.teriock.com/index.php/Core:{{lookup
          config.abilityOptions.attribute
          system.improvements.attributeImprovement.attribute
        }}"
      >{{lookup
        config.abilityOptions.attribute
        system.improvements.attributeImprovement.attribute
      }}</a></span>
      score to a minimum of
      <span
        class="ab-attribute-improvement-minval-select"
      >{{system.improvements.attributeImprovement.minVal}}</span>.
    </div>
  </div>
{{/if}}
{{#if (exists system.improvements.featSaveImprovement.attribute)}}
  <div class="ab-section-container">
    <div class="ab-section">
    <span class="ab-section-title ab-section-title-dynamic">Feat save
      improvement</span>
    </div>
    <div class="ab-improvement-bar ab-improvement-feat-save">
      This ability gives you
      <span class="ab-feat-amount-select">
      <a
        href="https://wiki.teriock.com/index.php/Core:{{lookup
          config.abilityOptions.featSaveImprovementAmount
          system.improvements.featSaveImprovement.amount
        }}_Bonus"
      >{{lc
        (lookup
          config.abilityOptions.featSaveImprovementAmount
          system.improvements.featSaveImprovement.amount
        )
      }}</a></span>
      in
      <span class="ab-feat-attribute-select">
      <a
        href="https://wiki.teriock.com/index.php/Core:{{lookup
          config.abilityOptions.attribute
          system.improvements.featSaveImprovement.attribute
        }}"
      >{{lookup
        config.abilityOptions.attribute
        system.improvements.featSaveImprovement.attribute
      }}</a></span>
      <a href="https://wiki.teriock.com/index.php/Core:Feat_Interaction">feat
        saves</a>.
    </div>
  </div>
{{/if}}
