<div class="character-mana-bar-container character-bar-container">
  <div class="character-mana-bar character-bar toutline">
    <div
      class="character-bar-left"
      style="width: {{bars.mp.remaining}}%;"
    ></div>
    <div
      class="character-bar-temp"
      style="width: {{bars.mp.temp}}%; {{barTempHide
        system.mp.value
        system.mp.max
        system.mp.temp
      }}"
    ></div>
    <div
      class="character-bar-lost"
      style="width: {{bars.mp.lost}}%;"
    ></div>
    <div
      class="character-bar-morganti"
      style="width: {{bars.mp.morganti}}%;"
    ></div>
  </div>
  <div class="character-bar-overlay">
    <div class="character-bar-overlay-row character-mana-bar-overlay-row">
      {{numberInput
        system.mp.value
        name="system.mp.value"
        max=system.mp.max
        min=system.mp.min
        class="thover-soft character-bar-overlay-left character-bar-overlay-label"
        dataset=(object tooltip="Current MP")
      }}
      <div class="character-bar-overlay-max character-bar-overlay-label" data-tooltip="Maximum MP">
        <span>/ {{system.mp.max}} +</span>
      </div>
      {{formInput
        systemFields.mp.fields.temp
        value=system.mp.temp
        classes="thover-soft character-bar-overlay-temp character-bar-overlay-label"
        dataset=(object tooltip="Temporary MP")
      }}
    </div>
    {{#if takeStatButtons}}
      <div
        class="take-harm-button thover take-damage-button"
        data-action="takeRollable"
        data-tooltip="Take Drain"
        data-type="drain"
      >
        <i class="fa-fw fa-light fa-{{TERIOCK.display.icons.effect.drain}}"></i>
      </div>
    {{/if}}
  </div>
</div>