<div class="ch-battle-box tbox toutline">
  <div class="defense-box">
    <div class="defense-box-main">
      <div class="character-shortbox character-ac-box">
        <div class="tsubtle tcenter">{{localize "TERIOCK.SHEETS.Actor.SIDEBAR.BattleBox.ac.label"}}</div>
        <div class="character-smallbox-value"
             data-tooltip="{{localize "TERIOCK.SHEETS.Actor.SIDEBAR.BattleBox.ac.tooltip"}}">
          {{{system.defense.ac}}}
        </div>
      </div>

      <div class="character-shortbox character-bv-box">
        <div class="tsubtle tcenter">{{localize "TERIOCK.SHEETS.Actor.SIDEBAR.BattleBox.bv.label"}}</div>
        <div class="character-smallbox-value"
             data-tooltip="{{localize "TERIOCK.SHEETS.Actor.SIDEBAR.BattleBox.bv.tooltip"}}">
          {{{system.defense.bv}}}
        </div>
      </div>

      <div class="character-shortbox character-cc-box">
        <div class="tsubtle tcenter">{{localize "TERIOCK.SHEETS.Actor.SIDEBAR.BattleBox.cc.label"}}</div>
        <div class="character-smallbox-value"
             data-tooltip="{{localize "TERIOCK.SHEETS.Actor.SIDEBAR.BattleBox.cc.tooltip"}}">
          {{{system.defense.cc}}}
        </div>
      </div>
    </div>

    <div
      class="character-primary-blocker"
      style="width: 100%;"
      data-action="selectBlocker"
    >
      <div class="tsubtle little-title">
        <div class="title-left">{{localize "TERIOCK.SHEETS.Actor.SIDEBAR.BattleBox.blockingWith"}}</div>
        <div class="title-right">
          <i
            class="fa-regular fa-dice-d20 thover"
            data-action="rollResistance"
            data-tooltip="{{localize "TERIOCK.SHEETS.Actor.SIDEBAR.BattleBox.rollResistance"}}"
          ></i>
          {{#if (exists system.primaryBlocker)}}
            <i
              class="fa-regular fa-{{TERIOCK.display.icons.interaction.block}} thover"
              data-action="useAbility"
              data-ability="Basic Block"
              data-tooltip="{{localize "TERIOCK.SHEETS.Actor.SIDEBAR.BattleBox.rollBlock"}}"
            ></i>
            <i
              class="fa-regular fa-{{TERIOCK.display.icons.ui.openWindow}} thover"
              data-action="openPrimaryBlocker"
              data-tooltip="{{localize "TERIOCK.SHEETS.Actor.SIDEBAR.BattleBox.open"}}"
            ></i>
          {{/if}}
        </div>
      </div>
      <div
        class="thover character-primary-blocker-select draggable"
        data-make-tooltip="true"
        data-tooltip-direction="LEFT"
        data-tooltip-left="true"
        {{#if (exists system.primaryBlocker)}}
        data-uuid="{{system.primaryBlocker.uuid}}"
        {{/if}}
      >
        {{#if (exists system.primaryBlocker)}}
          {{{system.primaryBlocker.name}}}
        {{else}}
          {{localize "TERIOCK.SHEETS.Actor.SIDEBAR.BattleBox.none"}}
        {{/if}}
      </div>
    </div>
  </div>

  <div
    class="defense-box middle-box"
    style="flex-direction: row; width: 100%; gap: 0.5em;"
  >
    <div
      class="cover-box"
      data-action="increaseCover"
      data-uuid="{{ruleUuid "Core" "Cover"}}"
      data-make-tooltip="true"
      data-tooltip-left="true"
    >
      <div class="title-left tsubtle">{{localize "TERIOCK.SHEETS.Actor.SIDEBAR.CoverBox.label"}}</div>
      <div
        class="right-container"
        style="display: flex; align-items: center; justify-content: end; flex: 1;"
        data-tooltip-class=""
        data-tooltip-direction="DOWN"
      >
        {{#if (eq system.cover 0)}}<i
          class="fa-fw fa-regular fa-{{TERIOCK.display.icons.cover.partial}} thover"
          data-tooltip="{{localize "TERIOCK.SHEETS.Actor.SIDEBAR.CoverBox.no"}}"
        ></i>{{/if}}
        {{#if (eq system.cover 1)}}<i
          class="fa-fw fa-regular fa-duotone fa-{{TERIOCK.display.icons.cover.partial}} thover"
          data-tooltip="{{localize "TERIOCK.SHEETS.Actor.SIDEBAR.CoverBox.half"}}"
        ></i>{{/if}}
        {{#if (eq system.cover 2)}}<i
          class="fa-fw fa-solid fa-{{TERIOCK.display.icons.cover.partial}} thover"
          data-tooltip="{{localize "TERIOCK.SHEETS.Actor.SIDEBAR.CoverBox.threeQuarters"}}"
        ></i>{{/if}}
        {{#if (eq system.cover 3)}}<i
          class="fa-fw fa-solid fa-{{TERIOCK.display.icons.cover.full}} thover"
          data-tooltip="{{localize "TERIOCK.SHEETS.Actor.SIDEBAR.CoverBox.full"}}"
        ></i>{{/if}}
      </div>
    </div>
    <div
      class="reaction-box"
      style="display: flex; align-items: center; flex-direction: row; width: 57%"
      data-action="toggleReaction"
    >
      <div class="title-left tsubtle">{{localize "TERIOCK.SHEETS.Actor.SIDEBAR.ReactionBox.label"}}</div>
      <div
        class="right-container"
        style="display: flex; align-items: center; justify-content: end; flex: 1;"
      >
        <div
          class="character-smallbox-value"
          data-tooltip="{{localize "TERIOCK.SHEETS.Actor.SIDEBAR.ReactionBox.tooltip"}}"
        >
          {{#if system.combat.hasReaction}}
            <i class="fa-solid fa-{{TERIOCK.display.icons.ui.on}} thover"></i>
          {{else}}
            <i class="fa-solid fa-{{TERIOCK.display.icons.ui.off}} thover"></i>
          {{/if}}
        </div>
      </div>
    </div>
  </div>

  <div class="attack-box">
    <div class="attack-box-main">
      <div class="character-shortbox character-piercing-box">
        <div class="tsubtle tcenter" data-action="piercingChange">{{localize
          "TERIOCK.SHEETS.Actor.SIDEBAR.BattleBox.piercing.label"}}</div>
        <div
          class="character-smallbox-value thover"
          data-tooltip="{{localize "TERIOCK.SHEETS.Actor.SIDEBAR.BattleBox.piercing.tooltip"}}"
        >
          {{#if
            (or
              system.offense.piercing.ub
              system.primaryAttacker.system.piercing.ub
            )
          }}
            {{#if system.offense.piercing.ub}}
              {{localize "TERIOCK.SHEETS.Actor.SIDEBAR.BattleBox.ub.forced"}}
            {{else}}
              {{localize "TERIOCK.SHEETS.Actor.SIDEBAR.BattleBox.ub.normal"}}
            {{/if}}
          {{else}}
            {{#if
              (or
                system.offense.piercing.av0
                system.primaryAttacker.system.piercing.av0
              )
            }}
              {{#if system.offense.piercing.av0}}
                {{localize "TERIOCK.SHEETS.Actor.SIDEBAR.BattleBox.av0.forced"}}
              {{else}}
                {{localize "TERIOCK.SHEETS.Actor.SIDEBAR.BattleBox.av0.normal"}}
              {{/if}}
            {{else}}
              <i class="fa-solid fa-{{TERIOCK.display.icons.ui.off}} thover"></i>
            {{/if}}
          {{/if}}
        </div>
      </div>

      <div class="character-shortbox character-sb-box" data-action="toggleSb">
        <div class="tsubtle tcenter">{{localize "TERIOCK.SHEETS.Actor.SIDEBAR.BattleBox.sb.label"}}</div>
        <div class="character-smallbox-value"
             data-tooltip="{{localize "TERIOCK.SHEETS.Actor.SIDEBAR.BattleBox.sb.tooltip"}}">
          {{#if system.offense.sb}}
            <i class="fa-solid fa-{{TERIOCK.display.icons.ui.on}} thover"></i>
          {{else}}
            <i class="fa-solid fa-{{TERIOCK.display.icons.ui.off}} thover"></i>
          {{/if}}
        </div>
      </div>

      <div class="character-shortbox character-penalty-box">
        <div class="tsubtle tcenter">{{localize "TERIOCK.SHEETS.Actor.SIDEBAR.BattleBox.penalty.label"}}</div>
        {{formInput
          systemFields.combat.fields.attackPenalty
          value=system.combat.attackPenalty
          classes="character-penalty-input character-smallbox-value"
          dataset=(object tooltip=(localize "TERIOCK.SHEETS.Actor.SIDEBAR.BattleBox.penalty.tooltip"))
        }}
      </div>
    </div>

    <div
      class="character-primary-attacker"
      style="width: 100%;"
      data-action="selectAttacker"
    >
      <div class="tsubtle little-title">
        <div class="title-left">{{localize "TERIOCK.SHEETS.Actor.SIDEBAR.BattleBox.attackingWith"}}</div>
        <div class="title-right">
          <i
            class="fa-regular fa-{{TERIOCK.display.icons.interaction.attack}} thover"
            data-action="useAbility"
            data-ability="Basic Attack"
            data-tooltip="{{localize "TERIOCK.SHEETS.Actor.SIDEBAR.BattleBox.rollAttack"}}"
          ></i>
          {{#if (exists system.primaryAttacker)}}
            <i
              class="fa-regular fa-{{TERIOCK.display.icons.effect.dealDamage}} thover"
              data-action="quickUse"
              data-id="{{system.primaryAttacker._id}}"
              data-tooltip="{{localize "TERIOCK.SHEETS.Actor.SIDEBAR.BattleBox.rollDamage"}}"
            ></i>
            <i
              class="fa-regular fa-{{TERIOCK.display.icons.ui.openWindow}} thover"
              data-action="openPrimaryAttacker"
              data-tooltip="{{localize "TERIOCK.SHEETS.Actor.SIDEBAR.BattleBox.open"}}"
            ></i>
          {{/if}}
        </div>
      </div>

      <div
        class="thover character-primary-attacker-select draggable"
        data-make-tooltip="true"
        data-tooltip-direction="LEFT"
        data-tooltip-left="true"
        {{#if (exists system.primaryAttacker)}}
        data-uuid="{{system.primaryAttacker.uuid}}"
        {{/if}}
      >
        {{#if (exists system.primaryAttacker)}}
          {{{system.primaryAttacker.name}}}
        {{else}}
          {{localize "TERIOCK.SHEETS.Actor.SIDEBAR.BattleBox.none"}}
        {{/if}}
      </div>

      {{#if (exists system.primaryAttacker.system.specialRules)}}
        <div class="tsubtle little-title" style="margin-top: 0.5em;">
          {{path
            TERIOCK.index.weaponFightingStyles
            system.primaryAttacker.system.fightingStyle
          }}
          {{localize "TERIOCK.SHEETS.Actor.SIDEBAR.BattleBox.fightingStyle"}}
        </div>
        <div class="character-fighting-style-summary">
          {{{enrichedSpecialRules}}}
        </div>
      {{/if}}
    </div>
  </div>
</div>