<div class="ch-movement-box tbox toutline">
  <div class="character-shortbox character-movement-box">
    <div class="tsubtle tcenter">
      Movement Speed
    </div>
    <div class="character-shortbox-value">{{{system.movementSpeed.value}}}
      ft / action
    </div>
  </div>
  <div class="tgrid g3" style="padding-inline: 0.5em;">
    <div class="gi2">
      Walk
    </div>
    <div class="tcolored">
      {{{lookup
        TERIOCK.options.character.speedAdjustments
        system.speedAdjustments.walk
      }}}
    </div>
    <div class="gi2">
      Difficult Terrain
    </div>
    <div class="tcolored">
      {{{lookup
        TERIOCK.options.character.speedAdjustments
        system.speedAdjustments.difficultTerrain
      }}}
    </div>
    <div class="gi2">
      Crawl
    </div>
    <div class="tcolored">
      {{{lookup
        TERIOCK.options.character.speedAdjustments
        system.speedAdjustments.crawl
      }}}
    </div>
    <div class="gi2">
      Swim
    </div>
    <div class="tcolored">
      {{{lookup
        TERIOCK.options.character.speedAdjustments
        system.speedAdjustments.swim
      }}}
    </div>
    <div class="gi2">
      Climb
    </div>
    <div class="tcolored">
      {{{lookup
        TERIOCK.options.character.speedAdjustments
        system.speedAdjustments.climb
      }}}
    </div>
    <div class="gi2">
      Hidden
    </div>
    <div class="tcolored">
      {{{lookup
        TERIOCK.options.character.speedAdjustments
        system.speedAdjustments.hidden
      }}}
    </div>
    <div class="gi2">
      Leap (Horizontal)
    </div>
    <div class="tcolored">
      {{{lookup
        TERIOCK.options.character.speedAdjustments
        system.speedAdjustments.leapHorizontal
      }}}
    </div>
    <div class="gi2">
      Leap (Vertical)
    </div>
    <div class="tcolored">
      {{{lookup
        TERIOCK.options.character.speedAdjustments
        system.speedAdjustments.leapVertical
      }}}
    </div>
    <div class="gi2">
      Fly
    </div>
    <div class="tcolored">
      {{{lookup
        TERIOCK.options.character.speedAdjustments
        system.speedAdjustments.fly
      }}}
    </div>
    <div class="gi2">
      Dig
    </div>
    <div class="tcolored">
      {{{lookup
        TERIOCK.options.character.speedAdjustments
        system.speedAdjustments.dig
      }}}
    </div>
    <div class="gi2">
      Dive
    </div>
    <div class="tcolored">
      {{{lookup
        TERIOCK.options.character.speedAdjustments
        system.speedAdjustments.dive
      }}}
    </div>
  </div>
</div>