<div class="ab-bar">
  <div class="ab-box-container">
    <div class="ab-box {{#if editable}}quantity-box{{/if}}" data-tooltip="Quantity">
      <div class="ab-box-icon">
        <i class="fa-light fa-hashtag"></i>
      </div>
      <div class="ab-box-content">
        <input
          class="ability-bar-input quantity-input"
          name="system.quantity"
          type="number"
          value="{{system.quantity}}"
          data-edit="system.quantity"
          placeholder="Remaining"
          max="{{system.maxQuantity}}"
          min="0"
          {{#if (not editable)}}
            disabled="true"
          {{/if}}
        />
      </div>
      <div class="ab-box-label">
        Count
      </div>
    </div>
  </div>
  <div class="ab-box-container">
    <div class="ab-box {{#if editable}}max-box{{/if}}" data-tooltip="Maximum Quantity">
      <div class="ab-box-icon">
        <i class="fa-light fa-infinity"></i>
      </div>
      <div class="ab-box-content">
        <div class="ability-bar-input max-input unselected">
          {{#if system.maxQuantity}}
            {{system.maxQuantity}}
          {{else}}
            Infinite
          {{/if}}
        </div>
        <input
          class="ability-bar-input max-input selected"
          name="system.maxQuantityRaw"
          type="text"
          value="{{system.maxQuantityRaw}}"
          data-edit="system.maxQuantityRaw"
          placeholder="Infinite"
          min="0"
          {{#if (not editable)}}
            disabled="true"
          {{/if}}
        />
      </div>
      <div class="ab-box-label">
        Max
      </div>
    </div>
  </div>
  <div class="ab-box-container">
    <div class="ab-box {{#if editable}}formula-box{{/if}}" data-tooltip="Roll Formula">
      <div class="ab-box-icon">
        <i class="fa-light fa-{{firstDie system.rollFormula}}"></i>
      </div>
      <div class="ab-box-content">
        <input
          class="ability-bar-input formula-input"
          name="system.rollFormula"
          type="text"
          value="{{system.rollFormula}}"
          data-edit="system.rollFormula"
          placeholder="No Formula"
          {{#if (not editable)}}
            disabled="true"
          {{/if}}
        />
      </div>
      <div class="ab-box-label">
        Roll
      </div>
    </div>
  </div>
</div>