<div class="{{cssClass}} tsheet-page">
  <div class="ab-sheet-everything">
    <div class="ab-sheet-top">
      {{> "systems/teriock/src/templates/document-templates/shared/header.hbs"}}
    </div>
    <div class="ab-main">
      <div class="ab-section-container">
        <div class="ab-section">
          <span class="ab-section-title">Description</span>
        </div>
        {{#if editable}}
          <prose-mirror
            name="system.description"
            value="{{system.description}}"
            toggled="true"
            editable="editable"
          ><div class="text-preview">{{{enrichedDescription}}}</div></prose-mirror>
        {{else}}
          <div class="text-preview">{{{enrichedDescription}}}</div>
        {{/if}}
      </div>
  </div>
  {{#if (or editable (exists baseEffects))}}
    <div class="ab-main">
      {{#if editable}}
        <button
          class="createBaseEffect"
          data-action="createBaseEffect"
        >Add Base Effect
        </button>{{/if}}
      {{abilityCards baseEffects system}}
    </div>
  {{/if}}
</div>
