<div class="{{cssClass}} character-window" autocomplete="off">
    <div class="character-tabbers">
        {{!-- <div class="character-tabber ui-controls {{tabActive system.sheet.activeTab "overview"}}" tab="overview">
            <i class="fa-solid fa-person"></i>
        </div> --}}
        <div class="character-tabber ui-controls {{tabActive system.sheet.activeTab "tradecrafts"}}" data-tab="tradecrafts" data-action="changeTab">
            {{ticon (lookup config.documentOptions.fluency 'icon') style="solid"}}
        </div>
        <div class="character-tabber ui-controls {{tabActive system.sheet.activeTab "abilities"}}" data-tab="abilities" data-action="changeTab">
            {{ticon (lookup config.documentOptions.ability 'icon') style="solid"}}
        </div>
        <div class="character-tabber ui-controls {{tabActive system.sheet.activeTab "classes"}}" data-tab="classes" data-action="changeTab">
            {{ticon (lookup config.documentOptions.rank 'icon') style="solid"}}
        </div>
        <div class="character-tabber ui-controls {{tabActive system.sheet.activeTab "powers"}}" data-tab="powers" data-action="changeTab">
            {{ticon (lookup config.documentOptions.power 'icon') style="solid"}}
        </div>
        <div class="character-tabber ui-controls {{tabActive system.sheet.activeTab "inventory"}}" data-tab="inventory" data-action="changeTab">
            {{ticon (lookup config.documentOptions.equipment 'icon') style="solid"}}
        </div>
        <div class="character-tabber ui-controls {{tabActive system.sheet.activeTab "notes"}}" data-tab="notes" data-action="changeTab">
            <i class="fa-solid fa-notes"></i>
        </div>
    </div>
    <div class="character-page">
        {{> 'systems/teriock/templates/sheets/character-template/parts/ch-sidebar.hbs' }}
        <div class="character-sidebar-tabber-container">
            <div class="character-tabber character-sidebar-tabber ui-controls" data-tab="sidebar">
                <i class="fa-solid fa-chevrons-left expanded-icon"></i>
                <i class="fa-solid fa-chevrons-right collapsed-icon"></i>
            </div>
        </div>
        <div class="character-tab-content">
            {{#if (eq system.sheet.activeTab "overview")}}
                {{> 'systems/teriock/templates/sheets/character-template/tabs/ch-tab-overview.hbs' }}
            {{/if}}
            {{#if (eq system.sheet.activeTab "tradecrafts")}}
                {{> 'systems/teriock/templates/sheets/character-template/tabs/ch-tab-tradecrafts.hbs' }}
            {{/if}}
            {{#if (eq system.sheet.activeTab "abilities")}}
                {{> 'systems/teriock/templates/sheets/character-template/tabs/ch-tab-abilities.hbs' }}
            {{/if}}
            {{#if (eq system.sheet.activeTab "classes")}}
                {{> 'systems/teriock/templates/sheets/character-template/tabs/ch-tab-classes.hbs' }}
            {{/if}}
            {{#if (eq system.sheet.activeTab "powers")}}
                {{> 'systems/teriock/templates/sheets/character-template/tabs/ch-tab-powers.hbs' }}
            {{/if}}
            {{#if (eq system.sheet.activeTab "inventory")}}
                {{> 'systems/teriock/templates/sheets/character-template/tabs/ch-tab-inventory.hbs' }}
            {{/if}}
            {{#if (eq system.sheet.activeTab "notes")}}
                {{> 'systems/teriock/templates/sheets/character-template/tabs/ch-tab-notes.hbs' }}
            {{/if}}
        </div>
    </div>
</div>