<div class="{{cssClass}} tsheet-page">
  <div class="ab-sheet-everything">
    <div class="ab-sheet-top">
      {{> "systems/teriock/templates/shared/header.hbs"}}
      <div class="ab-bars">
        {{> "systems/teriock/templates/item-templates/rank-template/bars/rk-bar-class.hbs" }}
        {{> "systems/teriock/templates/item-templates/rank-template/bars/rk-bar-stats.hbs" }}
      </div>
    </div>
    <div class="ab-main">
      <div class="ab-section-container">
        <div class="ab-section">
          <span class="ab-section-title">Description</span>
        </div>
        {{#if editable}}
          <prose-mirror
            name="system.description"
            value="{{system.description}}"
            toggled="true"
            editable="editable"
          >{{{enrichedDescription}}}</prose-mirror>
        {{else}}
          {{{enrichedDescription}}}
        {{/if}}
      </div>
      <div class="ab-section-container">
        <div class="ab-section">
          <span class="ab-section-title">Flaws</span>
        </div>
        {{#if editable}}
          <prose-mirror
            name="system.flaws"
            value="{{system.flaws}}"
            toggled="true"
            editable="editable"
          >{{{enrichedFlaws}}}</prose-mirror>
        {{else}}
          {{{enrichedFlaws}}}
        {{/if}}
      </div>
    </div>
    {{> "systems/teriock/templates/shared/effects.hbs"}}
  </div>
</div>
