<div class="{{cssClass}} tsheet-page">
  <div class="ab-sheet-everything">
    <div class="ab-sheet-top">
      {{> "systems/teriock/src/templates/document-templates/shared/header.hbs"}}
      <div class="ab-bars">
        <div class="ab-bar">
          {{formBox
            (concat
              system.statDice.hp.formula
              " Hit Di"
              (ifThen (gt system.statDice.hp.number.value 1) "c" "")
              "e ("
              system.statDice.hp.value
              " HP)"
            )
            action="setStatDice"
            dataset=(object stat="hp")
            icon=(firstDie system.statDice.hp.formula)
            tooltip="Hit Dice"
          }}
          {{formBox
            (concat
              system.statDice.mp.formula
              " Mana Di"
              (ifThen (gt system.statDice.mp.number.value 1) "c" "")
              "e ("
              system.statDice.mp.value
              " MP)"
            )
            action="setStatDice"
            dataset=(object stat="mp")
            icon=(firstDie system.statDice.mp.formula)
            tooltip="Mana Dice"
          }}
        </div>
        <div class="ab-bar">
          {{formBox
            (formInput
              systemFields.tier.fields.saved
              value=system.tier.saved
              disabled=(not editable)
              dataset=(object tooltip="Presence Tier")
            )
            icon=(path TERIOCK.display.icons "tier")
            label="TIER"
            unselected=(ifThen system.tier.raw system.tier.value 0)
          }}
          {{formBox
            (formInput
              systemFields.mountType
              value=system.mountType
              disabled=(not editable)
              dataset=(object tooltip="Mount Type")
            )
            icon=(path TERIOCK.display.icons "species")
          }}
        </div>
      </div>
    </div>
    <div class="ab-main">
      {{formGroup
        systemFields.description
        value=system.description
        enriched=enriched.description
        disabled=(not editable)
        hidden=(not (exists system.description))
      }}
    </div>
    {{> "systems/teriock/src/templates/document-templates/shared/effects.hbs"}}
  </div>
</div>