<div class="{{cssClass}} tsheet-page">
  <div class="ab-sheet-everything">
    <div class="ab-sheet-top">
      {{> "systems/teriock/src/templates/document-templates/shared/header.hbs"}}
      <div class="ab-bars">
        <div class="ab-bar">
          {{formBox
            (concat
              system.hpDiceFormula
              " Hit Di"
              (ifThen (gt system.hpDiceNumber 1) "c" "")
              "e ("
              system.totalHp
              " HP)"
            )
            action="setHpDice"
            icon=(firstDie system.hpDiceFormula)
            tooltip="Hit Dice"
          }}
          {{formBox
            (concat
              system.mpDiceFormula
              " Mana Di"
              (ifThen (gt system.mpDiceNumber 1) "c" "")
              "e ("
              system.totalMp
              " MP)"
            )
            action="setMpDice"
            icon=(firstDie system.mpDiceFormula)
            tooltip="Mana Dice"
          }}
        </div>
        <div class="ab-bar">
          {{formBox
            (formInput
              systemFields.tier.fields.saved
              value=system.tier.saved
              disabled=(not editable)
              dataset=(object tooltip="Presence Tier")
            )
            icon=(path TERIOCK.display.icons "tier")
            label="TIER"
            unselected=(ifThen system.tier.raw system.tier.value 0)
          }}
          {{formBox
            (formInput
              systemFields.mountType
              value=system.mountType
              disabled=(not editable)
              dataset=(object tooltip="Mount Type")
            )
            icon=(path TERIOCK.display.icons "species")
          }}
        </div>
      </div>
    </div>
    <div class="ab-main">
      {{formGroup
        systemFields.description
        value=system.description
        enriched=enriched.description
        disabled=(not editable)
        hidden=(not (exists system.description))
      }}
    </div>
    {{> "systems/teriock/src/templates/document-templates/shared/effects.hbs"}}
  </div>
</div>