<div class="ch-movement-box tbox toutline">
  <div class="carrying-box-main">
    <div class="character-shortbox character-size-box">
      <div class="tsubtle tcenter">
        Size
      </div>
      <div class="affix">
        <div class="unselected">
          <span class="character-size-input character-smallbox-value">{{{system.size.number.value}}}</span>
        </div>
        {{formInput
          systemFields.size.fields.number.fields.saved
          value=system.size.number.saved
          classes="character-size-input character-smallbox-value selected"
          dataset=(object tooltip=(ucFirst system.size.category))
        }}
      </div>
    </div>
    <div class="character-shortbox character-weight-box">
      <div class="tsubtle tcenter">
        Weight
      </div>
      <div class="affix">
        <div class="unselected">
          <span class="character-weight-input character-smallbox-value">{{{system.weight.self}}} lb</span>
        </div>
        {{formInput
          systemFields.weight.fields.self
          value=system.weight.self
          classes="character-weight-input character-smallbox-value selected"
          dataset=(object tooltip=(concat "Including Equipment: " system.weight.self " lb"))
        }}
      </div>
    </div>
    <div class="character-shortbox character-carrying-box">
      <div class="tsubtle tcenter">
        Carrying
      </div>
      <div class="character-smallbox-value"
           data-tooltip="Including Self: {{{system.weight.value}}} lb">{{{system.weight.carried}}} lb
      </div>
    </div>
  </div>
  <div class="tgrid g3" style="gap: 0;">
    <div class="tsubtle tcenter">
      Light
    </div>
    <div class="tsubtle tcenter">
      Heavy
    </div>
    <div class="tsubtle tcenter">
      Max
    </div>
    <div class="tcenter tround {{#if (geq system.weight.carried system.carryingCapacity.light)}}tred{{/if}}"
         data-tooltip="Light Carrying Capacity">
      {{{system.carryingCapacity.light}}}
      lb
    </div>
    <div class="tcenter tround {{#if (geq system.weight.carried system.carryingCapacity.heavy)}}tred{{/if}}"
         data-tooltip="Heavy Carrying Capacity">
      {{{system.carryingCapacity.heavy}}}
      lb
    </div>
    <div class="tcenter tround {{#if (geq system.weight.carried system.carryingCapacity.max)}}tred{{/if}}"
         data-tooltip="Maximum Carrying Capacity">
      {{{system.carryingCapacity.max}}}
      lb
    </div>
  </div>
</div>
