<div class="character-hack-box">
  <div class="thover hack-marker-box" data-action="takeHack" data-part="arm" data-tooltip="Arm Hack">
    <i class="fa-{{hackFill system.hacks.arm}} fa-hand"></i>
  </div>
  <div class="thover hack-marker-box" data-action="takeHack" data-part="leg" data-tooltip="Leg Hack">
    <i class="fa-{{hackFill system.hacks.leg}} fa-boot"></i>
  </div>
  <div class="thover hack-marker-box" data-action="takeHack" data-part="body" data-tooltip="Body Hack">
    <i class="fa-{{hackFill system.hacks.body}} fa-kidneys"></i>
  </div>
  <div class="thover hack-marker-box" data-action="takeHack" data-part="eye" data-tooltip="Eye Hack">
    <i class="fa-{{hackFill system.hacks.eye}} fa-eye"></i>
  </div>
  <div class="thover hack-marker-box" data-action="takeHack" data-part="ear" data-tooltip="Ear Hack">
    <i class="fa-{{hackFill system.hacks.ear}} fa-ear"></i>
  </div>
  <div class="thover hack-marker-box" data-action="takeHack" data-part="mouth" data-tooltip="Mouth Hack">
    <i class="fa-{{hackFill system.hacks.mouth}} fa-lips"></i>
  </div>
  <div class="thover hack-marker-box" data-action="takeHack" data-part="nose" data-tooltip="Nose Hack">
    <i class="fa-{{hackFill system.hacks.nose}} fa-nose"></i>
  </div>
</div>
