<div class="character-sidebar">
  <div class="character-sidebar-container">
    <div class="character-intro-box">
      <div class="character-avatar timage" data-src="{{img}}">
        <img
          class="character-avatar-img"
          src="{{img}}"
          data-edit="img"
          data-action="editImage"
          data-openable="true"
          data-shareable="true"
          title="{{name}}"
          alt="{{name}}"
        >
      </div>
      <div class="character-name">
        {{formInput
          fields.name
          value=name
          classes="character-name-text"
        }}
      </div>
      <div class="character-basics">
        <div class="character-shortbox character-level-box">
          {{formInput
            systemFields.scaling.fields.lvl
            value=system.scaling.lvl
            classes="character-level-input character-shortbox-value"
          }}
          <div class="character-level-label character-shortbox-label">LVL</div>
        </div>
        <div class="character-shortbox character-rank-box">
          {{numberInput
            system.scaling.rank
            class="character-fluency-input character-shortbox-value"
            disabled=true
          }}
          <div class="character-class-label character-shortbox-label">RANK</div>
        </div>
        <div class="character-shortbox character-proficiency-box">
          {{numberInput
            system.scaling.p
            class="character-fluency-input character-shortbox-value"
            disabled=true
          }}
          <div class="character-level-label character-shortbox-label">PRO</div>
        </div>
        <div class="character-shortbox character-fluency-box">
          {{numberInput
            system.scaling.f
            class="character-fluency-input character-shortbox-value"
            disabled=true
          }}
          <div class="character-fluency-label character-shortbox-label">FLU</div>
        </div>
      </div>
    </div>
    {{> 'systems/teriock/src/templates/document-templates/actor-templates/character-template/parts/ch-status-box.hbs' }}
    {{> 'systems/teriock/src/templates/document-templates/actor-templates/character-template/parts/ch-battle-box.hbs' }}
    {{> 'systems/teriock/src/templates/document-templates/actor-templates/character-template/parts/ch-attribute-box.hbs' }}
    {{> 'systems/teriock/src/templates/document-templates/actor-templates/character-template/parts/ch-carrying-box.hbs' }}
    {{> 'systems/teriock/src/templates/document-templates/actor-templates/character-template/parts/ch-detection-box.hbs' }}
    {{> 'systems/teriock/src/templates/document-templates/actor-templates/character-template/parts/ch-movement-box.hbs' }}
  </div>
</div>
