<div
  class="teriock dice-roll es-container"
  data-action="expandRoll"
  style="display: block; position: relative;"
>
  <div class="es-mask-rotator"></div>
  <div class="es-mask-overlay {{elementClass elements}}"></div>
  {{#if flavor}}
    <div class="teriock-flavor-text">{{flavor}}</div>
  {{/if}}
  <div class="teriock-dice-message" style="margin-top: 6px">{{{message}}}</div>
  {{#if (eq formula "0")}}{{else}}
    <div class="dice-result" style="margin-top: 0.5em;">
      <div class="dice-formula">{{formula}}</div>
      {{{tooltip}}}
      <h4 class="dice-total">{{total}}</h4>
    </div>
  {{/if}}
</div>