<div class="dice-roll teriock es-container" data-action="expandRoll" style="display: block; position: relative;">
  <div class="es-mask-rotator"></div>
  {{#if flavor}}
    <div class="teriock-dice-flavor" style="margin-top: 6px">{{{flavor}}}</div>
  {{/if}}
  {{#if (eq formula "0")}}{{else}}
    <div class="dice-result" style="margin-top: 6px;">
      <div class="dice-formula">{{formula}}</div>
      {{{tooltip}}}
      <h4 class="dice-total">{{total}}</h4>
    </div>
  {{/if}}
</div>