<div
  class="teriock dice-roll {{#if isElderSorcery}}es-container{{/if}}"
  data-action="expandRoll"
  {{#if isElderSorcery}}
    style="display: block; position: relative;"
  {{/if}}
>
  {{#if isElderSorcery}}
    <div class="es-mask-rotator"></div>
    <div class="es-mask-overlay {{elementClass elderSorceryElements}}"></div>
  {{/if}}
  {{#if flavor}}
    <div class="teriock-flavor-text">{{flavor}}</div>
  {{/if}}
  {{!-- UNCOMMENT IF MOVING INCANT HANDLING TO HANDLEBARS RATHER THAN MESSAGE BUILDER --}}
  {{!-- {{#if isElderSorcery}}
    <div class="es-incant">
      <div class="es-intro">With the Elder Sorcery of
        {{elderSorceryElements}}...
      </div>
      <div class="es-wording-container">
        <div class="es-wording">
          {{{elderSorceryIncant}}}
        </div>
      </div>
    </div>
  {{/if}} --}}
  <div class="teriock-dice-message" style="margin-top: 6px">{{{message}}}</div>
  {{#if (eq formula "0")}}
  {{else}}
    <div class="dice-result" style="margin-top: 0.5em;">
      <div class="dice-formula">{{formula}}</div>
      {{{tooltip}}}
      <h4
        class="dice-total teriock-dice-total {{#if diceClass}}{{diceClass}}{{/if}} {{#if isResistance}}{{#if (geq total 10)}}success{{else}}failure{{/if}}{{/if}}"
        {{#if (and diceTooltip (not isResistance))}}
          data-tooltip="{{diceTooltip}}"
        {{/if}}
        {{#if isResistance}}
          {{#if (geq total 10)}}
            data-tooltip="Success"
          {{else}}
            data-tooltip="Failure"
          {{/if}}
        {{/if}}
      >{{total}}</h4>
    </div>
  {{/if}}
</div>