<div class="character-wither-bar-container character-bar-container">
  <div class="character-wither-bar character-bar toutline">
    <div
      class="character-bar-left"
      style="width: {{barLeft system.wither.value system.wither.max 0}}%;"
    ></div>
    <div
      class="character-bar-temp"
      style="width: {{barTemp
        system.wither.value
        system.wither.max
        0
      }}%; {{barTempHide
        system.wither.value
      }}"
    ></div>
    <div
      class="character-bar-lost"
      style="width: {{barLost system.wither.value system.wither.max 0}}%;"
    ></div>
  </div>
  <div class="character-bar-overlay">
    <div
      class="character-bar-overlay-row character-wither-bar-overlay-row"
    >
      {{numberInput
        system.wither.value
        name="system.wither.value"
        max=system.wither.max
        min=system.wither.min
        class="thover-soft character-bar-overlay-left character-bar-overlay-label"
        dataset=(object tooltip=(localize "TERIOCK.SHEETS.Actor.SIDEBAR.Bars.wither.current"))
      }}
      <div class="character-bar-overlay-max character-bar-overlay-label"
           data-tooltip="{{localize "TERIOCK.SHEETS.Actor.SIDEBAR.Bars.wither.max"}}">
        <span>/ {{system.wither.max}}</span>
      </div>
    </div>
    <div
      class="take-harm-button thover take-wither-button"
      data-action="takeRollable"
      data-tooltip="{{localize "TERIOCK.SHEETS.Actor.SIDEBAR.Bars.wither.take"}}"
      data-type="wither"
    >
      <i class="fa-fw fa-light fa-{{TERIOCK.display.icons.effect.wither}}"></i>
    </div>
  </div>
</div>