<div class="ab-menu {{#if menuCollapsed}}collapsed{{/if}}">
  <div class="ab-menu-content">
    {{> "teriock/sheets/shared/display-toggles"}}
    <div class="ab-menu-bar">
      <div class="ttable menu-large-grid">
        {{> "teriock/sheets/shared/menu-input" field=systemFields.equipmentClasses value=system.equipmentClasses}}
        {{> "teriock/sheets/shared/menu-input" field=systemFields.fightingStyle value=system.fightingStyle}}
      </div>
    </div>
    <div class="ab-menu-bar">
      <div class="ttable menu-large-grid">
        {{#if (not (exists system.damage.base))}}
          <div class="tgrid-item">
            <button
              class="ab-menu-button ab-damage-button"
              {{#if (not editable)}}
              disabled="disabled"
              {{/if}}
            >
              {{makeIcon TERIOCK.display.icons.ui.add "button"}}
              {{localize "TERIOCK.SYSTEMS.Armament.FIELDS.damage.base.label"}}
            </button>
          </div>
        {{else}}
          {{#if (not (exists system._source.damage.twoHanded))}}
            <div class="tgrid-item">
              <button
                class="ab-menu-button ab-two-handed-damage-button"
                {{#if (not editable)}}
                disabled="disabled"
                {{/if}}
              >
                {{makeIcon TERIOCK.display.icons.ui.add "button"}}
                {{localize "TERIOCK.SYSTEMS.Armament.FIELDS.damage.twoHanded.label"}}
              </button>
            </div>
          {{/if}}
        {{/if}}
        {{#if (not (exists system.av.raw))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-av-button"
              {{#if (not editable)}}
                    disabled="disabled"
              {{/if}}
            >
              {{makeIcon TERIOCK.display.icons.ui.add "button"}}
              {{localize "TERIOCK.SYSTEMS.Armament.FIELDS.av.raw.label"}}
            </button>
          </div>
        {{/if}}
        {{#if (not (exists system.bv.raw))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-bv-button"
              {{#if (not editable)}}
                    disabled="disabled"
              {{/if}}
            >
              {{makeIcon TERIOCK.display.icons.ui.add "button"}}
              {{localize "TERIOCK.SYSTEMS.Armament.FIELDS.bv.raw.label"}}
            </button>
          </div>
        {{/if}}
        {{#if (exists system.damage.base)}}
          {{#if (not (exists system.hitBonus))}}
            <div class="tgrid-item">
              <button class="ab-menu-button ab-hit-button"
                {{#if (not editable)}}
                      disabled="disabled"
                {{/if}}
              >
                {{makeIcon TERIOCK.display.icons.ui.add "button"}}
                {{localize "TERIOCK.SYSTEMS.Attack.FIELDS.hitBonus.label"}}
              </button>
            </div>
          {{/if}}
        {{/if}}
        {{> "teriock/sheets/shared/display-field-buttons"}}
      </div>
    </div>
  </div>
</div>
