<div class="ab-bar">
  {{#if (and isGM (not system.identification.read))}}
    {{formBox
      (path TERIOCK.config.equipment.powerLevel system.identification.powerLevel "label")
      classes=(ifThen editable "power-level-box")
      icon=(path TERIOCK.config.equipment.powerLevel "unknown" "icon")
      iconColor=(path
        TERIOCK.config.equipment.powerLevel system.identification.powerLevel "color")
      tooltip=(localize "TERIOCK.SYSTEMS.Equipment.FIELDS.powerLevel.label")
    }}
  {{else}}
    {{formBox
      (path TERIOCK.config.equipment.powerLevel system.powerLevel "label")
      classes=(ifThen editable "power-level-box")
      icon=(path TERIOCK.config.equipment.powerLevel system.powerLevel "icon")
      iconColor=(path
        TERIOCK.config.equipment.powerLevel system.powerLevel "color")
      tooltip=(localize "TERIOCK.SYSTEMS.Equipment.FIELDS.powerLevel.label")
    }}
  {{/if}}
  {{formBox
    (formInput
      systemFields.equipmentType
      value=system._source.equipmentType
      disabled=(not editable)
      placeholder=(localize "TERIOCK.SYSTEMS.Equipment.FIELDS.equipmentType.label"))
    unselected=(getName system.equipmentType)
    tooltip=(localize "TERIOCK.SYSTEMS.Equipment.FIELDS.equipmentType.label")
    icon=TERIOCK.display.icons.equipment.equipmentType
  }}
  {{formBox
    (ifThen (eq system.range.long.unitType "finite") system.range.long.formula system.range.long.text)
    secondary=(ifThen (eq system.range.short.unitType "finite") system.range.short.formula system.range.short.text)
    action=(ifThen editable "editArmamentRange" "")
    after=false
    icon=TERIOCK.display.icons.ability.range
    includeSecondary=(exists system._source.range.short.raw)
    label=(ifThen (eq system.range.long.unitType "finite") system.range.long.symbol "")
    tooltip=(localize "TERIOCK.SYSTEMS.Armament.FIELDS.range.long.raw.label")
  }}
</div>
