<div class="teriock-sheet-bar">
  {{#if (and isGM (not system.identification.read))}}
    {{formBox
      (path TERIOCK.config.equipment.powerLevel system.identification.powerLevel "label")
      action=(ifThen editable "updatePaths" "")
      dataset=(object paths="system.powerLevel")
      icon=(path TERIOCK.config.equipment.powerLevel "unknown" "icon")
      iconColor=(path
        TERIOCK.config.equipment.powerLevel system.identification.powerLevel "color")
      tooltip=(localize "TERIOCK.SYSTEMS.Equipment.FIELDS.powerLevel.label")
    }}
  {{else}}
    {{formBox
      (path TERIOCK.config.equipment.powerLevel system.powerLevel "label")
      action=(ifThen editable "updatePaths" "")
      dataset=(object paths="system.powerLevel")
      icon=(path TERIOCK.config.equipment.powerLevel system.powerLevel "icon")
      iconColor=(path
        TERIOCK.config.equipment.powerLevel system.powerLevel "color")
      tooltip=(localize "TERIOCK.SYSTEMS.Equipment.FIELDS.powerLevel.label")
    }}
  {{/if}}
  {{formBox
    system._source.equipmentType
    action=(ifThen editable "updatePaths" "")
    dataset=(object paths="system.equipmentType")
    icon=TERIOCK.display.icons.equipment.equipmentType
    placeholder=(localize "TERIOCK.SYSTEMS.Equipment.FIELDS.equipmentType.label")
    tooltip=(localize "TERIOCK.SYSTEMS.Equipment.FIELDS.equipmentType.label")
    unselected=(getName system.equipmentType)
  }}
  {{formBox
    rangeString
    action=(ifThen editable "editArmamentRange" "")
    icon=TERIOCK.display.icons.ability.range
    label=(ifThen (eq system.range.long.unitType "finite") system.range.long.symbol "")
    overflow=true
    tooltip=(localize "TERIOCK.SYSTEMS.Armament.FIELDS.range.long.raw.label")
    unselected=sourceRangeString
  }}
</div>
