<div class="character-tab notes">
  <h1>{{localize "TERIOCK.SHEETS.Actor.TABS.Details.title"}}</h1>
  <div class="character-tab-page">
    <div class="tgrid g2" style="gap: 1em;">
      <div class="teriock-block-display">
        <div
          class="character-shortbox character-movement-box"
          data-uuid="{{ruleUuid "Core" "Movement Speed"}}"
          data-make-tooltip
          data-tooltip-left="true"
        >
          <div class="tsubtle tcenter">
            {{localize "TERIOCK.SHEETS.Actor.TABS.Details.movementSpeed.label"}}
          </div>
          <div class="character-shortbox-value">{{{system.movementSpeed}}}
            {{localize "TERIOCK.SHEETS.Actor.TABS.Details.movementSpeed.rate"}}
          </div>
        </div>
        <div class="teriock-block-display-divider"></div>
        <div class="tgrid g3" style="padding-inline: 0.5em;">
          {{#each TERIOCK.options.character.movementTypes as |name key|}}
            <div class="gi2">
              {{{name}}}
            </div>
            <div class="tcolored">
              {{lookup
                @root/TERIOCK.options.character.speedAdjustments
                (lookup @root/system.speedAdjustments key)
              }}
              {{{lookup system.speedAdjustments key}}}
            </div>
          {{/each}}
        </div>
      </div>
      <div class="tgrid-item" style="display: flex; flex-direction: column; gap: 1em;">
        <div class="teriock-block-display" style="padding: 1em;">
          <div class="tgrid g3" style="padding-inline: 0.5em;">
            <div class="gi2 tsubtle">
              {{localize "TERIOCK.SHEETS.Actor.TABS.Details.sense.label"}}
            </div>
            <div class="tcenter tsubtle">
              {{localize "TERIOCK.SHEETS.Actor.TABS.Details.sense.range"}}
            </div>
            {{#each TERIOCK.options.character.senses as |name key|}}
              <div class="gi2">
                {{{name}}}
              </div>
              <div class="tcenter affix">
                <div class="unselected">
                  <span class="tcolored tcenter ttransparent">{{path ../system.senses key}} ft</span>
                </div>
                <div class="tcolored">
                  {{formInput
                    (path ../systemFields "senses.fields" key)
                    value=(path ../system._source.senses key)
                    classes="tcolored tcenter ttransparent selected"
                  }}
                </div>
              </div>
            {{/each}}
          </div>
        </div>
        <div class="teriock-block-display" style="padding-top: 0.75em;">
          <div
            data-uuid="{{ruleUuid "Core" "Size"}}"
            data-make-tooltip
            class="carrying-box-main" style="display: flex; flex-direction: row;"
          >
            <div
              class="character-shortbox character-size-box"
            >
              <div class="tsubtle tcenter">
                {{localize "TERIOCK.SHEETS.Actor.TABS.Details.size.label"}}
              </div>
              <div class="affix">
                <div class="unselected">
                  <span class="character-size-input character-smallbox-value">{{{system.size.number.value}}}</span>
                </div>
                {{formInput
                  systemFields.size.fields.number
                  value=system._source.size.number.raw
                  classes="character-size-input character-smallbox-value selected transparent-input"
                  dataset=(object
                    tooltip=(concat
                      (ucFirst system.size.category)
                      ": "
                      system.size.reach
                      " "
                      (localize "TERIOCK.SHEETS.Actor.TABS.Details.size.reach")
                    )
                    tooltipClass=""
                    tooltipDirection="DOWN")
                }}
              </div>
            </div>
            <div class="character-shortbox character-weight-box">
              <div class="tsubtle tcenter">
                {{localize "TERIOCK.SHEETS.Actor.TABS.Details.weight.label"}}
              </div>
              <div class="affix">
                <div class="unselected">
                  <span class="character-weight-input character-smallbox-value">
                    {{{system.weight.self.value}}} {{localize "TERIOCK.SHEETS.Actor.TABS.Details.weight.unit"}}
                  </span>
                </div>
                {{formInput
                  systemFields.weight.fields.self
                  value=system._source.weight.self.raw
                  classes="character-weight-input character-smallbox-value selected transparent-input"
                  dataset=(object
                    tooltip=(localize
                      "TERIOCK.SHEETS.Actor.TABS.Details.weight.includingEquipment"
                      value=system.weight.value
                    )
                    tooltipClass=""
                    tooltipDirection=""
                  )
                }}
              </div>
            </div>
            <div class="character-shortbox character-carrying-box">
              <div class="tsubtle tcenter">
                {{localize "TERIOCK.SHEETS.Actor.TABS.Details.carrying.label"}}
              </div>
              <div
                class="character-smallbox-value tcenter"
                data-tooltip-class=""
                data-tooltip="{{localize "TERIOCK.SHEETS.Actor.TABS.Details.carrying.includingSelf"
                                         value=system.weight.value}}"
                data-tooltip-direction="DOWN"
                style="height: 2rem;"
              >{{{system.weight
              .carried}}} {{localize "TERIOCK.SHEETS.Actor.TABS.Details.weight.unit"}}
              </div>
            </div>
          </div>
          <div class="teriock-block-display-divider"
               style="margin-top: 0.125em; margin-bottom: 0.625em;"></div>
          <div
            class="tgrid g3"
            data-uuid="{{ruleUuid "Core" "Carrying Capacity"}}"
            data-make-tooltip
          >
            <div class="tsubtle tcenter">
              {{localize "TERIOCK.SHEETS.Actor.TABS.Details.carrying.light"}}
            </div>
            <div class="tsubtle tcenter">
              {{localize "TERIOCK.SHEETS.Actor.TABS.Details.carrying.heavy"}}
            </div>
            <div class="tsubtle tcenter">
              {{localize "TERIOCK.SHEETS.Actor.TABS.Details.carrying.max"}}
            </div>
            <div
              class="tcenter tround {{#if (gte system.weight.carried system.carryingCapacity.light)}}tred{{/if}}"
              data-tooltip="{{localize "TERIOCK.SHEETS.Actor.TABS.Details.carrying.lightCapacity"}}"
              data-tooltip-direction="DOWN"
              data-tooltip-class=""
            >
              {{{system.carryingCapacity.light}}} {{localize "TERIOCK.SHEETS.Actor.TABS.Details.weight.unit"}}
            </div>
            <div
              class="tcenter tround {{#if (gte system.weight.carried system.carryingCapacity.heavy)}}tred{{/if}}"
              data-tooltip="{{localize "TERIOCK.SHEETS.Actor.TABS.Details.carrying.heavyCapacity"}}"
              data-tooltip-direction="DOWN"
              data-tooltip-class=""
            >
              {{{system.carryingCapacity.heavy}}} {{localize "TERIOCK.SHEETS.Actor.TABS.Details.weight.unit"}}
            </div>
            <div
              class="tcenter tround {{#if (gte system.weight.carried system.carryingCapacity.max)}}tred{{/if}}"
              data-tooltip="{{localize "TERIOCK.SHEETS.Actor.TABS.Details.carrying.maxCapacity"}}"
              data-tooltip-direction="DOWN"
              data-tooltip-class=""
            >
              {{{system.carryingCapacity.max}}} {{localize "TERIOCK.SHEETS.Actor.TABS.Details.weight.unit"}}
            </div>
          </div>
        </div>
      </div>
      <div class="teriock-block-display" style=" padding-bottom: 0.25em; padding-top: 0.75em;">
        <div class="tgrid g2">
          <div
            class="character-shortbox"
            data-uuid="{{ruleUuid "Keyword" "Curse"}}"
            data-make-tooltip
            data-tooltip-left="true"
          >
            <div class="tsubtle tcenter">
              {{localize "TERIOCK.SHEETS.Actor.TABS.Details.curses.label"}}
            </div>
            <div class="character-smallbox-value tcenter" style="height: 2rem;">
              {{localize "TERIOCK.SHEETS.Actor.TABS.Details.curses.capacity" value=system.curses.value
                         max=system.curses.max}}
            </div>
          </div>
          <div class="character-shortbox">
            <div class="tsubtle tcenter">
              {{localize "TERIOCK.SHEETS.Actor.TABS.Details.maxRotators.label"}}
            </div>
            <div class="affix">
              <div class="unselected">
                <span class="character-smallbox-value">{{{system.magic.maxRotators.value}}}</span>
              </div>
              {{formInput
                systemFields.magic.fields.maxRotators
                value=system._source.magic.maxRotators.raw
                classes="character-smallbox-value selected transparent-input"
                dataset=(object tooltip=system.magic.maxRotators.formula)
              }}
            </div>
          </div>
        </div>
      </div>
      <div class="teriock-block-display" style="flex-direction: row; padding-bottom: 0.25em; padding-top: 0.75em;">
        <div class="character-shortbox">
          <div class="tsubtle tcenter">
            {{localize "TERIOCK.SHEETS.Actor.TABS.Details.hiding.label"}}
          </div>
          <div class="affix">
            <div class="unselected">
                <span
                  class="character-detection-input character-smallbox-value">{{{system.detection.hiding.value}}}</span>
            </div>
            {{formInput
              systemFields.detection.fields.hiding
              value=system._source.detection.hiding.raw
              classes="character-detection-input character-smallbox-value selected transparent-input"
              dataset=(object tooltip=system.detection.hiding.formula)
            }}
          </div>
        </div>
        <div class="character-shortbox">
          <div class="tsubtle tcenter">
            {{localize "TERIOCK.SHEETS.Actor.TABS.Details.perceiving.label"}}
          </div>
          <div class="affix">
            <div class="unselected">
          <span class="character-detection-input character-smallbox-value">{{{system.detection.perceiving
          .value}}}</span>
            </div>
            {{formInput
              systemFields.detection.fields.perceiving
              value=system._source.detection.perceiving.raw
              classes="character-detection-input character-smallbox-value selected transparent-input"
              dataset=(object tooltip=system.detection.perceiving.formula)
            }}
          </div>
        </div>
      </div>
    </div>
    <div class="teriock-block-display character-notes-content">
      <prose-mirror
        name="system.notes"
        value="{{system.notes}}"
        toggled="true"
        editable="editable"
      >{{#if (exists enrichedNotes)}}{{{enrichedNotes}}}{{else}}{{localize
        "TERIOCK.SHEETS.Actor.TABS.Details.notes.placeholder"}}{{/if}}</prose-mirror>
    </div>
  </div>
</div>

