<div class="actor-tab conditions">
  <h1>{{localize "TERIOCK.SHEETS.Actor.TABS.Effects.title"}}</h1>
  <div class="actor-tab-page">
    <div class="teriock-block-display">
      {{> "teriock/ui/preview"
        @root.previews.effects
      }}
    </div>
    <div class="teriock-block-display">
      <div class="tgrid g4 condition-toggle-container">
        {{#each TERIOCK.data.conditions as |condition key|}}
          {{#if (not (eq key "conscious"))}}
            <div
              class="
                condition-toggle
                {{#if (not (includes ../removableConditions key))}}
                  inactive
                {{/if}}
              "
              data-action="toggleCondition"
              data-condition="{{{ key }}}"
              data-tooltip='
                {{localize "TERIOCK.SHEETS.Actor.TABS.Effects.toggle" name=condition.name state=(ifThen
                (includes ../removableConditions key)
                (localize "TERIOCK.SHEETS.Actor.TABS.Effects.off")
                (localize "TERIOCK.SHEETS.Actor.TABS.Effects.on"))}}
              '
            >
              <div class="condition-image-container">
                <div class="condition-image">
                  <img src="{{ condition.img }}" alt="{{ condition.name }}" loading="lazy" />
                </div>
              </div>
              <div class="condition-label tsubtle">{{ condition.name }}</div>
            </div>
          {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</div>
