<div class="character-tab protections">
  <h1>{{localize "TERIOCK.SHEETS.Actor.TABS.Protections.title"}}</h1>
  <div class="character-tab-page">
    <div class="teriock-block-display">
      <div class="tgrid g4 condition-toggle-container">
        {{#each protectionButtons as |b|}}
          <div
            class="condition-toggle"
            data-action="{{b.action}}"
            data-tooltip="{{b.tooltip}}"
          >
            <div class="condition-image-container">
              <div class="condition-image">
                <img src="{{b.img}}" alt="">
              </div>
            </div>
            <div class="condition-label tsubtle">
              {{b.label}}
            </div>
          </div>
        {{/each}}
      </div>
    </div>
    <div class=" teriock-block-display">
      <div class="teriock-block-container medium">
        <div class="teriock-block-container-start" style="display: none;"></div>
        {{#each protectionEntries as |p|}}
          {{> (template "ui/block.hbs") p}}
        {{/each}}
        <div class="no-results medium">
          <p>{{localize "TERIOCK.SHEETS.Common.SEARCH.noProtections"}}</p>
        </div>
      </div>
    </div>
  </div>
</div>