<div class="{{cssClass}} tsheet-page">
  <div class="ab-sheet-everything">
    <div class="ab-sheet-top">
      {{> "systems/teriock/src/templates/document-templates/shared/header.hbs"}}
      <div class="ab-bars">
        {{> "systems/teriock/src/templates/document-templates/item-templates/species-template/bars/sp-stats-bar.hbs"}}
        {{> "systems/teriock/src/templates/document-templates/item-templates/species-template/bars/sp-lifespan-bar.hbs"}}
        {{> "systems/teriock/src/templates/document-templates/item-templates/species-template/bars/sp-size-bar.hbs"}}
      </div>
    </div>
    {{> "systems/teriock/src/templates/document-templates/item-templates/species-template/parts/sp-menu.hbs"}}
    <div class="ab-main">
      <div class="ab-tags-all">
        {{> "systems/teriock/src/templates/document-templates/item-templates/species-template/tags/sp-traits-tags.hbs"}}
      </div>
      {{formGroup
        systemFields.hpIncrease
        value=system.hpIncrease
        enriched=enriched.hpIncrease
        disabled=(not editable)
        hidden=(not (exists system.hpIncrease))
      }}
      {{formGroup
        systemFields.attributeIncrease
        value=system.attributeIncrease
        enriched=enriched.attributeIncrease
        disabled=(not editable)
        hidden=(not (exists system.attributeIncrease))
      }}
      {{formGroup
        systemFields.innateRanks
        value=system.innateRanks
        enriched=enriched.innateRanks
        disabled=(not editable)
        hidden=(not (exists system.innateRanks))
      }}
      {{formGroup
        systemFields.appearance
        value=system.appearance
        enriched=enriched.appearance
        disabled=(not editable)
        hidden=(not (exists system.appearance))
      }}
      {{formGroup
        systemFields.description
        value=system.description
        enriched=enriched.description
        disabled=(not editable)
        hidden=(not (exists system.description))
      }}
    </div>
    {{> "systems/teriock/src/templates/document-templates/shared/effects.hbs"}}
  </div>
</div>