<div class="{{cssClass}} tsheet-page">
  {{#if (eq tab "overview")}}
    <div class="ab-sheet-everything">
      <div class="ab-sheet-top">
        {{> "systems/teriock/src/templates/document-templates/shared/header.hbs"}}
        <div class="ab-bars">
          {{> "systems/teriock/src/templates/document-templates/item-templates/species-template/bars/sp-stats-bar.hbs"}}
          {{> "systems/teriock/src/templates/document-templates/item-templates/species-template/bars/sp-lifespan-bar.hbs"}}
          {{> "systems/teriock/src/templates/document-templates/item-templates/species-template/bars/sp-size-bar.hbs"}}
        </div>
      </div>
      {{> "systems/teriock/src/templates/document-templates/item-templates/species-template/parts/sp-menu.hbs"}}
      <div class="ab-main">
        <div class="ab-tags-all">
          {{> "systems/teriock/src/templates/document-templates/item-templates/species-template/tags/sp-traits-tags.hbs"}}
        </div>
        {{formGroup
          systemFields.hpIncrease
          value=system.hpIncrease
          enriched=enriched.hpIncrease
          disabled=(not editable)
          hidden=(not (exists system.hpIncrease))
        }}
        {{formGroup
          systemFields.mpIncrease
          value=system.mpIncrease
          enriched=enriched.mpIncrease
          disabled=(not editable)
          hidden=(not (exists system.mpIncrease))
        }}
        {{formGroup
          systemFields.attributeIncrease
          value=system.attributeIncrease
          enriched=enriched.attributeIncrease
          disabled=(not editable)
          hidden=(not (exists system.attributeIncrease))
        }}
        {{formGroup
          systemFields.innateRanks
          value=system.innateRanks
          enriched=enriched.innateRanks
          disabled=(not editable)
          hidden=(not (exists system.innateRanks))
        }}
        {{formGroup
          systemFields.appearance
          value=system.appearance
          enriched=enriched.appearance
          disabled=(not editable)
          hidden=(not (exists system.appearance))
        }}
        {{formGroup
          systemFields.description
          value=system.description
          enriched=enriched.description
          disabled=(not editable)
          hidden=(not (exists system.description))
        }}
      </div>
      {{> "systems/teriock/src/templates/document-templates/shared/effects.hbs"}}
      {{#if (and (or editable (exists bodyParts)) (exists document.actor))}}
        <div class="ab-main">
          {{#if editable}}
            <button class="createBodyPart" data-action="createBodyPart">Add Body Part
            </button>{{/if}}
          {{#each bodyParts as |doc|}}
            {{> "systems/teriock/src/templates/embed-templates/embed-card.hbs" doc.system.embedParts}}
          {{/each}}
        </div>
      {{/if}}
      {{#if (and (or editable (exists equipment)) (exists document.actor))}}
        <div class="ab-main">
          {{#if editable}}
            <button class="createEquipment" data-action="createEquipment">Add Equipment
            </button>{{/if}}
          {{#each equipment as |doc|}}
            {{> "systems/teriock/src/templates/embed-templates/embed-card.hbs" doc.system.embedParts}}
          {{/each}}
        </div>
      {{/if}}
      {{#if (and (or editable (exists ranks)) (exists document.actor))}}
        <div class="ab-main">
          {{#if editable}}
            <button class="createRank" data-action="createRank">Add Rank
            </button>{{/if}}
          {{#each ranks as |doc|}}
            {{> "systems/teriock/src/templates/embed-templates/embed-card.hbs" doc.system.embedParts}}
          {{/each}}
        </div>
      {{/if}}
    </div>
  {{/if}}
  {{#if (eq tab "impacts")}}
    {{> "systems/teriock/src/templates/document-templates/item-templates/species-template/parts/sp-impacts.hbs"}}
  {{/if}}
</div>