<div>
  {{#if title.show}}
    <header class="teriock-page-header journal-page-header">
      <div
        class="teriock-page-img"
        data-src="{{ img }}"
        {{#if (exists system.color)}}
          style="outline-color:{{{ system.color }}};"
        {{/if}}
      >
        <img
          class="profile-img"
          src="{{ img }}"
          data-edit="{{ imgPath }}"
          alt=""
          {{#if editable}}
            data-action="editImage"
          {{/if}}
          title="{{ name }}"
        />
      </div>
      <h{{ title.level }}>
        {{ name }}
      </h{{title.level}}>
    </header>
  {{/if}}
  <div class="teriock-page-tags">
    {{#each displayTags as |tag|}}
      <span
        class="page-tag"
        {{#if (exists tag.tooltip)}}
          data-tooltip="{{ tag.tooltip }}"
        {{/if}}
      >
        {{ tag.label }}
      </span>
    {{/each}}
  </div>
  <section class="journal-page-content">{{{ text.enriched }}}</section>
</div>
