<div class="ab-header {{#if (eq item.type "equipment")}}{{#if system.shattered}}shattered{{/if}}{{/if}}">
  <div class="ab-profile-img timage" data-src="{{img}}">
    <img
      class="profile-img"
      src="{{img}}"
      data-edit="img"
      {{#if editable}}data-action="editImage"{{/if}}
      title="{{name}}"
    />
  </div>
  <div class="ab-title">
    <input
      class="tfont-{{system.font}}"
      type="text"
      name="name"
      value="{{name}}"
      placeholder="Name"
      {{#if (not editable)}}
        readonly="true"
      {{/if}}
    />
  </div>
  <div class="ab-top-buttons-container">
    <div class="ab-top-buttons">
      <div class="ab-icon ab-top-button open-button" data-action="wikiOpenThis" data-tooltip="Open Wiki Page">
        {{{config.icons.wiki}}}
      </div>
      <div class="ab-icon ab-top-button reload-button" data-action="wikiPullThis" data-tooltip="Pull From Wiki">
        {{{config.icons.import}}}
      </div>
      <div class="ab-icon ab-top-button chat-button" data-action="chatThis" data-tooltip="Send to Chat">
        {{{config.icons.chat}}}
      </div>
      <div class="ab-icon ab-top-button roll-button" data-action="rollThis" data-tooltip="Roll">
        {{{config.icons.roll}}}
      </div>
    </div>
  </div>
</div>