<div class="ab-header {{#if (eq item.type "equipment")}}{{#if system.shattered}}shattered{{/if}}{{/if}}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cinzel&family=Great+Vibes&display=swap" rel="stylesheet">
  <div class="ab-profile-img">
    <img
      class="profile-img"
      src="{{img}}"
      data-edit="img"
      data-action="editImage"
      title="{{name}}"
    />
  </div>
  <div class="ab-title">
    <input class="tfont-{{system.font}}" type="text" name="name" value="{{name}}" placeholder="Name" />
  </div>
  <div class="ab-top-buttons-container">
    <div class="ab-top-buttons">
      <div class="ab-icon ab-top-button open-button" data-action="wikiOpenThis">
        {{{config.icons.wiki}}}
      </div>
      <div class="ab-icon ab-top-button reload-button" data-action="wikiPullThis">
        {{{config.icons.import}}}
      </div>
      <div class="ab-icon ab-top-button chat-button" data-action="chatThis">
        {{{config.icons.chat}}}
      </div>
      <div class="ab-icon ab-top-button roll-button" data-action="rollThis">
        {{{config.icons.roll}}}
      </div>
    </div>
  </div>
</div>