<div class="{{cssClass}} character-page" autocomplete="off">
    {{> 'systems/teriock/templates/parts/character-parts/character-sidebar.hbs' }}
    <div class="character-tabbers">
        {{!-- <div class="character-tabber ui-controls {{tabActive system.sheet.activeTab "overview"}}" tab="overview">
            <i class="fa-solid fa-person"></i>
        </div> --}}
        <div class="character-tabber ui-controls {{tabActive system.sheet.activeTab "tradecrafts"}}" tab="tradecrafts">
            {{ticon (lookup config.documentOptions.fluency 'icon') style="solid"}}
        </div>
        <div class="character-tabber ui-controls {{tabActive system.sheet.activeTab "abilities"}}" tab="abilities">
            {{ticon (lookup config.documentOptions.ability 'icon') style="solid"}}
        </div>
        <div class="character-tabber ui-controls {{tabActive system.sheet.activeTab "classes"}}" tab="classes">
            {{ticon (lookup config.documentOptions.rank 'icon') style="solid"}}
        </div>
        <div class="character-tabber ui-controls {{tabActive system.sheet.activeTab "powers"}}" tab="powers">
            {{ticon (lookup config.documentOptions.power 'icon') style="solid"}}
        </div>
        <div class="character-tabber ui-controls {{tabActive system.sheet.activeTab "inventory"}}" tab="inventory">
            {{ticon (lookup config.documentOptions.equipment 'icon') style="solid"}}
        </div>
        <div class="character-tabber ui-controls {{tabActive system.sheet.activeTab "notes"}}" tab="notes">
            <i class="fa-solid fa-notes"></i>
        </div>
    </div>
    <div class="character-tab-content">
        {{#if (eq system.sheet.activeTab "overview")}}
            {{> 'systems/teriock/templates/parts/character-parts/tabs/character-tab-overview.hbs' }}
        {{/if}}
        {{#if (eq system.sheet.activeTab "tradecrafts")}}
            {{> 'systems/teriock/templates/parts/character-parts/tabs/character-tab-tradecrafts.hbs' }}
        {{/if}}
        {{#if (eq system.sheet.activeTab "abilities")}}
            {{> 'systems/teriock/templates/parts/character-parts/tabs/character-tab-abilities.hbs' }}
        {{/if}}
        {{#if (eq system.sheet.activeTab "classes")}}
            {{> 'systems/teriock/templates/parts/character-parts/tabs/character-tab-classes.hbs' }}
        {{/if}}
        {{#if (eq system.sheet.activeTab "powers")}}
            {{> 'systems/teriock/templates/parts/character-parts/tabs/character-tab-powers.hbs' }}
        {{/if}}
        {{#if (eq system.sheet.activeTab "inventory")}}
            {{> 'systems/teriock/templates/parts/character-parts/tabs/character-tab-inventory.hbs' }}
        {{/if}}
        {{#if (eq system.sheet.activeTab "notes")}}
            {{> 'systems/teriock/templates/parts/character-parts/tabs/character-tab-notes.hbs' }}
        {{/if}}
</div>