<div class="{{cssClass}} character-page" autocomplete="off">
    {{> 'systems/teriock/templates/parts/character-parts/character-sidebar.hbs' }}
    <div class="character-tabs">
        <div class="character-tab ui-controls {{tabActive system.activeTab "overview"}}" tab="overview">
            <i class="fa-solid fa-person"></i>
        </div>
        <div class="character-tab ui-controls {{tabActive system.activeTab "abilities"}}" tab="abilities">
            <i class="fa-solid fa-hand-sparkles"></i>
        </div>
        <div class="character-tab ui-controls {{tabActive system.activeTab "classes"}}" tab="classes">
            <i class="fa-solid fa-hat-wizard"></i>
        </div>
        <div class="character-tab ui-controls {{tabActive system.activeTab "inventory"}}" tab="inventory">
            <i class="fa-solid fa-treasure-chest"></i>
        </div>
        <div class="character-tab ui-controls {{tabActive system.activeTab "notes"}}" tab="notes">
            <i class="fa-solid fa-pen-fancy"></i>
        </div>
    </div>
    <div class="character-tab-content">
        {{#if (eq system.activeTab "overview")}}
            {{> 'systems/teriock/templates/parts/character-parts/character-tab-overview.hbs' }}
        {{/if}}
        {{#if (eq system.activeTab "abilities")}}
            {{> 'systems/teriock/templates/parts/character-parts/character-tab-abilities.hbs' }}
        {{/if}}
        {{#if (eq system.activeTab "classes")}}
            {{> 'systems/teriock/templates/parts/character-parts/character-tab-classes.hbs' }}
        {{/if}}
        {{#if (eq system.activeTab "inventory")}}
            {{> 'systems/teriock/templates/parts/character-parts/character-tab-inventory.hbs' }}
        {{/if}}
        {{#if (eq system.activeTab "notes")}}
            {{> 'systems/teriock/templates/parts/character-parts/character-tab-notes.hbs' }}
        {{/if}}
</div>