<div class="{{cssClass}}" autocomplete="off">
  <div class="ab-sheet-top">
    <div class="ab-bars">
      {{> "systems/teriock/templates/parts/rank-parts/rank-bar-class.hbs" }}
      {{> "systems/teriock/templates/parts/rank-parts/rank-bar-stats.hbs" }}
    </div>
  </div>
  <div class="ab-main">
    <div class="ab-section-container">
      <div class="ab-section">
        <span class="ab-section-title">Description</span>
      </div>
      <prose-mirror
        name="system.description"
        value="{{system.description}}"
        toggled=true
        editable=editable
      >{{{enrichedDescription}}}</prose-mirror>
    </div>
    <div class="ab-section-container">
      <div class="ab-section">
        <span class="ab-section-title">Flaws</span>
      </div>
      <prose-mirror
        name="system.flaws"
        value="{{system.flaws}}"
        toggled=true
        editable=editable
      >{{{enrichedFlaws}}}</prose-mirror>
    </div>
  </div>
  <div class="ab-main">
    <button class="createAbility" data-action='createAbility'>Add Ability</button>
    {{abilityCards abilities system}}
  </div>
</div>