{{#if (exists system.limitation)}}
  <div class="ab-section-container">
    <div class="ab-section">
      <span class="ab-section-title">Limitation</span>
    </div>
    {{#if editable}}
      <prose-mirror
        name="system.limitation"
        value="{{system.limitation}}"
        toggled="true"
        editable="editable"
      ><div class="text-preview">{{{limitation}}}</div></prose-mirror>
    {{else}}
      <div class="text-preview">{{{limitation}}}</div>
    {{/if}}
  </div>
{{/if}}
{{#if (exists system.improvement)}}
  <div class="ab-section-container">
    <div class="ab-section">
      <span class="ab-section-title">Improvement</span>
    </div>
    {{#if editable}}
      <prose-mirror
        name="system.improvement"
        value="{{system.improvement}}"
        toggled="true"
        editable="editable"
      ><div class="text-preview">{{{improvement}}}</div></prose-mirror>
    {{else}}
      <div class="text-preview">{{{improvement}}}</div>
    {{/if}}
  </div>
{{/if}}
