{{#if (exists system.results.save)}}
  <div class="ab-section-container">
    <div class="ab-section">
      <span class="ab-section-title">On success</span>
    </div>
    {{#if editable}}
      <prose-mirror
        name="system.results.save"
        value="{{system.results.save}}"
        toggled="true"
        editable="editable"
      ><div class="text-preview">{{{onSave}}}</div></prose-mirror>
    {{else}}
      <div class="text-preview">{{{onSave}}}</div>
    {{/if}}
  </div>
{{/if}}
{{#if (exists system.results.fail)}}
  <div class="ab-section-container">
    <div class="ab-section">
      <span class="ab-section-title">On fail</span>
    </div>
    {{#if editable}}
      <prose-mirror
        name="system.results.fail"
        value="{{system.results.save}}"
        toggled="true"
        editable="editable"
      ><div class="text-preview">{{{onFail}}}</div></prose-mirror>
    {{else}}
      <div class="text-preview">{{{onFail}}}</div>
    {{/if}}
  </div>
{{/if}}
