<div class="character-tab conditions">
  <h1>{{localize "TERIOCK.SHEETS.Actor.TABS.Effects.title"}}</h1>
  <div class="character-tab-page teriock-block-results" data-search-key="effects">
    <div class="teriock-block-display">
      <div class="teriock-block-options">
        {{> (template "ui/block-options.hbs")
          tab="consequence"
          optionsToggle=settings.menus.consequenceOptions
          optionsPath="settings.menus.consequenceOptions"
          searchValue=settings.consequenceFilters.search
          searchKey="effects"
          addAction="createConsequence"
          gaplessPath="flags.teriockDocumentSettings.sheetBlockEffectsGapless"
          gaplessValue=flags.teriockDocumentSettings.sheetBlockEffectsGapless
          sizePath="flags.teriockDocumentSettings.sheetBlockEffectsSize"
          sizeValue=flags.teriockDocumentSettings.sheetBlockEffectsSize
          tabDisplay=TERIOCK.options.document.consequence.name
        }}
      </div>
      {{> (template "sheets/actors/playable-template/results/search-results.hbs")
        docs=consequences
        searchKey="effects"
        displayKey="consequence"
        empty=TERIOCK.options.document.consequence.plural
        gapless="sheetBlockEffectsGapless"
        size="sheetBlockEffectsSize"
      }}
      <div class="teriock-block-display-divider"></div>
      {{> (template "sheets/actors/playable-template/results/search-results.hbs")
        docs=attunements
        searchKey="effects"
        displayKey="consequence"
        empty=TERIOCK.options.document.attunement.plural
        gapless="sheetBlockEffectsGapless"
        size="sheetBlockEffectsSize"
      }}
      <div class="teriock-block-display-divider"></div>
      {{> (template "sheets/actors/playable-template/results/ch-condition-results.hbs")}}
    </div>
    <div class="teriock-block-display">
      <div class="tgrid g4 condition-toggle-container">
        {{#each TERIOCK.data.conditions as |condition key|}}
          {{#if (not (eq key "conscious"))}}
            <div
              class="condition-toggle {{#if (not (includes ../removableConditions key))}}inactive{{/if}}"
              data-action="toggleCondition"
              data-condition="{{{key}}}"
              data-tooltip="{{localize
                "TERIOCK.SHEETS.Actor.TABS.Effects.toggle"
                name=condition.name
                state=(ifThen
                  (includes ../removableConditions key)
                  (localize "TERIOCK.SHEETS.Actor.TABS.Effects.off")
                  (localize "TERIOCK.SHEETS.Actor.TABS.Effects.on")
                )
              }}"
            >
              <div class="condition-image-container">
                <div class="condition-image">
                  <img src={{getIconKey "conditions" key}} alt="{{condition.name}}">
                </div>
              </div>
              <div class="condition-label tsubtle">
                {{condition.name}}
              </div>
            </div>
          {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</div>

