<div class="ch-movement-box tbox toutline">
  <div class="carrying-box-main">
    <div class="character-shortbox character-size-box">
      <div class="tsubtle tcenter">
        Size
      </div>
      {{formInput
        systemFields.size
        value=system.size
        classes="character-size-input character-smallbox-value selected"
      }}
    </div>
    <div class="character-shortbox character-weight-box">
      <div class="tsubtle tcenter">
        Weight
      </div>
      <div class="affix">
        <div class="unselected">
          <span class="character-weight-input character-smallbox-value">{{{system.weight}}} lb</span>
        </div>
        {{formInput
          systemFields.weight
          value=system.weight
          classes="character-weight-input character-smallbox-value selected"
        }}
      </div>
    </div>
    <div class="character-shortbox character-carrying-box">
      <div class="tsubtle tcenter">
        Carrying
      </div>
      <div class="character-smallbox-value">{{{system.weightCarried}}} lb</div>
    </div>
  </div>
  <div class="tgrid g3" style="gap: 0;">
    <div class="tsubtle tcenter">
      Light
    </div>
    <div class="tsubtle tcenter">
      Heavy
    </div>
    <div class="tsubtle tcenter">
      Max
    </div>
    <div class="tcenter tround {{#if (geq system.weightCarried system.carryingCapacity.light)}}tred{{/if}}">
      {{{system.carryingCapacity.light}}}
      lb
    </div>
    <div class="tcenter tround {{#if (geq system.weightCarried system.carryingCapacity.heavy)}}tred{{/if}}">
      {{{system.carryingCapacity.heavy}}}
      lb
    </div>
    <div class="tcenter tround {{#if (geq system.weightCarried system.carryingCapacity.max)}}tred{{/if}}">
      {{{system.carryingCapacity.max}}}
      lb
    </div>
  </div>
</div>