<div class="die-drawer top-drawer hack-drawer ch-hack-box hp-drawer">
  <div class="character-hack-box">
    {{!-- <div class="tsubtle hack-header">Hacks</div> --}}
    <div class="thover hack-marker-box" data-action="hack" data-part="arm">
      <i class="fa-{{hackFill system.hacks.arm}} fa-hand"></i>
    </div>
    <div class="thover hack-marker-box" data-action="hack" data-part="leg">
      <i class="fa-{{hackFill system.hacks.leg}} fa-boot"></i>
    </div>
    <div class="thover hack-marker-box" data-action="hack" data-part="body">
      <i class="fa-{{hackFill system.hacks.body}} fa-skeleton-ribs"></i>
    </div>
    <div class="thover hack-marker-box" data-action="hack" data-part="eye">
      <i class="fa-{{hackFill system.hacks.eye}} fa-eye"></i>
    </div>
    <div class="thover hack-marker-box" data-action="hack" data-part="ear">
      <i class="fa-{{hackFill system.hacks.ear}} fa-ear"></i>
    </div>
    <div class="thover hack-marker-box" data-action="hack" data-part="mouth">
      <i class="fa-{{hackFill system.hacks.mouth}} fa-lips"></i>
    </div>
    <div class="thover hack-marker-box" data-action="hack" data-part="nose">
      <i class="fa-{{hackFill system.hacks.nose}} fa-nose"></i>
    </div>
  </div>
</div>