<div class="character-sidebar">
  <div class="character-intro-box">
    <div class="character-avatar timage" data-src="{{img}}">
      <img
        class="character-avatar-img"
        src="{{img}}"
        data-edit="img"
        data-action="editImage"
        title="{{name}}"
        alt="{{name}}"
      >
    </div>
    <div class="character-name">
      <input name="name" type="text" value="{{name}}" class="character-name-text"></input>
    </div>
    <div class="character-basics">
      <div class="character-shortbox character-level-box">
        <input
          type="number"
          name="system.lvl"
          value="{{system.lvl}}"
          class="character-level-input character-shortbox-value"
          min="1"
        >
        <div class="character-level-label character-shortbox-label">LVL</div>
      </div>
      <div class="character-shortbox character-rank-box">
        <input
          type="text"
          name="system.rank"
          value="{{system.rank}}"
          class="character-class-input character-shortbox-value"
          readonly="readonly"
        >
        <div class="character-class-label character-shortbox-label">RANK</div>
      </div>
      <div class="character-shortbox character-proficiency-box">
        <input
          type="number"
          name="system.p"
          value="{{system.p}}"
          class="character-proficiency-input character-shortbox-value"
          readonly="readonly"
        >
        <div class="character-level-label character-shortbox-label">PRO</div>
      </div>
      <div class="character-shortbox character-fluency-box">
        <input
          type="number"
          name="system.f"
          value="{{system.f}}"
          class="character-fluency-input character-shortbox-value"
          readonly="readonly"
        >
        <div class="character-fluency-label character-shortbox-label">FLU</div>
      </div>
    </div>
  </div>
  {{> 'systems/teriock/templates/sheets/character-template/parts/ch-status-box.hbs' }}
  {{> 'systems/teriock/templates/sheets/character-template/parts/ch-battle-box.hbs' }}
  {{> 'systems/teriock/templates/sheets/character-template/parts/ch-attribute-box.hbs' }}
  {{> 'systems/teriock/templates/sheets/character-template/parts/ch-carrying-box.hbs' }}
  {{> 'systems/teriock/templates/sheets/character-template/parts/ch-movement-box.hbs' }}
</div>
