<div class="character-status-box">
  <div class="character-status-bars">
    <div class="character-status-bar-box">
      {{> 'systems/teriock/templates/sheets/character-template/parts/ch-hack-box.hbs' }}
      <div class="character-hit-bar-container character-bar-container">
        <div class="character-hit-bar character-bar toutline">
          <div
            class="character-bar-left"
            style="width: {{barLeft
              system.hp.value
              system.hp.max
              system.hp.temp
            }}%;"
          ></div>
          <div
            class="character-bar-temp"
            style="width: {{barTemp
              system.hp.value
              system.hp.max
              system.hp.temp
            }}%; {{barTempHide
              system.hp.value
              system.hp.max
              system.hp.temp
            }}"
          ></div>
          <div
            class="character-bar-lost"
            style="width: {{barLost
              system.hp.value
              system.hp.max
              system.hp.temp
            }}%;"
          ></div>
        </div>
        <div class="character-bar-overlay">
          <div class="character-bar-overlay-row character-hit-bar-overlay-row">
            <input
              type="number"
              name="system.hp.value"
              value="{{system.hp.value}}"
              class="thover character-bar-overlay-left character-bar-overlay-label"
              max="{{system.hp.max}}"
              min="{{system.hp.min}}"
              data-tooltip="Current HP"
              style="cursor: text;"
            >
            <div class="character-bar-overlay-max character-bar-overlay-label">
              <span>/ {{system.hp.max}} +</span>
            </div>
            <input
              type="number"
              name="system.hp.temp"
              value="{{system.hp.temp}}"
              class="thover character-bar-overlay-temp character-bar-overlay-label"
              placeholder="0"
              min="0"
              data-tooltip="Temporary HP"
              style="cursor: text;"
            >
          </div>
          <div
            class="take-harm-button thover take-damage-button"
            data-action="takeDamage"
            data-tooltip="Take Damage"
          >
            <i class="fa-light fa-heart"></i>
          </div>
        </div>
      </div>
      <div class="die-drawer hit-die-drawer hp-drawer">
        <div class="tgrid g7">
          {{{system.sheet.dieBox.hitDice}}}
        </div>
      </div>
    </div>
    <div class="character-status-bar-box">
      <div class="character-mana-bar-container character-bar-container">
        <div class="character-mana-bar character-bar toutline">
          <div
            class="character-bar-left"
            style="width: {{barLeft
              system.mp.value
              system.mp.max
              system.mp.temp
            }}%;"
          ></div>
          <div
            class="character-bar-temp"
            style="width: {{barTemp
              system.mp.value
              system.mp.max
              system.mp.temp
            }}%; {{barTempHide
              system.mp.value
              system.mp.max
              system.mp.temp
            }}"
          ></div>
          <div
            class="character-bar-lost"
            style="width: {{barLost
              system.mp.value
              system.mp.max
              system.mp.temp
            }}%;"
          ></div>
        </div>
        <div class="character-bar-overlay">
          <div class="character-bar-overlay-row character-mana-bar-overlay-row">
            <input
              type="number"
              name="system.mp.value"
              value="{{system.mp.value}}"
              class="thover character-bar-overlay-left character-bar-overlay-label"
              max="{{system.mp.max}}"
              min="{{system.mp.min}}"
              data-tooltip="Current MP"
              style="cursor: text;"
            >
            <div class="character-bar-overlay-max character-bar-overlay-label">
              <span>/ {{system.mp.max}} +</span>
            </div>
            <input
              type="number"
              name="system.mp.temp"
              value="{{system.mp.temp}}"
              class="thover character-bar-overlay-temp character-bar-overlay-label"
              placeholder="0"
              min="0"
              data-tooltip="Temporary MP"
              style="cursor: text;"
            >
          </div>
          <div
            class="take-harm-button thover take-damage-button"
            data-action="takeDrain"
            data-tooltip="Take Drain"
          >
            <i class="fa-light fa-brain"></i>
          </div>
        </div>
      </div>
      <div class="die-drawer mana-die-drawer mp-drawer">
        <div class="tgrid g7">
          {{{system.sheet.dieBox.manaDice}}}
        </div>
      </div>
    </div>
    <!-- Wither Bar Start -->
    <div class="character-status-bar-box">
      <div class="character-wither-bar-container character-bar-container">
        <div class="character-wither-bar character-bar toutline">
          <div
            class="character-bar-left"
            style="width: {{barLeft system.wither.value system.wither.max 0}}%;"
          ></div>
          <div
            class="character-bar-temp"
            style="width: {{barTemp
                system.wither.value
                system.wither.max
                0
              }}%; {{barTempHide
                system.wither.value
              }}"
          ></div>
          <div
            class="character-bar-lost"
            style="width: {{barLost system.wither.value system.wither.max 0}}%;"
          ></div>
        </div>
        <div class="character-bar-overlay">
          <div
            class="character-bar-overlay-row character-wither-bar-overlay-row"
          >
            <input
              type="number"
              name="system.wither.value"
              value="{{system.wither.value}}"
              class="thover character-bar-overlay-left character-bar-overlay-label"
              max="{{system.wither.max}}"
              min="{{system.wither.min}}"
              data-tooltip="Current Wither"
              style="cursor: text;"
            >
            <div class="character-bar-overlay-max character-bar-overlay-label">
              <span>/ {{system.wither.max}}</span>
            </div>
          </div>
          <div
            class="take-harm-button thover take-wither-button"
            data-action="takeWither"
            data-tooltip="Take Wither"
          >
            <i class="fa-light fa-hourglass"></i>
          </div>
        </div>
      </div>
    </div>
    <!-- Wither Bar End -->
    <div class="character-presence-container character-bar-container toutline">
      <div
        class="character-presence-bar"
        style="grid-template-columns:{{repeat system.pres ' 1fr'}};"
      >
        {{#if (geq system.usp 1)}}
        <div
          class="presence-indicator used"
          style="grid-column: span {{{system.usp}}}; grid-template-columns:{{repeat system.usp ' 1fr'}}; display: grid;"
        >
          {{repeat system.usp '<div class="presence-indicator empty" style="background: transparent;"></div>'}}
        </div>
        {{/if}}
        {{repeat system.unp '<div class="presence-indicator unused"></div>'}}
      </div>
    </div>
  </div>
</div>
