<div class="es-intro">With the Elder Sorcery of
  {{elements system.elements}}...
</div>
<div class="es-wording-container">
  <div class="es-wording">
    {{#if editable}}
      <prose-mirror
        name="system.elderSorceryIncant"
        value="{{system.elderSorceryIncant}}"
        toggled="true"
        editable="editable"
      >{{{elderSorceryIncant}}}</prose-mirror>
    {{else}}
      {{{elderSorceryIncant}}}
    {{/if}}
  </div>
</div>
