<div class="character-tab tradecrafts">
  <h1>Tradecrafts</h1>

  <div class="character-tab-page">

    <div class="tcard-display" data-tooltip-direction="LEFT">
      <div class="tradecraft-panels tgrid g2">
        {{#each config.options.tradecraft as |field|}}
          {{#if (not (eq field.name "Prestige"))}}
            <div class="field-panel">
              <div class="tradecraft-panel tgrid g6">
                <div class="tradecraft-panel-symbol field-panel-header">
                  PRO
                </div>
                <div class="tradecraft-panel-symbol field-panel-header">
                  Talent
                </div>
                <div class="tradecraft-panel-name field-panel-header gi3">
                  {{field.name}}
                </div>
                <div class="tradecraft-panel-symbol field-panel-header">
                  Bonus
                </div>
                {{#each field.tradecrafts as |tradecraft name|}}
                  <div class="tradecraft-panel-symbol ch-tradecraft-pro-box" data-action="quickToggle"
                       data-path="system.tradecrafts.{{name}}.proficient"
                       data-bool="{{path ../../system.tradecrafts name 'proficient'}}">
                    {{{ifThen (path ../../system.tradecrafts name 'proficient') '<i class="thover fa-regular fa-circle-dot" data-tooltip="Proficient"></i>
              ' '<i class="thover fa-regular fa-circle" data-tooltip="None"></i>'}}}
                  </div>
                  <div class="tradecraft-panel-symbol thover" data-action="tradecraftExtra" data-tradecraft="{{name}}">
                    {{#if (eq (path ../../system.tradecrafts name 'extra') 0)}}
                      <i class="thover fa-fw fa-regular fa-xmark" data-tooltip="None"></i>
                    {{/if}}
                    {{#if (eq (path ../../system.tradecrafts name 'extra') 1)}}
                      <i class="thover fa-fw fa-regular fa-check" data-tooltip="Talented"></i>
                    {{/if}}
                    {{#if (eq (path ../../system.tradecrafts name 'extra') 2)}}
                      <i class="thover fa-fw fa-regular fa-check-double" data-tooltip="Expertise"></i>
                    {{/if}}
                  </div>
                  <div class="tradecraft-panel-name thover gi3" data-action="rollTradecraft" data-tradecraft="{{name}}"
                       data-tooltip="Roll {{tradecraft.name}} Check">
                    {{tradecraft.name}}
                  </div>
                  <div class="tradecraft-panel-symbol">
                    {{path ../../system.tradecrafts name 'bonus'}}
                  </div>
                {{/each}}
              </div>
            </div>
          {{/if}}
        {{/each}}
      </div>
    </div>

    <div class="tcard-display">
      <div class="tcard-options">
        {{tcardOptions settings.menus.fluencyOptions null null settings.fluencyFilters.search "fluency"
                       key="fluencies" addAction="createFluency"}}
      </div>
      {{> 'systems/teriock/src/templates/document-templates/actor-templates/character-template/results/ch-fluency-results.hbs'}}
    </div>
  </div>
</div>