<div class="character-tab protections">
  <h1>Protections</h1>
  <div class="character-tab-page">
    <div class="tcard-display">
      <div class="tcard-container medium">
        <div class="tcard-container-start" style="display: none;"></div>
        {{#each system.immunities.damageTypes as |damageType|}}
          {{tcard
            img=(getIconKey "damage-types" damageType)
            title=(ucFirst damageType)
            subtitle="Damage type"
            text="Immunity"
            action="immune"
            draggable=false
          }}
        {{/each}}
        {{#each system.immunities.drainTypes as |drainType|}}
          {{tcard
            img=(getIconKey "drain-types" drainType)
            title=(ucFirst drainType)
            subtitle="Drain type"
            text="Immunity"
            action="immune"
            draggable=false
          }}
        {{/each}}
        {{#each system.immunities.statuses as |condition|}}
          {{tcard
            img=(getIconKey "conditions" condition)
            title=(path ../TERIOCK.index.conditions condition)
            subtitle="Condition"
            text="Immunity"
            action="immune"
            draggable=false
          }}
        {{/each}}
        {{#each system.immunities.elements as |element|}}
          {{tcard
            img=(getIconKey "elements" element)
            title=(path ../TERIOCK.options.ability.elements element)
            subtitle="Element"
            text="Immunity"
            action="immune"
            draggable=false
          }}
        {{/each}}
        {{#each system.immunities.effects as |effect|}}
          {{tcard
            img=(getIconKey "effect-types" effect)
            title=(path ../TERIOCK.options.ability.effects effect)
            subtitle="Effect"
            text="Immunity"
            action="immune"
            draggable=false
          }}
        {{/each}}
        {{#each system.immunities.powerSources as |powerSource|}}
          {{tcard
            img=(getIconKey "effect-types" powerSource)
            title=(path ../TERIOCK.options.ability.powerSources powerSource)
            subtitle="Power source"
            text="Immunity"
            action="immune"
            draggable=false
          }}
        {{/each}}
        {{#each system.immunities.other as |other|}}
          {{tcard
            img=(getIconKey "effect-types" "Immunity")
            title=other
            subtitle="Other"
            text="Immunity"
            action="immune"
            draggable=false
          }}
        {{/each}}
        {{#each system.resistances.damageTypes as |damageType|}}
          {{tcard
            img=(getIconKey "damage-types" damageType)
            title=(ucFirst damageType)
            subtitle="Damage type"
            text="Resistance"
            action="rollResistance"
            draggable=false
          }}
        {{/each}}
        {{#each system.resistances.drainTypes as |drainType|}}
          {{tcard
            img=(getIconKey "drain-types" drainType)
            title=(ucFirst drainType)
            subtitle="Drain type"
            text="Resistance"
            action="rollResistance"
            draggable=false
          }}
        {{/each}}
        {{#each system.resistances.statuses as |condition|}}
          {{tcard
            img=(getIconKey "conditions" condition)
            title=(path ../TERIOCK.conditions condition)
            subtitle="Condition"
            text="Resistance"
            action="rollResistance"
            draggable=false
          }}
        {{/each}}
        {{#each system.resistances.elements as |element|}}
          {{tcard
            img=(getIconKey "elements" element)
            title=(path ../TERIOCK.options.ability.elements element)
            subtitle="Element"
            text="Resistance"
            action="rollResistance"
            draggable=false
          }}
        {{/each}}
        {{#each system.resistances.effects as |effect|}}
          {{tcard
            img=(getIconKey "effect-types" effect)
            title=(path ../TERIOCK.options.ability.effects effect)
            subtitle="Effect"
            text="Resistance"
            action="rollResistance"
            draggable=false
          }}
        {{/each}}
        {{#each system.resistances.powerSources as |powerSource|}}
          {{tcard
            img=(getIconKey "effect-types" powerSource)
            title=(path ../TERIOCK.options.ability.powerSources powerSource)
            subtitle="Power source"
            text="Resistance"
            action="rollResistance"
            draggable=false
          }}
        {{/each}}
        {{#each system.resistances.other as |other|}}
          {{tcard
            img=(getIconKey "effect-types" "Resistance")
            title=other
            subtitle="Other"
            text="Resistance"
            action="rollResistance"
            draggable=false
          }}
        {{/each}}
        <div class="no-results medium">
          <p>No protections found.</p>
        </div>
      </div>
    </div>
  </div>
</div>