<div class="character-tab protections">
  <h1>Protections</h1>
  <div class="character-tab-page">
    <div class="tcard-display">
      <div class="tcard-container medium">
        <div class="tcard-container-start" style="display: none;"></div>
        {{#each system.immunities.damageTypes as |damageType|}}
          {{tcard
            img="systems/teriock/assets/protections/damage.svg"
            title=(ucFirst damageType)
            subtitle="Damage type"
            text="Immunity"
            action="immune"
            draggable=false
          }}
        {{/each}}
        {{#each system.immunities.drainTypes as |drainType|}}
          {{tcard
            img="systems/teriock/assets/protections/drain.svg"
            title=(ucFirst drainType)
            subtitle="Drain type"
            text="Immunity"
            action="immune"
            draggable=false
          }}
        {{/each}}
        {{#each system.immunities.statuses as |condition|}}
          {{tcard
            img=(path ../config.content.conditions condition "img")
            title=(path ../config.conditions condition)
            subtitle="Condition"
            text="Immunity"
            action="immune"
            draggable=false
          }}
        {{/each}}
        {{#each system.immunities.elements as |element|}}
          {{tcard
            img=(concat "systems/teriock/assets/protections/element/" element ".svg")
            title=(path ../config.abilityOptions.elements element)
            subtitle="Element"
            text="Immunity"
            action="immune"
            draggable=false
          }}
        {{/each}}
        {{#each system.immunities.effects as |effect|}}
          {{tcard
            img="systems/teriock/assets/protections/effect.svg"
            title=(path ../config.abilityOptions.effects effect)
            subtitle="Effect"
            text="Immunity"
            action="immune"
            draggable=false
          }}
        {{/each}}
        {{#each system.immunities.powerSources as |powerSource|}}
          {{tcard
            img=(concat "systems/teriock/assets/protections/power/" powerSource ".svg")
            title=(path ../config.abilityOptions.powerSources powerSource)
            subtitle="Power source"
            text="Immunity"
            action="immune"
            draggable=false
          }}
        {{/each}}
        {{#each system.immunities.other as |other|}}
          {{tcard
            img="systems/teriock/assets/protections/other.svg"
            title=other
            subtitle="Other"
            text="Immunity"
            action="immune"
            draggable=false
          }}
        {{/each}}
        {{#each system.resistances.damageTypes as |damageType|}}
          {{tcard
            img="systems/teriock/assets/protections/damage.svg"
            title=(ucFirst damageType)
            subtitle="Damage type"
            text="Resistance"
            action="resist"
            draggable=false
          }}
        {{/each}}
        {{#each system.resistances.drainTypes as |drainType|}}
          {{tcard
            img="systems/teriock/assets/protections/drain.svg"
            title=(ucFirst drainType)
            subtitle="Drain type"
            text="Resistance"
            action="resist"
            draggable=false
          }}
        {{/each}}
        {{#each system.resistances.statuses as |condition|}}
          {{tcard
            img=(path ../config.content.conditions condition "img")
            title=(path ../config.conditions condition)
            subtitle="Condition"
            text="Resistance"
            action="resist"
            draggable=false
          }}
        {{/each}}
        {{#each system.resistances.elements as |element|}}
          {{tcard
            img=(concat "systems/teriock/assets/protections/element/" element ".svg")
            title=(path ../config.abilityOptions.elements element)
            subtitle="Element"
            text="Resistance"
            action="resist"
            draggable=false
          }}
        {{/each}}
        {{#each system.resistances.effects as |effect|}}
          {{tcard
            img="systems/teriock/assets/protections/effect.svg"
            title=(path ../config.abilityOptions.effects effect)
            subtitle="Effect"
            text="Resistance"
            action="resist"
            draggable=false
          }}
        {{/each}}
        {{#each system.resistances.powerSources as |powerSource|}}
          {{tcard
            img=(concat "systems/teriock/assets/protections/power/" powerSource ".svg")
            title=(path ../config.abilityOptions.powerSources powerSource)
            subtitle="Power source"
            text="Resistance"
            action="resist"
            draggable=false
          }}
        {{/each}}
        {{#each system.resistances.other as |other|}}
          {{tcard
            img="systems/teriock/assets/protections/other.svg"
            title=other
            subtitle="Other"
            text="Resistance"
            action="resist"
            draggable=false
          }}
        {{/each}}
        <div class="no-results medium">
          <p>No protections found.</p>
        </div>
      </div>
    </div>
  </div>
</div>