<div class="character-tab protections">
  <h1>Protections</h1>
  <div class="character-tab-page">
    <div class="tcard-display">
      <div class="tcard-container medium">
        <div class="tcard-container-start" style="display: none;"></div>
        {{#each system.protections as |protection category|}}
          {{#each protection.damageTypes as |damageType|}}
            {{tcard
              img=(getIconKey "damage-types" damageType)
              title=(ucFirst damageType)
              subtitle="Damage type"
              text=(path @root/TERIOCK.options.character.protectionMap category "text")
              action=(path @root/TERIOCK.options.character.protectionMap category "action")
              draggable=false
            }}
          {{/each}}
          {{#each protection.drainTypes as |drainType|}}
            {{tcard
              img=(getIconKey "drain-types" drainType)
              title=(ucFirst drainType)
              subtitle="Drain type"
              text=(path @root/TERIOCK.options.character.protectionMap category "text")
              action=(path @root/TERIOCK.options.character.protectionMap category "action")
              draggable=false
            }}
          {{/each}}
          {{#each protection.statuses as |condition|}}
            {{tcard
              img=(getIconKey "conditions" condition)
              title=(path @root/TERIOCK.index.conditions condition)
              subtitle="Condition"
              text=(path @root/TERIOCK.options.character.protectionMap category "text")
              action=(path @root/TERIOCK.options.character.protectionMap category "action")
              draggable=false
            }}
          {{/each}}
          {{#each protection.elements as |element|}}
            {{tcard
              img=(getIconKey "elements" element)
              title=(path @root/TERIOCK.options.ability.elements element)
              subtitle="Element"
              text=(path @root/TERIOCK.options.character.protectionMap category "text")
              action=(path @root/TERIOCK.options.character.protectionMap category "action")
              draggable=false
            }}
          {{/each}}
          {{#each protection.effects as |effect|}}
            {{tcard
              img=(getIconKey "effect-types" effect)
              title=(path @root/TERIOCK.options.ability.effectTypes effect)
              subtitle="Effect"
              text=(path @root/TERIOCK.options.character.protectionMap category "text")
              action=(path @root/TERIOCK.options.character.protectionMap category "action")
              draggable=false
            }}
          {{/each}}
          {{#each protection.powerSources as |powerSource|}}
            {{tcard
              img=(getIconKey "effect-types" powerSource)
              title=(path @root/TERIOCK.options.ability.powerSources powerSource)
              subtitle="Power source"
              text=(path @root/TERIOCK.options.character.protectionMap category "text")
              action=(path @root/TERIOCK.options.character.protectionMap category "action")
              draggable=false
            }}
          {{/each}}
          {{#each protection.other as |other|}}
            {{tcard
              img=(getIconKey "effect-types" "Immunity")
              title=other
              subtitle="Other"
              text=(path @root/TERIOCK.options.character.protectionMap category "text")
              action=(path @root/TERIOCK.options.character.protectionMap category "action")
              draggable=false
            }}
          {{/each}}
        {{/each}}
        <div class="no-results medium">
          <p>No protections found.</p>
        </div>
      </div>
    </div>
  </div>
</div>