<div
  class="teriock-block
    {{classes}}
    {{#if draggable}}draggable{{/if}}
    {{#if inactive}}inactive{{else}}active{{/if}}
    {{#if struck}}struck{{/if}}
    {{#if shattered}}shattered{{/if}}
    {{#if hidden}}hidden{{/if}}
  "
  data-img="{{img}}"
  {{#if openable}}data-action="openDoc" {{/if}}
  {{#if uuid}}data-uuid="{{uuid}}" {{/if}}
  {{#if id}}data-id="{{id}}" {{/if}}
  {{#if parentId}}data-parent-id="{{parentId}}" {{/if}}
  {{#if type}}data-type="{{type}}" {{/if}}
  {{#if relative}}data-relative="{{relative}}" {{/if}}
  {{#if makeTooltip}}data-make-tooltip="true" {{/if}}
  {{#if (exists tooltip)}}
  data-tooltip="{{tooltip}}"
  {{/if}}
  data-tooltip-direction="RIGHT"
  data-rich-tooltip="true"
  data-tooltip-class="teriock"
>
  <div
    class="teriock-block-image {{#if usable}}usable{{/if}}"
    {{#if color}}
    style="outline-color: {{color}};"
    {{/if}}
    {{#if usable}}
    data-tooltip="Use This"
    data-tooltip-direction="LEFT"
    {{/if}}
    {{#if action}}
    data-action="{{action}}"
    {{/if}}
    data-shareable="true"
  >
    <img src="{{img}}" alt="">
  </div>
  <div class="teriock-block-body">
    <div class="teriock-block-titles">
      <div class="teriock-block-title">{{title}}</div>
      <div
        class="teriock-block-subtitle {{#if subtitleAction}}teriock-block-clickable{{/if}}"
        {{#if subtitleAction}}
        data-action="{{subtitleAction}}"
        {{/if}}
        {{#if subtitleTooltip}}
        data-tooltip-direction="DOWN"
        data-tooltip-class="teriock"
        data-tooltip="{{subtitleTooltip}}"
        {{/if}}
      >{{subtitle}}</div>
    </div>
    <div class="teriock-block-content">
      <div class="teriock-block-text">{{text}}</div>
      <div
        class="teriock-block-icons"
        data-tooltip-direction="DOWN"
        data-tooltip-class="teriock"
      >{{#each icons}}
        <i
          class="ticon
            fa-fw
            fa-{{#if style}}{{style}}{{else}}light{{/if}}
            fa-{{icon}}
            {{classes}}
            {{#if (and clickable condition)}}teriock-block-clickable{{/if}}
          "
          {{#if (and (or (not (defined condition)) condition) action)}}data-action="{{action}}" {{/if}}
          {{#if tooltip}}data-tooltip="{{tooltip}}" {{/if}}
          {{#if dataset}}
            {{#each dataset as |value key|}}data-{{key}}="{{value}}"{{/each}}
          {{/if}}
        ></i>
      {{/each}}</div>
    </div>
  </div>
  <div class="teriock-block-background"></div>
</div>
