<div class="ab-bar ab-bar-1">
  <div class="ab-box-container">
    <div class="ab-box {{#if editable}}archetype-box{{/if}}" data-tooltip="Archetype">
      <div class="ab-box-icon">
        <i
          class="fa-fw fa-light fa-{{path config.rankOptions system.archetype "icon"}}"
        ></i>
      </div>
      <div class="ab-box-content">
        {{path config.rankOptions system.archetype "name"}}
      </div>
    </div>
  </div>
  <div class="ab-box-container">
    <div class="ab-box {{#if editable}}class-box{{/if}}" data-tooltip="Class">
      <div class="ab-box-icon">
        <i
          class="fa-fw fa-light fa-{{path config.rankOptions system.archetype "classes" system.className "icon"}}"
        ></i>
      </div>
      <div class="ab-box-content">
        {{path config.rankOptions system.archetype "classes" system.className "name"}}
      </div>
    </div>
  </div>
  <div class="ab-box-container">
    <div class="ab-box {{#if editable}}rank-box{{/if}}" data-tooltip="Rank">
      <div class="ab-box-icon">
        <i class="fa-fw fa-light fa-{{system.classRank}}"></i>
      </div>
      <div class="ab-box-content">
        Rank
        {{system.classRank}}
      </div>
    </div>
  </div>
</div>