<div class="ab-bar ab-bar-2">
  <div class="ab-box-container">
    <div class="ab-box {{#if editable}}hit-die-box{{/if}}" data-tooltip="Hit Die">
      <div class="ab-box-icon">
        <i class="fa-fw fa-light fa-{{firstDie system.hitDie.polyhedral}}"></i>
      </div>
      <div class="ab-box-content">
        {{system.hitDie.polyhedral}}
        Hit Die ({{system.totalHp}} HP)
      </div>
    </div>
  </div>
  <div class="ab-box-container">
    <div class="ab-box {{#if editable}}mana-die-box{{/if}}" data-tooltip="Mana Die">
      <div class="ab-box-icon">
        <i class="fa-fw fa-light fa-{{firstDie system.manaDie.polyhedral}}"></i>
      </div>
      <div class="ab-box-content">
        {{system.manaDie.polyhedral}}
        Mana Die ({{system.totalMp}} MP)
      </div>
    </div>
  </div>
</div>
