<div class="actor-mana-bar-container actor-bar-container">
  <div class="actor-mana-bar actor-bar toutline">
    <div class="actor-bar-left" style="width: {{ bars.mp.remaining }}%;"></div>
    <div class="actor-bar-temp" style="width: {{ bars.mp.temp }}%; {{ bars.mp.tempHide }}"></div>
    <div class="actor-bar-lost" style="width: {{ bars.mp.lost }}%;"></div>
    <div class="actor-bar-morganti" style="width: {{ bars.mp.morganti }}%;"></div>
  </div>
  <div class="actor-bar-overlay" data-action="toggleCollapseRightClick" data-collapsible-target="drawer-mp">
    <div class="actor-bar-overlay-row actor-mana-bar-overlay-row">
      {{numberInput
        system.mp.value
        name="system.mp.value"
        max=system.mp.max
        min=system.mp.min
        class="thover-soft actor-bar-overlay-left actor-bar-overlay-label"
        dataset=(object tooltip=(localize "TERIOCK.SHEETS.Actor.SIDEBAR.Bars.mp.current"))
      }}
      <div
        class="actor-bar-overlay-max actor-bar-overlay-label"
        data-tooltip='{{localize "TERIOCK.SHEETS.Actor.SIDEBAR.Bars.mp.max"}}'
      >
        <span>/ {{ system.mp.max }} +</span>
      </div>
      {{formInput
        systemFields.mp.fields.temp
        value=system.mp.temp
        classes="thover-soft actor-bar-overlay-temp actor-bar-overlay-label"
        dataset=(object tooltip=(localize "TERIOCK.SHEETS.Actor.SIDEBAR.Bars.mp.temp"))
      }}
    </div>
    {{#if takeStatButtons}}
      <div
        class="take-harm-button thover take-damage-button"
        data-action="takeImpact"
        data-tooltip='{{localize "TERIOCK.SHEETS.Actor.SIDEBAR.Bars.mp.take"}}'
        data-impact="drain"
      >
        {{makeIcon TERIOCK.display.icons.effect.drain "light"}}
      </div>
    {{/if}}
  </div>
</div>
