<div class="actor-lifespan-bar-container actor-bar-container">
  <div class="actor-lifespan-bar actor-bar toutline">
    <div class="actor-bar-left" style="width: {{barLeft system.lp.value system.lp.max 0}}%;"></div>
    <div
      class="actor-bar-temp"
      style="width: {{barTemp system.lp.value system.lp.max 0}}%; {{barTempHide system.lp.value}}"
    ></div>
    <div class="actor-bar-lost" style="width: {{barLost system.lp.value system.lp.max 0}}%;"></div>
  </div>
  <div class="actor-bar-overlay">
    <div class="actor-bar-overlay-row actor-lifespan-bar-overlay-row">
      {{numberInput
        system.lp.value
        name="system.lp.value"
        max=system.lp.max
        min=system.lp.min
        class="thover-soft actor-bar-overlay-left actor-bar-overlay-label"
        dataset=(object tooltip=(localize "TERIOCK.SHEETS.Actor.SIDEBAR.Bars.lp.current"))
      }}
      <div
        class="actor-bar-overlay-max actor-bar-overlay-label"
        data-tooltip='{{localize "TERIOCK.SHEETS.Actor.SIDEBAR.Bars.lp.max"}}'
      >
        <span>/ {{ system.lp.max }}</span>
      </div>
    </div>
    <div
      class="take-harm-button thover take-wither-button"
      data-action="takeImpact"
      data-tooltip='{{localize "TERIOCK.SHEETS.Actor.SIDEBAR.Bars.lp.take"}}'
      data-impact="wither"
    >
      {{makeIcon TERIOCK.display.icons.effect.wither "light"}}
    </div>
  </div>
</div>
