<div
  class="
    actor-sidebar
    sidebar-collapser
    theme-dark
    {{#if (not sidebarOpen)}}
      collapsed
    {{/if}}
  "
>
  <div class="actor-sidebar-container">
    <div class="actor-intro-box">
      <div
        class="
          actor-avatar
          timage
          {{#if displayedImgRing}}
            ring
          {{/if}}
        "
        data-src="{{ img }}"
      >
        <div class="actor-avatar-shadow">
          <div class="actor-avatar-buttons take-harm-button">
            {{#if (eq displayedImgDocument "token")}}
              <div
                class="thover"
                {{#if displayedImgRing}}
                  data-tooltip="{{localize "TERIOCK.SHEETS.Actor.SIDEBAR.Avatar.ringEnabled"}}"
                {{else}}
                  data-tooltip="{{localize "TERIOCK.SHEETS.Actor.SIDEBAR.Avatar.ringDisabled"}}"
                {{/if}}
                data-action="toggleRing"
              >
                {{makeIcon (lookup TERIOCK.display.icons.ui (ifThen displayedImgRing "enabled" "disabled")) "light"}}
              </div>
            {{/if}}
            <div class="thover" data-tooltip="{{ displayedImgTooltip }}" data-action="switchImage">
              {{makeIcon displayedImgIcon "light"}}
            </div>
          </div>
        </div>
        <img
          class="actor-avatar-img"
          src="{{ displayedImg }}"
          data-edit="{{ editableImgPath }}"
          data-action="editImage"
          alt="{{ name }}"
        />
        <div class="actor-avatar-background">
          {{#if displayedImgRing}}
            <div class="actor-avatar-token-circle inner"></div>
            <div class="actor-avatar-token-circle outer"></div>
          {{/if}}
        </div>
      </div>
      <div
        class="
          actor-name
          {{#if displayedImgRing}}
            ring
          {{/if}}
        "
        data-debug="true"
      >
        {{formInput
          fields.name
          value=name
          classes="actor-name-text"
        }}
      </div>
      <div class="actor-basics">
        <div class="actor-shortbox actor-level-box">
          {{formInput
            systemFields.scaling.fields.lvl
            value=system.scaling.lvl
            classes="actor-level-input actor-shortbox-value thover-soft"
          }}
          <div class="actor-level-label actor-shortbox-label">
            {{localize "TERIOCK.SHEETS.Actor.SIDEBAR.Scaling.labels.lvl"}}
          </div>
        </div>
        <div
          class="actor-shortbox actor-rank-box"
          data-tooltip='{{localize "TERIOCK.SHEETS.Actor.SIDEBAR.Scaling.tooltip.lvl"}}'
        >
          {{numberInput
            system.scaling.rank
            class="actor-fluency-input actor-shortbox-value"
            disabled=true
          }}
          <div class="actor-class-label actor-shortbox-label">
            {{localize "TERIOCK.SHEETS.Actor.SIDEBAR.Scaling.labels.rank"}}
          </div>
        </div>
        <div
          class="actor-shortbox actor-proficiency-box"
          {{#if system.scaling.brScale}}
            data-tooltip="{{localize "TERIOCK.SHEETS.Actor.SIDEBAR.Scaling.tooltip.br"}}"
          {{else}}
            data-tooltip="{{localize "TERIOCK.SHEETS.Actor.SIDEBAR.Scaling.tooltip.lvl"}}"
          {{/if}}
        >
          {{numberInput
            system.scaling.p
            class="actor-fluency-input actor-shortbox-value"
            disabled=true
          }}
          <div class="actor-level-label actor-shortbox-label">
            {{localize "TERIOCK.SHEETS.Actor.SIDEBAR.Scaling.labels.pro"}}
          </div>
        </div>
        <div
          class="actor-shortbox actor-fluency-box"
          {{#if system.scaling.brScale}}
            data-tooltip="{{localize "TERIOCK.SHEETS.Actor.SIDEBAR.Scaling.tooltip.br"}}"
          {{else}}
            data-tooltip="{{localize "TERIOCK.SHEETS.Actor.SIDEBAR.Scaling.tooltip.lvl"}}"
          {{/if}}
        >
          {{numberInput
            system.scaling.f
            class="actor-fluency-input actor-shortbox-value"
            disabled=true
          }}
          <div class="actor-fluency-label actor-shortbox-label">
            {{localize "TERIOCK.SHEETS.Actor.SIDEBAR.Scaling.labels.flu"}}
          </div>
        </div>
      </div>
    </div>
    {{> "teriock/sheets/actors/playable/parts/status-box"}}
    {{> "teriock/sheets/actors/playable/parts/battle-box"}}
    {{> "teriock/sheets/actors/playable/parts/attribute-box"}}
  </div>
</div>
