<div class="character-sidebar theme-dark">
  <div class="character-sidebar-container">
    <div class="character-intro-box">
      <div
        class="character-avatar timage {{#if
          (and (eq avatarImagePath "prototypeToken.texture.src") document.prototypeToken.ring.enabled)}}ring{{/if}}"
        data-src="{{img}}"
      >
        <div class="character-avatar-shadow">
          <div class="character-avatar-buttons take-harm-button">
            {{#if (eq avatarImagePath "prototypeToken.texture.src")}}
              <div
                class="thover"
                {{#if document.prototypeToken.ring.enabled}}
                data-tooltip="{{localize "TERIOCK.SHEETS.Actor.SIDEBAR.Avatar.ringEnabled"}}"
                {{else}}
                data-tooltip="{{localize "TERIOCK.SHEETS.Actor.SIDEBAR.Avatar.ringDisabled"}}"
                {{/if}}
                data-action="toggleRing"
              >
                <i class="fa-fw fa-circle-{{#if document.prototypeToken.ring.enabled}}check{{else}}xmark{{/if}}
              fa-light"></i>
              </div>
            {{/if}}
            <div class="thover" data-tooltip="{{avatarTooltip}}" data-action="switchImage">
              <i class="fa-fw {{avatarIcon}} fa-light"></i>
            </div>
          </div>
        </div>
        <img
          class="character-avatar-img"
          src="{{path document avatarImagePath}}"
          data-edit="{{avatarImagePath}}"
          data-action="editImage"
          data-openable="true"
          data-shareable="true"
          alt="{{name}}"
        >
        <div class="character-avatar-background">
          {{#if (and (eq avatarImagePath "prototypeToken.texture.src") document.prototypeToken.ring.enabled)}}
            <div class="character-avatar-token-circle inner"></div>
            <div class="character-avatar-token-circle outer"></div>
          {{/if}}
        </div>
      </div>
      <div data-debug="true" class="character-name {{#if
        (and (eq avatarImagePath "prototypeToken.texture.src") document.prototypeToken.ring.enabled)}}ring{{/if}}"
      >
        {{formInput
          fields.name
          value=name
          classes="character-name-text"
        }}
      </div>
      <div class="character-basics">
        <div class="character-shortbox character-level-box">
          {{formInput
            systemFields.scaling.fields.lvl
            value=system.scaling.lvl
            classes="character-level-input character-shortbox-value"
          }}
          <div class="character-level-label character-shortbox-label">
            {{localize "TERIOCK.SHEETS.Actor.SIDEBAR.Scaling.labels.lvl"}}
          </div>
        </div>
        <div
          class="character-shortbox character-rank-box"
          data-tooltip="{{localize "TERIOCK.SHEETS.Actor.SIDEBAR.Scaling.tooltip.lvl"}}"
        >
          {{numberInput
            system.scaling.rank
            class="character-fluency-input character-shortbox-value"
            disabled=true
          }}
          <div class="character-class-label character-shortbox-label">
            {{localize "TERIOCK.SHEETS.Actor.SIDEBAR.Scaling.labels.rank"}}
          </div>
        </div>
        <div
          class="character-shortbox character-proficiency-box"
          {{#if system.scaling.brScale}}
          data-tooltip="{{localize "TERIOCK.SHEETS.Actor.SIDEBAR.Scaling.tooltip.br"}}"
          {{else}}
          data-tooltip="{{localize "TERIOCK.SHEETS.Actor.SIDEBAR.Scaling.tooltip.lvl"}}"
          {{/if}}
        >
          {{numberInput
            system.scaling.p
            class="character-fluency-input character-shortbox-value"
            disabled=true
          }}
          <div class="character-level-label character-shortbox-label">
            {{localize "TERIOCK.SHEETS.Actor.SIDEBAR.Scaling.labels.pro"}}
          </div>
        </div>
        <div
          class="character-shortbox character-fluency-box"
          {{#if system.scaling.brScale}}
          data-tooltip="{{localize "TERIOCK.SHEETS.Actor.SIDEBAR.Scaling.tooltip.br"}}"
          {{else}}
          data-tooltip="{{localize "TERIOCK.SHEETS.Actor.SIDEBAR.Scaling.tooltip.lvl"}}"
          {{/if}}
        >
          {{numberInput
            system.scaling.f
            class="character-fluency-input character-shortbox-value"
            disabled=true
          }}
          <div class="character-fluency-label character-shortbox-label">
            {{localize "TERIOCK.SHEETS.Actor.SIDEBAR.Scaling.labels.flu"}}
          </div>
        </div>
      </div>
    </div>
    {{> (template "sheets/actors/playable/parts/status-box.hbs")}}
    {{> (template "sheets/actors/playable/parts/battle-box.hbs")}}
    {{> (template "sheets/actors/playable/parts/attribute-box.hbs")}}
  </div>
</div>
