<nav class="actor-tabbers">
  {{#each tabs as |tab|}}
    {{#if (eq tab.group "primary")}}
      <div class="actor-tabber-container">
        <div
          class="actor-tabber-tooltip-container"
          data-tooltip="{{ tab.label }}"
          data-tooltip-direction="{{ @root/tabDirection }}"
        >
          <button id='{{concat @root/appId "-" tab.id}}' class='actor-tabber ui-controls {{ifThen (eq @root/activeTab tab.id) "active" "inactive"}}' data-never-disable="true" data-action="changeTab" data-tab="{{ tab.id }}" type="button">{{makeIcon tab.icon "light"}}</button>
        </div>
      </div>
    {{/if}}
  {{/each}}
</nav>
