<div class="field-panel">
  <div class="tradecraft-panel tgrid" data-tooltip-direction="UP">
    <div
      class="tradecraft-panel-symbol field-panel-header"
      data-tooltip='{{localize "TERIOCK.SHEETS.Actor.TABS.Tradecrafts.competence.tooltip"}}'
    >
      {{localize "TERIOCK.SHEETS.Actor.TABS.Tradecrafts.competence.label"}}
    </div>
    <div
      class="tradecraft-panel-symbol field-panel-header"
      data-tooltip='{{localize "TERIOCK.SHEETS.Actor.TABS.Tradecrafts.talent.tooltip"}}'
    >
      {{localize "TERIOCK.SHEETS.Actor.TABS.Tradecrafts.talent.label"}}
    </div>
    <div class="tradecraft-panel-name field-panel-header gi3">
      <span data-tooltip='{{localize "TERIOCK.SHEETS.Actor.TABS.Tradecrafts.name.tooltip"}}'>{{field.label}}</span>
    </div>
    <div
      class="tradecraft-panel-symbol field-panel-header"
      data-tooltip='{{localize "TERIOCK.SHEETS.Actor.TABS.Tradecrafts.modifier.tooltip"}}'
    >
      {{localize "TERIOCK.SHEETS.Actor.TABS.Tradecrafts.modifier.label"}}
    </div>
    {{#each field.tradecrafts as |tradecraft name|}}
      <div
        class="tradecraft-container tgrid gi6"
        {{#if (and (not (eq ../index "artisan")) (not (eq ../index "scholar")) (not (eq ../index "p1")))}}
        data-tooltip-direction="RIGHT"
        {{else}}
        data-tooltip-direction="LEFT"
        {{/if}}
        data-tooltip-identifier="tradecraft:{{ name }}"
      >
        <div
          class="
            tradecraft-panel-symbol
            thover
            ch-tradecraft-pro-box
            grid-fill
            affix-icon
            {{#if (and
            @root/highlightModified
            (not (eq
            (path @root/system.tradecrafts name 'competence.raw')
            (path @root/system._source.tradecrafts name 'competence.raw'))))}}
            modified
            {{/if}}
          "
          data-action="increment"
          data-path="system.tradecrafts.{{ name }}.competence.raw"
          data-tooltip='{{path @root/system.tradecrafts name "competence.description"}}'
          data-tooltip-direction="LEFT"
          data-tooltip-class=""
        >
          <i class='unselected {{path @root/tradecraftDisplay name "competenceIconClass"}}'></i>
          <i class='selected {{path @root/tradecraftDisplay name "sourceCompetenceIconClass"}}'></i>
        </div>
        <div
          class="
            tradecraft-panel-symbol
            thover
            grid-fill
            affix-icon
            {{#if (and
            @root/highlightModified
            (not (eq
            (path @root/system.tradecrafts name 'score')
            (path @root/system._source.tradecrafts name 'score'))))}}
            modified
            {{/if}}
          "
          data-action="increment"
          data-path="system.tradecrafts.{{ name }}.score"
          data-tradecraft="{{ name }}"
          data-tooltip='{{path @root/tradecraftDisplay name "scoreLabel"}}'
          data-tooltip-direction="LEFT"
          data-tooltip-class=""
        >
          <i class='unselected {{path @root/tradecraftDisplay name "scoreIconClass"}}'></i>
          <i class='selected {{path @root/tradecraftDisplay name "sourceScoreIconClass"}}'></i>
        </div>
        <div
          class="tradecraft-panel-name thover gi3 draggable"
          data-action="rollTradecraft"
          data-tradecraft="{{ name }}"
          data-uuid="{{lookup @root/tradecraftMacros name}}"
        >
          {{tradecraft.label}}
        </div>
        <div class="tradecraft-panel-symbol">{{sign (path @root/system.tradecrafts name 'currentValue')}}</div>
      </div>
    {{/each}}
  </div>
</div>
