{{#if
  (or
    (exists system.damage)
    (exists system.range)
    (exists system.av)
    (exists system.bv)
  )
}}
  <div class="ab-bar">
    {{#if (exists system.damage)}}
      <div class="ab-box-container">
        <div class="ab-box">
          <div class="ab-box-icon">
            <i class="fa-light fa-{{firstDie system.damage}}"></i>
          </div>
          <div class="ab-box-content">
            <input
              class="ability-bar-input damage-input"
              name="system.damage"
              type="text"
              value="{{system.damage}}"
              data-edit="system.damage"
              data-tooltip="Damage"
              {{#if (exists system.twoHandedDamage)}}
                style="text-align: right;"
              {{/if}}
            />
            {{#if (exists system.twoHandedDamage)}}
              &nbsp;/&nbsp;
              <input
                class="ability-bar-input damage-input"
                name="system.twoHandedDamage"
                type="text"
                value="{{system.twoHandedDamage}}"
                data-edit="system.twoHandedDamage"
                data-tooltip="Two-Handed Damage"
                style="text-align: left;"
              />
            {{/if}}
          </div>
          <div class="ab-box-label">
            DMG
          </div>
        </div>
      </div>
    {{/if}}
    {{#if (exists system.range)}}
      <div class="ab-box-container">
        <div class="ab-box" data-tooltip="Range">
          <div class="ab-box-icon">
            {{{config.icons.range}}}
          </div>
          <div class="ab-box-content">
            <input
              class="ability-bar-input range-input"
              name="system.range"
              type="text"
              value="{{system.range}}"
              data-edit="system.range"
            />
          </div>
        </div>
      </div>
    {{/if}}
    {{#if (exists system.av)}}
        <div class="ab-box-container">
            <div class="ab-box" data-tooltip="Armor Value">
                <div class="ab-box-icon">
                    {{{config.icons.av}}}
                </div>
                <div class="ab-box-content">
                    <input
                        class="ability-bar-input av-input"
                        name="system.av"
                        type="number"
                        value="{{system.av}}"
                        data-edit="system.av"
                    />
                </div>
                <div class="ab-box-label">
                    AV
                </div>
            </div>
        </div>
    {{/if}}
    {{#if (exists system.bv)}}
        <div class="ab-box-container">
            <div class="ab-box" data-tooltip="Block Value">
                <div class="ab-box-icon">
                    {{{config.icons.bv}}}
                </div>
                <div class="ab-box-content">
                    <input
                        class="ability-bar-input bv-input"
                        name="system.bv"
                        type="number"
                        value="{{system.bv}}"
                        data-edit="system.bv"
                    />
                </div>
                <div class="ab-box-label">
                    BV
                </div>
            </div>
        </div>
    {{/if}}
  </div>
{{/if}}