<div class="ab-bar">
  {{#if (exists system.tier)}}
    <div class="ab-box-container">
      <div class="ab-box {{#if editable}}tier-box{{/if}}" data-tooltip="Tier">
        <div class="ab-box-icon">
          {{{config.icons.tier}}}
        </div>
        <div class="ab-box-content">
          <input
            {{#if (not editable)}}
              disabled="true"
            {{/if}}
            class="ability-bar-input tier-input"
            name="system.tier"
            type="number"
            value="{{system.tier}}"
            placeholder="0"
            min="0"
            data-edit="system.tier"
          />
        </div>
        <div class="ab-box-label">
          Tier
        </div>
      </div>
    </div>
  {{/if}}
  <div class="ab-box-container">
    <div class="ab-box {{#if editable}}weight-box{{/if}}" data-tooltip="Weight">
      <div class="ab-box-icon">
        {{{config.icons.weight}}}
      </div>
      <div class="ab-box-content">
        <input
          {{#if (not editable)}}
            disabled="true"
          {{/if}}
          class="ability-bar-input weight-input"
          name="system.weight"
          type="number"
          value="{{system.weight}}"
          data-edit="system.weight"
        />
      </div>
      <div class="ab-box-label" style="text-transform: none;">
        lb
      </div>
    </div>
  </div>
  <div class="ab-box-container">
    <div class="ab-box {{#if editable}}str-box{{/if}}" data-tooltip="Minimum Strength">
      <div class="ab-box-icon str-input">
        {{{config.icons.minStr}}}
      </div>
      <div class="ab-box-content">
        <input
          {{#if (not editable)}}
            disabled="true"
          {{/if}}
          class="ability-bar-input str-input"
          name="system.minStr"
          type="number"
          value="{{system.minStr}}"
          data-edit="system.minStr"
        />
      </div>
      <div class="ab-box-label">
        Str
      </div>
    </div>
  </div>
</div>