<div class="ab-bar">
    {{#if (exists system.av)}}
        <div class="ab-box-container">
            <div class="ab-box">
                <div class="ab-box-icon">
                    {{{config.icons.av}}}
                </div>
                <div class="ab-box-content">
                    <input
                        class="ability-bar-input av-input"
                        name="system.av"
                        type="number"
                        value="{{system.av}}"
                        data-edit="system.av"
                    />
                </div>
                <div class="ab-box-label">
                    AV
                </div>
            </div>
        </div>
    {{/if}}
    {{#if (exists system.bv)}}
        <div class="ab-box-container">
            <div class="ab-box">
                <div class="ab-box-icon">
                    {{{config.icons.bv}}}
                </div>
                <div class="ab-box-content">
                    <input
                        class="ability-bar-input bv-input"
                        name="system.bv"
                        type="number"
                        value="{{system.bv}}"
                        data-edit="system.bv"
                    />
                </div>
                <div class="ab-box-label">
                    BV
                </div>
            </div>
        </div>
    {{/if}}
    {{#if (exists system.weight)}}
        <div class="ab-box-container">
            <div class="ab-box">
                <div class="ab-box-icon">
                    {{{config.icons.weight}}}
                </div>
                <div class="ab-box-content">
                    <input
                        class="ability-bar-input weight-input"
                        name="system.weight"
                        type="number"
                        value="{{system.weight}}"
                        data-edit="system.weight"
                    />
                </div>
                <div class="ab-box-label">
                    lb.
                </div>
            </div>
        </div>
    {{/if}}
    <div class="ab-box-container">
        <div class="ab-box">
            <div class="ab-box-icon str-input">
                {{{config.icons.minStr}}}
            </div>
            <div class="ab-box-content">
                <input
                    class="ability-bar-input str-input"
                    name="system.minStr"
                    type="number"
                    value="{{system.minStr}}"
                    data-edit="system.minStr"
                />
            </div>
            {{!-- <div class="ab-box-label">
                Min Str
            </div> --}}
        </div>
    </div>
</div>