<div class="character-tab inventory">
  <h1>Inventory</h1>
  <div class="character-tab-page">
    <div class="tcard-display">
      <div class="money-panels tgrid g3">
        {{#each config.currencyOptions as |currency id|}}
          <div class="money-panel tgrid g4">
            <input type="number" class="tgrid-item gi1 money-panel-input tgrid-item tcenter" data-action="updateCurrency" name="system.money.{{id}}" value="{{lookup ../system.money id}}" min="0"/>
            <div class="money-info tsubtle tcenter tgrid-item gi3">
              <div class="money-name">
                {{currency.name}}
              </div>
              <div class="money-value">
                ({{currency.value}} ₲, {{currency.weight}} lb)
              </div>
            </div>
          </div>
        {{/each}}
      </div>
      <div class="money-total">
        {{system.money.total}} ₲&nbsp;&nbsp;&nbsp;&nbsp;{{system.moneyWeight}} lb
      </div>
    </div>

    <div class="tcard-display">
      <div class="tcard-options">
        {{tcardOptions system.sheet.menus.equipmentOptions system.sheet.menus.equipmentFilters system.sheet.menus.equipmentSort system.sheet.equipmentFilters.search "equipment" sortOptions=config.displayOptions.equipmentSortOrders sortValue=system.sheet.equipmentSortOption}}
        {{#if system.sheet.menus.equipmentFilters}}
          <div class="tcard-options-content">
            {{> 'systems/teriock/templates/sheets/character-template/filters/ch-equipment-filter.hbs'}}
          </div>
        {{/if}}
      </div>
      <div class="tcard-container {{#if system.sheet.display.equipment.gapless}}gapless{{/if}} {{system.sheet.display.equipment.size}}">
        {{#each equipment as |item|}}
          {{tcard
            img=item.img
            title=item.name
            subtitle=(dotJoin item.system.itemType item.system.sb)
            text=(dotJoin item.system.damage item.system.bv item.system.av item.system.weight)
            id=item._id
            active=item.system.equipped
            marker=(equipmentMarker item)
            shattered=item.system.shattered
            consumable=item.system.consumable
            amount=item.system.quantity
            max=item.system.maxQuantity
            icons=(concat
              (ticon "comment" action="chatDoc" id=item._id tooltip="Chat")
              (ticonToggle "circle-check" "circle" item.system.equipped action="toggleEquippedDoc" id=item._id parentId=item.parent._id tooltipTrue="Equipped" tooltipFalse="Unequipped")
            )
          }}
        {{/each}}
      </div>
      {{#if (not (exists equipment))}}
        <div class="no-results">
          <p>No equipment found.</p>
        </div>
      {{/if}}
    </div>
  </div>
</div>