<div class="character-tab tradecrafts">
  <h1>Tradecrafts</h1>

  <div class="character-tab-page">

    <div class="tcard-display">
      <div class="tradecraft-panels tgrid g2">
        {{#each config.tradecraftOptionsMain as |field|}}
          <div class="field-panel">
            <div class="tradecraft-panel tgrid g6">
              <div class="tradecraft-panel-symbol field-panel-header">
                PRO
              </div>
              <div class="tradecraft-panel-symbol field-panel-header">
                Talent
              </div>
              <div class="tradecraft-panel-name field-panel-header gi3">
                {{field.name}}
              </div>
              <div class="tradecraft-panel-symbol field-panel-header">
                Bonus
              </div>
              {{#each field.tradecrafts as |tradecraft name|}}
                <div class="tradecraft-panel-symbol ch-tradecraft-pro-box" data-action="quickToggle" data-path="system.tradecrafts.{{name}}.proficient" data-bool="{{lookup (lookup ../../system.tradecrafts name) 'proficient'}}">
                  {{{ifThen (lookup (lookup ../../system.tradecrafts name) 'proficient') '<i class="thover fa-regular fa-circle-dot" data-tooltip="Proficient"></i>' '<i class="thover fa-regular fa-circle" data-tooltip="None"></i>'}}}
                </div>
                <div class="tradecraft-panel-symbol thover" data-action="tradecraftExtra" data-tradecraft="{{name}}">
                  {{#if (eq (lookup (lookup ../../system.tradecrafts name) 'extra') 0)}}
                    <i class="thover fa-fw fa-regular fa-xmark" data-tooltip="None"></i>
                  {{/if}}
                  {{#if (eq (lookup (lookup ../../system.tradecrafts name) 'extra') 1)}}
                    <i class="thover fa-fw fa-regular fa-check" data-tooltip="Talented"></i>
                  {{/if}}
                  {{#if (eq (lookup (lookup ../../system.tradecrafts name) 'extra') 2)}}
                    <i class="thover fa-fw fa-regular fa-check-double" data-tooltip="Expertise"></i>
                  {{/if}}
                </div>
                  <div class="tradecraft-panel-name thover gi3" data-action="rollTradecraft" data-tradecraft="{{name}}" data-tooltip="Roll {{tradecraft.name}} Check">
                  {{tradecraft.name}}
                </div>
                <div class="tradecraft-panel-symbol">
                  {{lookup (lookup ../../system.tradecrafts name) 'bonus'}}
                </div>
              {{/each}}
            </div>
          </div>
       {{/each}}
      </div>
    </div>

    <div class="tcard-display">
      <div class="tcard-options">
        {{tcardOptions system.sheet.menus.fluencyOptions null null system.sheet.fluencyFilters.search "fluency"}}
        {{#if system.sheet.menus.fluencyFilters}}
          <div class="tcard-options-content">
            {{> 'systems/teriock/templates/sheets/character-template/filters/ch-fluency-filter.hbs'}}
          </div>
        {{/if}}
      </div>
    <div class="tcard-container {{#if system.sheet.display.fluency.gapless}}gapless{{/if}} {{system.sheet.display.fluency.size}}">
      {{#each fluencies as |item|}}
        {{tcard
          img=item.img
          title=item.name
          subtitle=(tradecraft item.system.field item.system.tradecraft)
          text=(field item.system.field)
          id=item._id
          icons=(concat
            (ticon "comment" cssClass="share" action="share" id=item._id tooltip="Share")
          )
        }}
      {{/each}}
      </div>
      {{#if (not (exists fluencies))}}
        <div class="no-results">
          <p>No fluencies found.</p>
        </div>
      {{/if}}
    </div>
  
  </div>
</div>