<div class="character-tab conditions">
  <h1>Effects</h1>
  <div class="character-tab-page">
    {{#each conditions as |condition|}}
      <div class="tcard-display condition-display">
        <div
          class="condition-header"
          data-action="toggleConditionExpansion"
          data-condition="{{condition}}"
        >
          <h4 data-tooltip="Expand or Collapse">{{{lookup (lookup ../config.content.conditions condition) 'name'}}}</h4>
          <img class="condition-toggle" src="{{{lookup (lookup ../config.content.conditions condition) 'img'}}}"
               alt="{{{lookup (lookup ../config.content.conditions condition) 'name'}}}" data-action="removeCondition"
               data-condition="{{condition}}" data-tooltip="Remove Condition">
        </div>
        <div class="condition-body {{#if (lookup ../settings.conditionExpansions condition)}}expanded{{/if}}">
          {{{lookup (lookup ../config.content.conditions condition) 'content'}}}
        </div>
      </div>
    {{/each}}
    <div class="tcard-display">
      <div class="tcard-options">
        {{tcardOptions settings.menus.effectOptions null null settings.effectFilters.search "effect"}}
      </div>
      {{> 'systems/teriock/templates/sheets/character-template/results/ch-effect-results.hbs'}}
    </div>
    <div class="tcard-display">
      {{> 'systems/teriock/templates/sheets/character-template/results/ch-attunement-results.hbs'}}
    </div>
  </div>
</div>
