<div class="ab-menu">
  <div class="ab-menu-content">
    <div class="ab-menu-bar">
      <div class="tgrid ab-check-grid g3">
        {{> (template "document-templates/shared/display-toggles.hbs")}}
      </div>
    </div>
    <div class="ab-menu-bar">
      <div class="tgrid g2">
        <div class="tgrid-item">
          <div class="ab-multi-select-label">
            <label class="tsubtle">Equipment Classes</label>
            {{formInput
              systemFields.equipmentClasses
              value=system.equipmentClasses
              disabled=(not editable)
              classes="teriock-full-width ab-menu-inline"
              rootId=uuid
            }}
          </div>
        </div>
        <div class="tgrid-item">
          <div class="ab-multi-select-label">
            <label class="tsubtle">Fighting Style</label>
            {{formInput
              systemFields.fightingStyle
              value=system.fightingStyle
              disabled=(not editable)
              classes="teriock-full-width"
              rootId=uuid
            }}
          </div>
        </div>
      </div>
    </div>
    <div class="ab-menu-bar">
      <div class="tgrid g3">
        {{#if (not (exists system.damage.base.raw))}}
          <div class="tgrid-item">
            <button
              class="ab-menu-button ab-damage-button"
              {{#if (not editable)}}
              disabled="disabled"
              {{/if}}
            >
              {{makeIcon TERIOCK.display.icons.ui.add "button"}}
              Damage
            </button>
          </div>
        {{/if}}
        {{#if (not (exists system.damage.twoHanded.raw))}}
          <div class="tgrid-item">
            <button
              class="ab-menu-button ab-two-handed-damage-button"
              {{#if (not editable)}}
              disabled="disabled"
              {{/if}}
            >
              {{makeIcon TERIOCK.display.icons.ui.add "button"}}
              Two-Handed Damage
            </button>
          </div>
        {{/if}}
        {{#if (not (exists system.av.raw))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-av-button"
              {{#if (not editable)}}
                    disabled="disabled"
              {{/if}}
            >
              {{makeIcon TERIOCK.display.icons.ui.add "button"}}
              AV
            </button>
          </div>
        {{/if}}
        {{#if (not (exists system.bv.raw))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-bv-button"
              {{#if (not editable)}}
                    disabled="disabled"
              {{/if}}
            >
              {{makeIcon TERIOCK.display.icons.ui.add "button"}}
              BV
            </button>
          </div>
        {{/if}}
        {{#if (not (exists system.weight.raw))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-weight-button"
              {{#if (not editable)}}
                    disabled="disabled"
              {{/if}}
            >
              {{makeIcon TERIOCK.display.icons.ui.add "button"}}
              Weight
            </button>
          </div>
        {{/if}}
        {{#if (not (exists system.tier.raw))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-tier-button"
              {{#if (not editable)}}
                    disabled="disabled"
              {{/if}}
            >
              {{makeIcon TERIOCK.display.icons.ui.add "button"}}
              Tier
            </button>
          </div>
        {{/if}}
        {{#if (not (exists system.hit.raw))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-hit-button"
              {{#if (not editable)}}
                    disabled="disabled"
              {{/if}}
            >
              {{makeIcon TERIOCK.display.icons.ui.add "button"}}
              Hit Bonus
            </button>
          </div>
        {{/if}}
        {{> (template "document-templates/shared/display-field-buttons.hbs")}}
      </div>
    </div>
  </div>
</div>
