<div class="ab-menu">
  <div class="ab-menu-content">
    <div class="ab-menu-bar">
      <div class="tgrid ab-check-grid">
        {{formGroup
          systemFields.glued
          value=system.glued
          disabled=(not editable)
          classes="tgrid-item"
          rootId=uuid
        }}
        {{formGroup
          systemFields.shattered
          value=system.shattered
          disabled=(not editable)
          classes="tgrid-item"
          rootId=uuid
          dataset=(dataset action="toggleShattered")
        }}
        {{formGroup
          systemFields.dampened
          value=system.dampened
          disabled=(not editable)
          classes="tgrid-item"
          rootId=uuid
          dataset=(dataset action="toggleDampened")
        }}
        {{formGroup
          systemFields.consumable
          value=system.consumable
          disabled=(not editable)
          classes="tgrid-item"
          rootId=uuid
        }}
        {{formGroup
          systemFields.equipped
          value=system.equipped
          disabled=(not editable)
          classes="tgrid-item"
          rootId=uuid
          dataset=(dataset action="toggleEquipped")
        }}
        {{formGroup
          systemFields.proficient
          value=system.proficient
          disabled=(not editable)
          classes="tgrid-item"
          rootId=uuid
        }}
        {{formGroup
          systemFields.fluent
          value=system.fluent
          disabled=(not editable)
          classes="tgrid-item"
          rootId=uuid
        }}
        {{formGroup
          systemFields.disabled
          value=system.disabled
          disabled=(not editable)
          classes="tgrid-item"
          rootId=uuid
        }}
      </div>
    </div>
    <div class="ab-menu-bar">
      <div class="tgrid g2">
        <div class="tgrid-item">
          {{formInput
            systemFields.equipmentClasses
            value=system.equipmentClasses
            disabled=(not editable)
            classes="teriock-full-width ab-menu-inline"
            dataset=(dataset tooltip="Equipment Classes")
            rootId=uuid
          }}
        </div>
        <div class="tgrid-item">
          {{formInput
            systemFields.sb
            value=system.sb
            disabled=(not editable)
            classes="teriock-full-width"
            dataset=(dataset tooltip="Style Bonus")
            rootId=uuid
          }}
        </div>
      </div>
    </div>
    <div class="ab-menu-bar">
      <div class="tgrid g3">
        {{#if (not (exists system.damage))}}
          <div class="tgrid-item">
            <button
              class="ab-menu-button ab-damage-button"
              {{#if (not editable)}}
              disabled="disabled"
              {{/if}}
            >
              {{{config.icons.add}}}
              Damage
            </button>
          </div>
        {{/if}}
        {{#if (not (exists system.twoHandedDamage))}}
          <div class="tgrid-item">
            <button
              class="ab-menu-button ab-two-handed-damage-button"
              {{#if (not editable)}}
              disabled="disabled"
              {{/if}}
            >
              {{{config.icons.add}}}
              Two-Handed Damage
            </button>
          </div>
        {{/if}}
        {{#if (not (exists system.range))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-range-button"
              {{#if (not editable)}}
                    disabled="disabled"
              {{/if}}
            >
              {{{config.icons.add}}}
              Normal Range
            </button>
          </div>
        {{/if}}
        {{#if (not (exists system.shortRange))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-short-range-button"
              {{#if (not editable)}}
                    disabled="disabled"
              {{/if}}
            >
              {{{config.icons.add}}}
              Short Range
            </button>
          </div>
        {{/if}}
        {{#if (not (exists system.av))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-av-button"
              {{#if (not editable)}}
                    disabled="disabled"
              {{/if}}
            >
              {{{config.icons.add}}}
              AV
            </button>
          </div>
        {{/if}}
        {{#if (not (exists system.bv))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-bv-button"
              {{#if (not editable)}}
                    disabled="disabled"
              {{/if}}
            >
              {{{config.icons.add}}}
              BV
            </button>
          </div>
        {{/if}}
        {{#if (not (exists system.weight))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-weight-button"
              {{#if (not editable)}}
                    disabled="disabled"
              {{/if}}
            >
              {{{config.icons.add}}}
              Weight
            </button>
          </div>
        {{/if}}
        {{#if (not (exists system.description))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-description-button"
              {{#if (not editable)}}
                    disabled="disabled"
              {{/if}}
            >
              {{{config.icons.add}}}
              Description
            </button>
          </div>
        {{/if}}
        {{#if (not (exists system.notes))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-notes-button"
              {{#if (not editable)}}
                    disabled="disabled"
              {{/if}}
            >
              {{{config.icons.add}}}
              Notes
            </button>
          </div>
        {{/if}}
        {{#if (not (exists system.specialRules))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-equipment-type-rules-button"
              {{#if (not editable)}}
                    disabled="disabled"
              {{/if}}
            >
              {{{config.icons.add}}}
              Equipment Type Rules
            </button>
          </div>
        {{/if}}
        {{#if (not (exists system.flaws))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-flaws-button"
              {{#if (not editable)}}
                    disabled="disabled"
              {{/if}}
            >
              {{{config.icons.add}}}
              Flaws
            </button>
          </div>
        {{/if}}
        {{#if (not (exists system.tier))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-tier-button"
              {{#if (not editable)}}
                    disabled="disabled"
              {{/if}}
            >
              {{{config.icons.add}}}
              Tier
            </button>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>
