<div class="ab-menu">
  <div class="ab-menu-content">
    <div class="ab-menu-bar">
      <div class="tgrid ab-check-grid">
        <div class="tgrid-item">
          <label for="basic">Basic</label>
          <input
            type="checkbox"
            id="basic"
            name="system.basic"
            data-edit="system.basic"
            {{checked system.basic}}
            {{#if (not editable)}}
              disabled="true"
            {{/if}}
          />
        </div>
        <div class="tgrid-item">
          <label for="standard">Standard</label>
          <input
            type="checkbox"
            id="standard"
            name="system.standard"
            data-edit="system.standard"
            {{checked system.standard}}
            {{#if (not editable)}}
              disabled="true"
            {{/if}}
          />
        </div>
        <div class="tgrid-item">
          <label for="skill">Skill</label>
          <input
            type="checkbox"
            id="skill"
            name="system.skill"
            data-edit="system.skill"
            {{checked system.skill}}
            {{#if (not editable)}}
              disabled="true"
            {{/if}}
          />
        </div>
        <div class="tgrid-item">
          <label for="spell">Spell</label>
          <input
            type="checkbox"
            id="spell"
            name="system.spell"
            data-edit="system.spell"
            {{checked system.spell}}
            {{#if (not editable)}}
              disabled="true"
            {{/if}}
          />
        </div>
        <div class="tgrid-item">
          <label for="ritual">Ritual</label>
          <input
            type="checkbox"
            id="ritual"
            name="system.ritual"
            data-edit="system.ritual"
            {{checked system.ritual}}
            {{#if (not editable)}}
              disabled="true"
            {{/if}}
          />
        </div>
        <div class="tgrid-item">
          <label for="rotator">Rotator</label>
          <input
            type="checkbox"
            id="rotator"
            name="system.rotator"
            data-edit="system.rotator"
            {{checked system.rotator}}
            {{#if (not editable)}}
              disabled="true"
            {{/if}}
          />
        </div>
        <div class="tgrid-item">
          <label for="sustained">Sustained</label>
          <input
            type="checkbox"
            id="sustained"
            name="system.sustained"
            data-edit="system.sustained"
            {{checked system.sustained}}
            {{#if (not editable)}}
              disabled="true"
            {{/if}}
          />
        </div>
        <div class="tgrid-item">
          <label for="invoked">Invoked</label>
          <input
            type="checkbox"
            id="invoked"
            name="system.costs.invoked"
            data-edit="system.costs.invoked"
            {{checked system.costs.invoked}}
            {{#if (not editable)}}
              disabled="true"
            {{/if}}
          />
        </div>
        <div class="tgrid-item">
          <label for="verbal">Verbal</label>
          <input
            type="checkbox"
            id="verbal"
            name="system.costs.verbal"
            data-edit="system.costs.verbal"
            {{checked system.costs.verbal}}
            {{#if (not editable)}}
              disabled="true"
            {{/if}}
          />
        </div>
        <div class="tgrid-item">
          <label for="somatic">Somatic</label>
          <input
            type="checkbox"
            id="somatic"
            name="system.costs.somatic"
            data-edit="system.costs.somatic"
            {{checked system.costs.somatic}}
            {{#if (not editable)}}
              disabled="true"
            {{/if}}
          />
        </div>
        <div class="tgrid-item">
          <label for="proficient">Proficient</label>
          <input
            type="checkbox"
            id="proficient"
            name="system.forceProficient"
            data-edit="system.forceProficient"
            {{checked system.forceProficient}}
            {{#if (not editable)}}
              disabled="true"
            {{/if}}
          />
        </div>
        {{!-- <div class="tgrid-item">
          <label for="fluent">Fluent</label>
          <input
            type="checkbox"
            id="fluent"
            name="system.forceFluent"
            data-edit="system.forceFluent"
            {{checked system.forceFluent}}
            {{#if (not editable)}}
              disabled="true"
            {{/if}}
          />
        </div> --}}
        <div class="tgrid-item">
          <label for="elderSorcery">Elder Sorcery</label>
          <input
            type="checkbox"
            id="elderSorcery"
            name="system.elderSorcery"
            data-edit="system.elderSorcery"
            {{checked system.elderSorcery}}
            {{#if (not editable)}}
              disabled="true"
            {{/if}}
          />
        </div>
      </div>
    </div>
    <div class="ab-menu-bar">
      <div class="tgrid ab-select-grid">
        <div class="tgrid-item">
          <div class="ab-multi-select-label ab-multi-select-power">
            <multi-select
              name="system.powerSources"
              data-edit="system.powerSources"
              {{#if (not editable)}}
                disabled="true"
              {{/if}}
            >
              {{selectOptions
                config.abilityOptions.powerSources
                selected=system.powerSources
              }}
            </multi-select>
          </div>
        </div>
        <div class="tgrid-item">
          <div class="ab-multi-select-label ab-multi-select-element">
            <multi-select name="system.elements" data-edit="system.elements"
              {{#if (not editable)}}
                disabled="true"
              {{/if}}
            >
              {{selectOptions
                config.abilityOptions.elements
                selected=system.elements
              }}
            </multi-select>
          </div>
        </div>
        <div class="tgrid-item">
          <div class="ab-multi-select-label ab-multi-select-effects">
            <multi-select name="system.effects" data-edit="system.effects"
              {{#if (not editable)}}
                disabled="true"
              {{/if}}
            >
              {{selectOptions
                config.abilityOptions.effects
                selected=system.effects
              }}
            </multi-select>
          </div>
        </div>
        <div class="tgrid-item">
          <select name="system.class" data-edit="system.class"
            {{#if (not editable)}}
              disabled="true"
            {{/if}}
          >
            <option value="" selected>Class</option>
            {{selectOptions config.abilityOptions.class selected=system.class}}
          </select>
        </div>
      </div>
    </div>
    <div class="ab-menu-bar">
      <div class="tgrid ab-button-grid">
        {{#if (not (exists system.expansion))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-expansion-button"
              {{#if (not editable)}}
                disabled="true"
              {{/if}}
            >
              {{{config.icons.add}}}
              Expansion
            </button>
          </div>
        {{/if}}

        {{! Before Overview }}
        {{#if (not (exists system.costs.mp))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-mana-cost-button"
              {{#if (not editable)}}
                disabled="true"
              {{/if}}
            >
              {{{config.icons.add}}}
              Mana Cost
            </button>
          </div>
        {{/if}}
        {{#if (not (exists system.costs.hp))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-hit-cost-button"
              {{#if (not editable)}}
                disabled="true"
              {{/if}}
            >
              {{{config.icons.add}}}
              Hit Cost
            </button>
          </div>
        {{/if}}
        {{#if (not (exists system.costs.break))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-break-cost-button"
              {{#if (not editable)}}
                disabled="true"
              {{/if}}
            >
              {{{config.icons.add}}}
              Break Cost
            </button>
          </div>
        {{/if}}
        {{#if (not (exists system.costs.materialCost))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-material-cost-button"
              {{#if (not editable)}}
                disabled="true"
              {{/if}}
            >
              {{{config.icons.add}}}
              Material Cost
            </button>
          </div>
        {{/if}}
        {{#if (not (exists system.trigger))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-trigger-button"
              {{#if (not editable)}}
                disabled="true"
              {{/if}}
            >
              {{{config.icons.add}}}
              Trigger
            </button>
          </div>
        {{/if}}
        {{#if (not (exists system.limitation))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-limitation-button"
              {{#if (not editable)}}
                disabled="true"
              {{/if}}
            >
              {{{config.icons.add}}}
              Limitation
            </button>
          </div>
        {{/if}}
        {{#if (not (exists system.improvement))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-improvement-button"
              {{#if (not editable)}}
                disabled="true"
              {{/if}}
            >
              {{{config.icons.add}}}
              Improvement
            </button>
          </div>
        {{/if}}

        {{! Overview }}
        {{#if (not (exists system.overview.base))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-base-button"
              {{#if (not editable)}}
                disabled="true"
              {{/if}}
            >
              {{{config.icons.add}}}
              Description
            </button>
          </div>
        {{/if}}

        {{! After Overview }}
        {{#if (not (exists system.overview.proficient))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-proficient-button"
              {{#if (not editable)}}
                disabled="true"
              {{/if}}
            >
              {{{config.icons.add}}}
              If Proficient
            </button>
          </div>
        {{/if}}
        {{#if (not (exists system.overview.fluent))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-fluent-button"
              {{#if (not editable)}}
                disabled="true"
              {{/if}}
            >
              {{{config.icons.add}}}
              If Fluent
            </button>
          </div>
        {{/if}}
        {{#if (not (exists system.heightened))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-heightened-button"
              {{#if (not editable)}}
                disabled="true"
              {{/if}}
            >
              {{{config.icons.add}}}
              Heightened
            </button>
          </div>
        {{/if}}

        {{! Attack }}
        {{#if (eq system.interaction "attack")}}
          {{#if (not (exists system.results.critHit))}}
            <div class="tgrid-item">
              <button class="ab-menu-button ab-crit-hit-button"
                {{#if (not editable)}}
                  disabled="true"
                {{/if}}
              >
                {{{config.icons.add}}}
                On Critical Hit
              </button>
            </div>
          {{/if}}
          {{#if (not (exists system.results.hit))}}
            <div class="tgrid-item">
              <button class="ab-menu-button ab-hit-button"
                {{#if (not editable)}}
                  disabled="true"
                {{/if}}
              >
                {{{config.icons.add}}}
                On Hit
              </button>
            </div>
          {{/if}}
          {{#if (not (exists system.results.miss))}}
            <div class="tgrid-item">
              <button class="ab-menu-button ab-miss-button"
                {{#if (not editable)}}
                  disabled="true"
                {{/if}}
              >
                {{{config.icons.add}}}
                On Miss
              </button>
            </div>
          {{/if}}
          {{#if (not (exists system.results.critMiss))}}
            <div class="tgrid-item">
              <button class="ab-menu-button ab-crit-miss-button"
                {{#if (not editable)}}
                  disabled="true"
                {{/if}}
              >
                {{{config.icons.add}}}
                On Critical Miss
              </button>
            </div>
          {{/if}}
        {{/if}}

        {{! Feat }}
        {{#if (eq system.interaction "feat")}}
          {{#if (not (exists system.results.critFail))}}
            <div class="tgrid-item">
              <button class="ab-menu-button ab-crit-fail-button"
                {{#if (not editable)}}
                  disabled="true"
                {{/if}}
              >
                {{{config.icons.add}}}
                On Critical Fail
              </button>
            </div>
          {{/if}}
          {{#if (not (exists system.results.fail))}}
            <div class="tgrid-item">
              <button class="ab-menu-button ab-fail-button"
                {{#if (not editable)}}
                  disabled="true"
                {{/if}}
              >
                {{{config.icons.add}}}
                On Fail
              </button>
            </div>
          {{/if}}
          {{#if (not (exists system.results.save))}}
            <div class="tgrid-item">
              <button class="ab-menu-button ab-save-button"
                {{#if (not editable)}}
                  disabled="true"
                {{/if}}
              >
                {{{config.icons.add}}}
                On Save
              </button>
            </div>
          {{/if}}
          {{#if (not (exists system.results.critSave))}}
            <div class="tgrid-item">
              <button class="ab-menu-button ab-crit-save-button"
                {{#if (not editable)}}
                  disabled="true"
                {{/if}}
              >
                {{{config.icons.add}}}
                On Critical Save
              </button>
            </div>
          {{/if}}
        {{/if}}

        {{! Block }}
        {{#if (eq system.interaction "block")}}
          {{#if (not (exists system.results.save))}}
            <div class="tgrid-item">
              <button class="ab-menu-button ab-save-button"
                {{#if (not editable)}}
                  disabled="true"
                {{/if}}
              >
                {{{config.icons.add}}}
                On Save
              </button>
            </div>
          {{/if}}
          {{#if (not (exists system.results.fail))}}
            <div class="tgrid-item">
              <button class="ab-menu-button ab-fail-button"
                {{#if (not editable)}}
                  disabled="true"
                {{/if}}
              >
                {{{config.icons.add}}}
                On Fail
              </button>
            </div>
          {{/if}}
        {{/if}}

        {{! Other }}
        {{#if (not (exists system.endCondition))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-end-condition-button"
              {{#if (not editable)}}
                disabled="true"
              {{/if}}
            >
              {{{config.icons.add}}}
              End Condition
            </button>
          </div>
        {{/if}}
        {{#if (not (exists system.requirements))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-requirements-button"
              {{#if (not editable)}}
                disabled="true"
              {{/if}}
            >
              {{{config.icons.add}}}
              Requirements
            </button>
          </div>
        {{/if}}

        {{! Improvements }}
        {{#if
          (not (exists system.improvements.attributeImprovement.attribute))
        }}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-attribute-improvement-button"
              {{#if (not editable)}}
                disabled="true"
              {{/if}}
            >
              {{{config.icons.add}}}
              Attribute Improvement
            </button>
          </div>
        {{/if}}
        {{#if (not (exists system.improvements.featSaveImprovement.attribute))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-feat-save-improvement-button"
              {{#if (not editable)}}
                disabled="true"
              {{/if}}
            >
              {{{config.icons.add}}}
              Feat Save Improvement
            </button>
          </div>
        {{/if}}
      </div>
    </div>
    <section class="tab changes active">
      <header>
        <div class="key">{{localize "EFFECT.ChangeKey"}}</div>
        <div class="mode">{{localize "EFFECT.ChangeMode"}}</div>
        <div class="value">{{localize "EFFECT.ChangeValue"}}</div>
        <div class="priority">{{localize "EFFECT.ChangePriority"}}</div>
        <div class="controls"><a data-action="addChange"><i class="fa-regular fa-square-plus"></i></a></div>
      </header>
      <ol class="scrollable" data-changes>
        {{#each source.changes as |change i|}}
          {{#with ../fields.changes.element.fields as |changeFields|}}
            <li data-index="{{i}}">
              <div class="key">
                {{formInput changeFields.key
                  name=(concat "changes." i ".key")
                  value=change.key
                  disabled=(not ../editable)
                }}
              </div>
              <div class="mode">
                {{formInput changeFields.mode
                  name=(concat "changes." i ".mode")
                  value=change.mode
                  choices=@root.modes
                  disabled=(not ../editable)
                }}
              </div>
              <div class="value">
                {{formInput
                  changeFields.value
                  name=(concat "changes." i ".value")
                  value=change.value
                  disabled=(not ../editable)
                }}
              </div>
              <div class="priority">
                {{formInput
                  changeFields.priority
                  name=(concat "changes." i ".priority")
                  value=change.priority
                  placeholder=(lookup ../../priorities change.mode)
                  disabled=(not ../editable)
                }}
              </div>
              <div class="controls">
                <a data-action="deleteChange"
                  {{#if (not ../editable)}}
                    disabled="true"
                  {{/if}}
                ><i class="fa-solid fa-trash"></i></a>
              </div>
            </li>
          {{/with}}
        {{/each}}
      </ol>
    </section>
  </div>
</div>