<div class="ab-menu">
  <div class="ab-menu-content">
    <div class="ab-menu-bar">
      <div class="tgrid ab-check-grid">
        {{formGroup
          systemFields.basic
          value=system.basic
          disabled=(not editable)
          classes="tgrid-item"
        }}
        {{formGroup
          systemFields.standard
          value=system.standard
          disabled=(not editable)
          classes="tgrid-item"
        }}
        {{formGroup
          systemFields.skill
          value=system.skill
          disabled=(not editable)
          classes="tgrid-item"
        }}
        {{formGroup
          systemFields.spell
          value=system.spell
          disabled=(not editable)
          classes="tgrid-item"
        }}
        {{formGroup
          systemFields.ritual
          value=system.ritual
          disabled=(not editable)
          classes="tgrid-item"
        }}
        {{formGroup
          systemFields.rotator
          value=system.rotator
          disabled=(not editable)
          classes="tgrid-item"
        }}
        {{formGroup
          systemFields.sustained
          value=system.sustained
          disabled=(not editable)
          classes="tgrid-item"
        }}
        {{formGroup
          systemFields.invoked
          value=system.costs.invoked
          disabled=(not editable)
          classes="tgrid-item"
        }}
        {{formGroup
          systemFields.costs.fields.verbal
          value=system.costs.verbal
          disabled=(not editable)
          classes="tgrid-item"
        }}
        {{formGroup
          systemFields.costs.fields.somatic
          value=system.costs.somatic
          disabled=(not editable)
          classes="tgrid-item"
        }}
        {{formGroup
          systemFields.proficient
          value=system.proficient
          disabled=(not editable)
          classes="tgrid-item"
        }}
        {{formGroup
          systemFields.elderSorcery
          value=system.elderSorcery
          disabled=(not editable)
          classes="tgrid-item"
        }}
      </div>
    </div>
    <div class="ab-menu-bar">
      <div class="tgrid ab-select-grid">
        <div class="tgrid-item">
          <div class="ab-multi-select-label ab-multi-select-power">
            <multi-select
              name="system.powerSources"
              data-edit="system.powerSources"
              {{#if (not editable)}}
                disabled="true"
              {{/if}}
            >
              {{selectOptions
                config.abilityOptions.powerSources
                selected=system.powerSources
              }}
            </multi-select>
          </div>
        </div>
        <div class="tgrid-item">
          <div class="ab-multi-select-label ab-multi-select-element">
            <multi-select name="system.elements" data-edit="system.elements"
              {{#if (not editable)}}
                disabled="true"
              {{/if}}
            >
              {{selectOptions
                config.abilityOptions.elements
                selected=system.elements
              }}
            </multi-select>
          </div>
        </div>
        <div class="tgrid-item">
          <div class="ab-multi-select-label ab-multi-select-effects">
            <multi-select name="system.effects" data-edit="system.effects"
              {{#if (not editable)}}
                disabled="true"
              {{/if}}
            >
              {{selectOptions
                config.abilityOptions.effects
                selected=system.effects
              }}
            </multi-select>
          </div>
        </div>
        <div class="tgrid-item">
          <select name="system.class" data-edit="system.class"
            {{#if (not editable)}}
              disabled="true"
            {{/if}}
          >
            <option value="" selected>Class</option>
            {{selectOptions config.abilityOptions.class selected=system.class}}
          </select>
        </div>
      </div>
    </div>
    <div class="ab-menu-bar">
      <div class="tgrid ab-button-grid">
        {{#if (not (exists system.expansion))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-expansion-button"
              {{#if (not editable)}}
                disabled="true"
              {{/if}}
            >
              {{{config.icons.add}}}
              Expansion
            </button>
          </div>
        {{/if}}

        {{! Before Overview }}
        {{#if (eq system.costs.mp.type "none")}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-mana-cost-button"
              {{#if (not editable)}}
                disabled="true"
              {{/if}}
            >
              {{{config.icons.add}}}
              Mana Cost
            </button>
          </div>
        {{/if}}
        {{#if (eq system.costs.hp.type "none")}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-hit-cost-button"
              {{#if (not editable)}}
                disabled="true"
              {{/if}}
            >
              {{{config.icons.add}}}
              Hit Cost
            </button>
          </div>
        {{/if}}
        {{#if (not (exists system.costs.break))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-break-cost-button"
              {{#if (not editable)}}
                disabled="true"
              {{/if}}
            >
              {{{config.icons.add}}}
              Break Cost
            </button>
          </div>
        {{/if}}
        {{#if (not (exists system.costs.materialCost))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-material-cost-button"
              {{#if (not editable)}}
                disabled="true"
              {{/if}}
            >
              {{{config.icons.add}}}
              Material Cost
            </button>
          </div>
        {{/if}}
        {{#if (not (exists system.trigger))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-trigger-button"
              {{#if (not editable)}}
                disabled="true"
              {{/if}}
            >
              {{{config.icons.add}}}
              Trigger
            </button>
          </div>
        {{/if}}
        {{#if (not (exists system.limitation))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-limitation-button"
              {{#if (not editable)}}
                disabled="true"
              {{/if}}
            >
              {{{config.icons.add}}}
              Limitation
            </button>
          </div>
        {{/if}}
        {{#if (not (exists system.improvement))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-improvement-button"
              {{#if (not editable)}}
                disabled="true"
              {{/if}}
            >
              {{{config.icons.add}}}
              Improvement
            </button>
          </div>
        {{/if}}

        {{! Overview }}
        {{#if (not (exists system.overview.base))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-base-button"
              {{#if (not editable)}}
                disabled="true"
              {{/if}}
            >
              {{{config.icons.add}}}
              Description
            </button>
          </div>
        {{/if}}

        {{! After Overview }}
        {{#if (not (exists system.overview.proficient))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-proficient-button"
              {{#if (not editable)}}
                disabled="true"
              {{/if}}
            >
              {{{config.icons.add}}}
              If Proficient
            </button>
          </div>
        {{/if}}
        {{#if (not (exists system.overview.fluent))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-fluent-button"
              {{#if (not editable)}}
                disabled="true"
              {{/if}}
            >
              {{{config.icons.add}}}
              If Fluent
            </button>
          </div>
        {{/if}}
        {{#if (not (exists system.heightened))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-heightened-button"
              {{#if (not editable)}}
                disabled="true"
              {{/if}}
            >
              {{{config.icons.add}}}
              Heightened
            </button>
          </div>
        {{/if}}

        {{! Attack }}
        {{#if (eq system.interaction "attack")}}
          {{#if (not (exists system.results.critHit))}}
            <div class="tgrid-item">
              <button class="ab-menu-button ab-crit-hit-button"
                {{#if (not editable)}}
                  disabled="true"
                {{/if}}
              >
                {{{config.icons.add}}}
                On Critical Hit
              </button>
            </div>
          {{/if}}
          {{#if (not (exists system.results.hit))}}
            <div class="tgrid-item">
              <button class="ab-menu-button ab-hit-button"
                {{#if (not editable)}}
                  disabled="true"
                {{/if}}
              >
                {{{config.icons.add}}}
                On Hit
              </button>
            </div>
          {{/if}}
          {{#if (not (exists system.results.miss))}}
            <div class="tgrid-item">
              <button class="ab-menu-button ab-miss-button"
                {{#if (not editable)}}
                  disabled="true"
                {{/if}}
              >
                {{{config.icons.add}}}
                On Miss
              </button>
            </div>
          {{/if}}
          {{#if (not (exists system.results.critMiss))}}
            <div class="tgrid-item">
              <button class="ab-menu-button ab-crit-miss-button"
                {{#if (not editable)}}
                  disabled="true"
                {{/if}}
              >
                {{{config.icons.add}}}
                On Critical Miss
              </button>
            </div>
          {{/if}}
        {{/if}}

        {{! Feat }}
        {{#if (eq system.interaction "feat")}}
          {{#if (not (exists system.results.critFail))}}
            <div class="tgrid-item">
              <button class="ab-menu-button ab-crit-fail-button"
                {{#if (not editable)}}
                  disabled="true"
                {{/if}}
              >
                {{{config.icons.add}}}
                On Critical Fail
              </button>
            </div>
          {{/if}}
          {{#if (not (exists system.results.fail))}}
            <div class="tgrid-item">
              <button class="ab-menu-button ab-fail-button"
                {{#if (not editable)}}
                  disabled="true"
                {{/if}}
              >
                {{{config.icons.add}}}
                On Fail
              </button>
            </div>
          {{/if}}
          {{#if (not (exists system.results.save))}}
            <div class="tgrid-item">
              <button class="ab-menu-button ab-save-button"
                {{#if (not editable)}}
                  disabled="true"
                {{/if}}
              >
                {{{config.icons.add}}}
                On Save
              </button>
            </div>
          {{/if}}
          {{#if (not (exists system.results.critSave))}}
            <div class="tgrid-item">
              <button class="ab-menu-button ab-crit-save-button"
                {{#if (not editable)}}
                  disabled="true"
                {{/if}}
              >
                {{{config.icons.add}}}
                On Critical Save
              </button>
            </div>
          {{/if}}
        {{/if}}

        {{! Block }}
        {{#if (eq system.interaction "block")}}
          {{#if (not (exists system.results.save))}}
            <div class="tgrid-item">
              <button class="ab-menu-button ab-save-button"
                {{#if (not editable)}}
                  disabled="true"
                {{/if}}
              >
                {{{config.icons.add}}}
                On Save
              </button>
            </div>
          {{/if}}
          {{#if (not (exists system.results.fail))}}
            <div class="tgrid-item">
              <button class="ab-menu-button ab-fail-button"
                {{#if (not editable)}}
                  disabled="true"
                {{/if}}
              >
                {{{config.icons.add}}}
                On Fail
              </button>
            </div>
          {{/if}}
        {{/if}}

        {{! Other }}
        {{#if (not (exists system.endCondition))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-end-condition-button"
              {{#if (not editable)}}
                disabled="true"
              {{/if}}
            >
              {{{config.icons.add}}}
              End Condition
            </button>
          </div>
        {{/if}}
        {{#if (not (exists system.requirements))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-requirements-button"
              {{#if (not editable)}}
                disabled="true"
              {{/if}}
            >
              {{{config.icons.add}}}
              Requirements
            </button>
          </div>
        {{/if}}

        {{! Improvements }}
        {{#if
          (not (exists system.improvements.attributeImprovement.attribute))
        }}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-attribute-improvement-button"
              {{#if (not editable)}}
                disabled="true"
              {{/if}}
            >
              {{{config.icons.add}}}
              Attribute Improvement
            </button>
          </div>
        {{/if}}
        {{#if (not (exists system.improvements.featSaveImprovement.attribute))}}
          <div class="tgrid-item">
            <button class="ab-menu-button ab-feat-save-improvement-button"
              {{#if (not editable)}}
                disabled="true"
              {{/if}}
            >
              {{{config.icons.add}}}
              Feat Save Improvement
            </button>
          </div>
        {{/if}}
      </div>
    </div>
    {{> "systems/teriock/templates/common/changes.hbs"}}
  </div>
</div>