<div class="ab-header">
  <div class="ab-profile-img">
    <img
      class="profile-img"
      src="{{item.img}}"
      data-edit="img"
      data-action="onEditImage"
      title="{{item.name}}"
    />
  </div>
  <div class="ab-title">
    <input type="text" name="name" value="{{item.name}}" placeholder="Name" />
  </div>
  <div class="ab-top-buttons-container">
    <div class="ab-top-buttons">
      <div class="ab-icon ab-top-button open-button">
        {{{config.icons.wiki}}}
      </div>
      <div class="ab-icon ab-top-button reload-button">
        {{{config.icons.import}}}
      </div>
      <div class="ab-icon ab-top-button chat-button">
        {{{config.icons.chat}}}
      </div>
    </div>
  </div>
</div>