<li class="teriock chat-message message flexcol {{cssClass}}" data-message-id="{{message._id}}"
    {{#if borderColor}}style="border-color:{{borderColor}}"{{/if}}>
  <header class="message-header flexrow">
    <div class="messenger">
      <div class="message-avatar">
        <img class="{{#if message.rescale}}rescale{{/if}}" src="{{message.img}}" alt="">
      </div>
      <div class="message-author">
        <h4 class="message-sender">{{alias}}</h4>
        {{#if message.writer}}
          <div class="message-writer">
            {{message.writer}}
          </div>
        {{/if}}
      </div>
    </div>
    <span class="message-metadata">
            <time class="message-timestamp">{{timeSince message.timestamp}}</time>
      {{#if canDelete}}
        <a aria-label="{{localize 'Delete'}}" class="message-delete" data-action="deleteMessage">
          <i class="fa-solid fa-trash" inert></i>
        </a>
      {{/if}}
      {{#if canClose}}
        <a aria-label="{{ localize "CHAT.Dismiss" }}" class="message-dismiss" data-action="dismissMessage">
          <i class="fa-solid fa-xmark" inert></i>
        </a>
      {{/if}}
        </span>

    {{#if isWhisper}}
      <span class="whisper-to">{{localize 'CHAT.To'}}: {{whisperTo}}</span>
    {{/if}}

    {{#if message.flavor}}
      <span class="flavor-text">{{{message.flavor}}}</span>
    {{/if}}
  </header>
  <div class="message-content">
    <div class="teriock-chat-message-content">
      {{#if (exists message.system.panels)}}
        <div class="teriock-panels">
          {{#each message.system.panels as |panel|}}
            {{> "systems/teriock/src/templates/message-templates/panel.hbs" message=true}}
          {{/each}}
        </div>
      {{/if}}
      {{{message.content}}}
    </div>
  </div>
</li>
