<div
  class="teriock dice-roll"
  data-action="expandRoll"
>
  {{#if flavor}}
    <div class="teriock-flavor-text">{{flavor}}</div>
  {{/if}}
  <div class="dice-result">
    {{#if (exists targets)}}
      {{#each targets as |target|}}
        <div
          class="teriock-target-container dice-formula"
          data-tooltip="Select Target"
          data-tooltip-direction="LEFT"
          {{#if (exists actorUuid)}}data-actor-uuid="{{actorUuid}}" {{/if}}
          {{#if (exists tokenUuid)}}data-token-uuid="{{tokenUuid}}" {{/if}}
          data-action="selectTarget"
        >
          <div class="teriock-target-img">
            <img {{#if rescale}}class="rescale"{{/if}} src="{{img}}" alt="" data-openable="true">
          </div>
          <h6 class="teriock-target-name">{{name}}</h6>
        </div>
      {{/each}}
    {{/if}}
    {{#if (not hideRoll)}}
      <div
        class="dice-formula teriock-dice-formula {{styles.dice.classes}}"
        style="word-break: auto-phrase;"
        {{#if (exists styles.dice.tooltip)}}data-tooltip="{{styles.dice.tooltip}}"{{/if}}
        data-tooltip-direction="LEFT"
      >
        {{formula}}
      </div>
      {{{tooltip}}}
      <h4
        class="dice-total teriock-dice-total {{styles.total.classes}}"
        {{#if (exists styles.total.tooltip)}}data-tooltip="{{styles.total.tooltip}}"{{/if}}
        data-tooltip-direction="LEFT"
      >{{#if (exists styles.total.icon)}}<i class="teriock-dice-total-icon fa-regular fa-fw fa-{{styles.total
      .icon}}"></i>{{/if}}
        {{total}}
      </h4>
    {{/if}}
  </div>
</div>
