<div class="teriock-full-width">
  {{formGroup
    (lookup (lookup (lookup (lookup (lookup (lookup (lookup (lookup (lookup (lookup (lookup systemFields.applies.fields typeKey) "fields") "expiration") "fields") expirationKey) "fields") "combat") "fields") "what") "fields") "type")
    value=(lookup (lookup (lookup (lookup (lookup (lookup system.applies.fields typeKey) "expiration") expirationKey) "combat") "what") "type")
    disabled=(not editable)
    classes="teriock-full-width"
  }}
  {{formGroup
    (lookup (lookup (lookup (lookup (lookup (lookup (lookup (lookup (lookup (lookup (lookup systemFields.applies.fields typeKey) "fields") "expiration") "fields") expirationKey) "fields") "combat") "fields") "what") "fields") "roll")
    value=(lookup (lookup (lookup (lookup (lookup (lookup system.applies.fields typeKey) "expiration") expirationKey) "combat") "what") "roll")
    disabled=(not editable)
    classes="teriock-full-width"
  }}
  {{formGroup
    (lookup (lookup (lookup (lookup (lookup (lookup (lookup (lookup (lookup (lookup (lookup systemFields.applies.fields typeKey) "fields") "expiration") "fields") expirationKey) "fields") "combat") "fields") "what") "fields") "threshold")
    value=(lookup (lookup (lookup (lookup (lookup (lookup system.applies.fields typeKey) "expiration") expirationKey) "combat") "what") "threshold")
    disabled=(not editable)
    classes="teriock-full-width"
  }}
  {{formGroup
    (lookup (lookup (lookup (lookup (lookup (lookup (lookup (lookup (lookup (lookup (lookup systemFields.applies.fields typeKey) "fields") "expiration") "fields") expirationKey) "fields") "combat") "fields") "when") "fields") "time")
    value=(lookup (lookup (lookup (lookup (lookup (lookup system.applies.fields typeKey) "expiration") expirationKey) "combat") "when") "time")
    disabled=(not editable)
    classes="teriock-full-width"
  }}
  {{formGroup
    (lookup (lookup (lookup (lookup (lookup (lookup (lookup (lookup (lookup (lookup (lookup systemFields.applies.fields typeKey) "fields") "expiration") "fields") expirationKey) "fields") "combat") "fields") "when") "fields") "trigger")
    value=(lookup (lookup (lookup (lookup (lookup (lookup system.applies.fields typeKey) "expiration") expirationKey) "combat") "when") "trigger")
    disabled=(not editable)
    classes="teriock-full-width"
  }}
  {{formGroup
    (lookup (lookup (lookup (lookup (lookup (lookup (lookup (lookup (lookup (lookup (lookup systemFields.applies.fields typeKey) "fields") "expiration") "fields") expirationKey) "fields") "combat") "fields") "when") "fields") "skip")
    value=(lookup (lookup (lookup (lookup (lookup (lookup system.applies.fields typeKey) "expiration") expirationKey) "combat") "when") "skip")
    disabled=(not editable)
    classes="teriock-full-width"
  }}
  {{formGroup
    (lookup (lookup (lookup (lookup (lookup (lookup (lookup (lookup (lookup (lookup (lookup systemFields.applies.fields typeKey) "fields") "expiration") "fields") expirationKey) "fields") "combat") "fields") "who") "fields") "type")
    value=(lookup (lookup (lookup (lookup (lookup (lookup system.applies.fields typeKey) "expiration") expirationKey) "combat") "when") "skip")
    disabled=(not editable)
    classes="teriock-full-width"
  }}
</div>