<form class="dialog-form standard-form heal-dialog">
  <div class="stat-header">
    <div class="ab-profile-img timage" data-tooltip="{{name}}">
      <img src="{{img}}" alt="">
    </div>
    <div class="stat-bar">
      {{> (template "document-templates/actor-templates/playable-template/parts/ch-bar-mp.hbs")}}
    </div>
  </div>
  <p class="hint">Click on the mana dice you want to spend.</p>
  <fieldset class="heal-dialog-dice">
    <legend>Mana Dice</legend>
    <div class="tgrid g7">
      {{{system.sheet.dieBox.mp}}}
    </div>
  </fieldset>
  {{formGroup forHarmField value=forHarm rootId=uuid name="for-harm"}}
  {{formGroup
    consumeStatDiceField
    value=consumeStatDice
    rootId=uuid
    name="consume-dice"
  }}
  <footer class="form-footer" style="margin-top:auto;">
    <button type="submit" data-action="ok" autofocus>
      {{makeIcon TERIOCK.display.icons.ui.done "button"}}<span>Done</span>
    </button>
  </footer>
</form>