<div class="teriock">
  <div class="form-group">
    {{#if (exists hint)}}
      <p class="hint">
        {{{hint}}}
      </p>
    {{/if}}
    <ul class="token-select tcard-container small">
      {{#each tokens as |token uuid|}}
        <label class="token-select-row tcard">
          <label class="token-checkbox-container">
            <input id="token-{{uuid}}" type="checkbox" name="{{uuid}}">
          </label>
          <label class="token-image-container" for="token-{{uuid}}">
            <img src="{{token.img}}" alt="{{token.name}}">
          </label>
          <label class="token-name-container" for="token-{{uuid}}">
            {{token.name}}
          </label>
        </label>
      {{/each}}
    </ul>
  </div>
</div>
